

#w { position: sticky; overflow-x: hidden; overflow-y: hidden; }

/** @group core body **/
#w #pagebody { position: relative; left: 0;  z-index: 99999; }

#w #navmenu { background: #000; height: 100%; display: block; position: absolute;  left: 0px; top: 0px; z-index: 0;width: 250px;min-height: 540px;  }

.top-nav-my-account.top-nav-link {color: #fff;}
/** @group header **/
#w #pagebody header#toolbarnav { display: block; position: fixed; left: 0px; top: 0px; z-index: 9999; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; height: 44px;}

#navmenu header {float: left;padding: 10px;width: 80%; border-bottom: 1px solid #ccc;}
#navmenu ul {float: left;width: 88%;margin: 10px 0 0;}
#navmenu ul li {padding: 10px; }
.navlink {color: #fff;font-family: khand-semibold;font-size: 20px;text-transform: capitalize;}
#navmenu header h1 {float: left;font-family: khand-semibold;font-size: 25px;margin: 0;width: 100%;}
#menu-btn { display: block; float: left; width: 53px; height: 30px; background: url('img/nav-btn.png') no-repeat; margin-top: 6px; margin-left: 8px; display: none;}

#w #pagebody #content { border: none;display: block; background: #fff; padding: 0; margin: 0; min-height: 550px; height: 100%; z-index: 9999; width: auto;}
.sidebar_logo {bottom: 0;position: absolute;}

/** @group nav menu **/#navmenu ul li {padding: 10px; }
