<?php
/**
 * @category    Mana
 * @package     ManaPro_FilterAdvanced
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**
 * Category layered navigation
 * @author Mana Team
 * Injected instead of standard catalog/layer/view.phtml.
 */
/* @var $this Mana_Filters_Block_View */
?>
<?php
/**
 * Category layered navigation
 *
 * @see Mage_Catalog_Block_Layer_View
 */

/* @var $core Mana_Core_Helper_Data */
$core = Mage::helper('mana_core');

/* @var $filterHelper Mana_Filters_Helper_Data */
$filterHelper = Mage::helper('mana_filters');
$total_filters=count($filterHelper);
$current_category=Mage::registry('current_category');
$level=$current_category['level'];
$merk=$_GET['merken'];
?>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl()?>css/scroller/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="<?php echo $this->getSkinUrl()?>css/scroller/style.css">
<script type="text/javascript" src="<?php echo $this->getSkinUrl()?>css/scroller/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
        jQuery.noConflict();
        (function(jQuery){
                jQuery(document).ready(function(){
                        jQuery(".content-7").mCustomScrollbar({
                                scrollButtons:{enable:true},
                                theme:"3d-thick"
                        });


                });
        })(jQuery);
</script>
<?php //AME
$_helper    = $this->helper('catalog/output');
$_category  = $current_category;
?>
<?php if($this->canShowBlock()): ?>
<div class="block block-layered-nav">
    <div class="block-title">
        <?php if(!$current_category){?>
            <h1 style="text-align:center; font-size:26px; margin-bottom:30px;"><?php echo $this->__('Search results'); //AME initially from catalog/category/view.phtml ?></h1>
       <?php }  else {?>
		<h1 style="text-align:center; font-size:26px; margin-bottom:30px;"><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') //AME initially from catalog/category/view.phtml ?></h1>
        <?php }?>
    </div>
    <div class="block-content">
        <?php echo $this->getStateHtml() ?>
        <?php if(count(Mage::getSingleton('Mage_Catalog_Block_Layer_State')->getActiveFilters())==1){} else {?>
            <?php if ($core->isMageVersionEqualOrGreater('1.7') && $this->getLayer()->getState()->getFilters()) : ?>
                    <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
            <?php endif; ?>
        <?php } ?>
        <?php if($this->canShowOptions()): ?>
            <?php $_filterGroups = Mage::helper('mana_filters')->renderHtml($this, 'groups'); ?>
            <?php foreach ($_filterGroups as $_filterGroup): ob_start(); ?>
                <?php $_filters = $_filterGroup->getFilters(); ?>
                <?php foreach ($_filters as $_filter): ?>
                <?php $filter_name=$this->__($_filter->getName());
                $_activeFilters=Mage::getSingleton('Mage_Catalog_Block_Layer_State')->getActiveFilters();
                
                      if($level==2 && $merk=="" && $_GET['cat_id']=="")
                      {  
                          if($filter_name=='Category' || $filter_name=='Categorie')
                          {?>
                                <?php if($_filter->getItemsCount()): ?>
                                    <dt class="<?php $filterHelper->renderHtml($this, 'name_css', array('filter' => $_filter)); ?>"
                                        <?php $filterHelper->renderHtml($this, 'name_attributes', array('filter' => $_filter)); ?>>
                                        <?php $filterHelper->renderHtml($this, 'name_before', array('filter' => $_filter)); ?>
                                        <?php echo $this->__($_filter->getName()) ?>
                                        <?php $filterHelper->renderHtml($this, 'name_after', array('filter' => $_filter)); ?>
                                    </dt>
                                    <dd class="<?php $filterHelper->renderHtml($this, 'value_css', array('filter' => $_filter)); ?>">
                                            <?php echo $_filter->getHtml() ?>
                                    </dd>
                                <?php endif; ?>
                      <?php }                   
                      }else if($level==2 && $merk=="" && $_GET['cat_id']!="" &&count($_activeFilters)==0)
                      {
                          if($filter_name=='Category' || $filter_name=='Categorie')
                          {?>
                                <?php if($_filter->getItemsCount()): ?>
                                    <dt class="<?php $filterHelper->renderHtml($this, 'name_css', array('filter' => $_filter)); ?>"
                                        <?php $filterHelper->renderHtml($this, 'name_attributes', array('filter' => $_filter)); ?>
                                    >
                                        <?php $filterHelper->renderHtml($this, 'name_before', array('filter' => $_filter)); ?>
                                        <?php echo $this->__($_filter->getName()) ?>
                                        <?php $filterHelper->renderHtml($this, 'name_after', array('filter' => $_filter)); ?>
                                    </dt>
                                    <dd class="<?php $filterHelper->renderHtml($this, 'value_css', array('filter' => $_filter)); ?>">
                                            <?php echo $_filter->getHtml() ?>
                                    </dd>
                                <?php endif; ?>
                      <?php }                   
                      } 
                     else if($_GET['cat_id']!=""  && count($_activeFilters)!=0){?>
                                       <?php if($this->__($_filter->getName()=='Category') || $filter_name=='Categorie'){ ?>
                                        <?php } else { ?>
                                                <?php if($_filter->getItemsCount()): ?>
                                                <dt class="<?php $filterHelper->renderHtml($this, 'name_css', array('filter' => $_filter)); ?>"
                                                    <?php $filterHelper->renderHtml($this, 'name_attributes', array('filter' => $_filter)); ?>
                                                >
                                                    <?php $filterHelper->renderHtml($this, 'name_before', array('filter' => $_filter)); ?>

                                                    <?php echo $this->__($_filter->getName()) ?>
                                                    <?php $filterHelper->renderHtml($this, 'name_after', array('filter' => $_filter)); ?>
                                                </dt>
                                                <dd class="<?php $filterHelper->renderHtml($this, 'value_css', array('filter' => $_filter)); ?>">
                                                    <?php if($this->__($_filter->getName())=='Category'){ ?>
                                                    <?php } else { ?>
                                                        <div class="content content-7">
                                                            <?php echo $_filter->getHtml() ?>
                                                        </div>
                                                    <?php } ?>
                                                </dd>
                                            <?php endif; ?>
                                    <?php }
                                
                                  } else{?>
                                    <?php if($_filter->getItemsCount()): ?>
                                    <dt class="<?php $filterHelper->renderHtml($this, 'name_css', array('filter' => $_filter)); ?>"
                                        <?php $filterHelper->renderHtml($this, 'name_attributes', array('filter' => $_filter)); ?>>
                                        <?php $filterHelper->renderHtml($this, 'name_before', array('filter' => $_filter)); ?>
                                        <?php echo $this->__($_filter->getName()) ?>
                                        <?php $filterHelper->renderHtml($this, 'name_after', array('filter' => $_filter)); ?>
                                    </dt>
                                    <dd class="<?php $filterHelper->renderHtml($this, 'value_css', array('filter' => $_filter)); ?>">
                                        <div class="content content-7">
                                            <?php echo $_filter->getHtml() ?>
                                        </div>
                                    </dd>
                                <?php endif; ?>
                                <?php } ?>
                <?php endforeach; ?>
                <?php if($_filterGroupHtml = trim(ob_get_clean())) : ?>
                    <?php $_filterGroupName = $_filterGroup->getName() ? $this->__($_filterGroup->getName()) : $this->__('Shopping Options'); ?>

                    <div class="block-subtitle m-filter-group <?php $filterHelper->renderHtml($this, 'group_css', array('group' => $_filterGroup)); ?>"
                        <?php $filterHelper->renderHtml($this, 'group_attributes', array('group' => $_filterGroup)); ?>
                        <?php $filterHelper->renderHtml($this, 'group_before', array('group' => $_filterGroup)); ?>
                        <?php echo $_filterGroupName ?>
                        <?php $filterHelper->renderHtml($this, 'group_after', array('group' => $_filterGroup)); ?>
                    </div>

                    <dl class="narrow-by-list" id="narrow-by-list-<?php echo $_filterGroup->getId() ?>">
                        <?php echo $_filterGroupHtml ?>
                    </dl>
                    <script type="text/javascript">decorateDataList('narrow-by-list-<?php echo $_filterGroup->getId() ?>')</script>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
</div>