@font-face {
    font-family: 'KhandSemibold';
    src: url('khand-semibold.eot');
    src: url('khand-semibold.eot') format('embedded-opentype'),
         url('khand-semibold.woff2') format('woff2'),
         url('khand-semibold.woff') format('woff'),
         url('khand-semibold.ttf') format('truetype'),
         url('khand-semibold.svg#KhandSemibold') format('svg');
}
