<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>


<?php foreach ($this->getAllMerken() as $merken): ?> 
	<li><a href="<?php echo Mage::getURL(). strtolower($merken['label']).'/merken/'.strtolower($merken['label']); ?>"><?php echo $merken['label'] ?></a></li>
<?php endforeach; ?>




<?php
/**
<li><a href="<?php Mage::getURL() ?>catalogsearch/advanced/result/?&merken=<?php echo $merken['value'] ?>"><?php echo $merken['label'] ?></a></li>
**/
?>
