.fcat-heading{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.fcat-heading h1{
    font-size: 30px !important;
    font-family: ProximaNovaExCn-Semibold;
    color: #999;
    text-transform: uppercase;
}
.home_categories {
    float: left;
    margin: auto;
    width: 100%;
    margin-top: 30px;
}
.home_categories ul
{
    list-style: none !important;
    text-decoration: none;
    margin: 0 0 0px 0  !important;
    padding: 0 !important;
    float: left;
   // float: left;
}
.home_categories ul li
{
    float: left;
    list-style: none;
    width: 209px;
    height:470px;
    float: left;
    padding: 0px 20px;
}
.fcategory-details
{
    width: 100%;
    margin: 0pt auto;
    text-align: center;
}
.fcategory-name {
    margin: 0 auto;
    width: 160px;
    padding-top: 10px;
}
.fcategory-image {
    background-image: url("../images/featured_category/pro_img_bg.png");
    background-repeat: no-repeat;
    height: 173px;
    padding-top: 40px;
}
.fcategory-image img{height: 110px;}
.fcategory-name h1{
	margin-top:4px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-family: Khand-bold;
    line-height: 1.1;
}
.fcategory-name h1 a{
    text-decoration: none;
    color: #5ac246;
}
.fcategory-name h1 a:hover{
    color: #4b4b4b;
}
.cat_view_more_container {
    float: left;
    width: 100%;
}

.cat_view_more {
    background-color: #5ac246;
    color: #fff;
    font-family: khand-semibold;
    height: 26px;
    margin: 0 auto;
    width: 100px;
    padding-top: 10px;
}
.cat_view_more:hover{
    background-color: #4a4a4a;
}
.sub-c-container span {
    color: #5ac246;
}
.cat_view_more a{ 
    color: #fff;
    font-size: 20px !important;
    font-weight: bold;
}
.sub-c-container{width: 100%; float:left;}
.sub-c-container h2{font-size: 12px; color: #333; color: #0EACAD}
.sub-c-container ul{
    padding: 9px 0 16px 20px !important;
}
.sub-c-container li{
    height: 24px !important;
    line-height: 24px !important;
    width: 184px !important;
    float: none !important;
    list-style: none !important;
    background: none !important;
    padding: 0 !important;
    font-family: khand-medium;
    margin-bottom: 5px;
}
.sub-c-container ul li a{
    text-decoration: none;
     font-size: 18px;
     color: #8e8e8e;
     font-weight: normal;
}
.sub-c-container li a:hover{
    color: #50ad3f;
    text-decoration: underline;
}
.sub-c-container a{
font-weight: bold;
}

.sub-c-container a:hover{
    
}
.li-seperator{
    background-image: url("../images/featured_category/subNavLine.png");
    background-repeat: repeat-y;
    width: 1px; 
    background-position: center;
    float: left;
    height: 490px;
}
.ul_seperator{
    background-image: url("../images/featured_category/subNavLine.png");
    background-repeat: repeat-x;
    overflow: hidden;
    height:1px;
    float: left;
    width: 100%;
}

.leftmenutitle{
    background: url("../images/featured_category/leftMenuListTitleBg.png?") repeat-y scroll 0 bottom rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-family: ProximaNovaExCn-Semibold;
    font-size: 27px;
    line-height: 24px;
    min-height: 40px;
    overflow: hidden;
    padding: 17px 15px 63px;
    text-align: center;
    text-transform: uppercase;
    width: 157px;
    left: 10px;
    position: relative;
    top: -4px;
}
.leftmenutitle h2{
    color: #FFFFFF;
    font-family: ProximaNovaExCn-Semibold,Arial Narrow;
    font-size: 27px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

/*category listing page========================*/
.catalog-category-view .home_categories ul li{width: 152px;padding: 0 20px 0 16px;}
.catalog-category-view .fcategory-image img{height: auto;}
/* .catalog-category-view .fcategory-name h1{font-size: 23px;} */
.catalog-category-view .fcategory-name h1 a{font-size: 16px;}
.catalog-category-view .home_categories{width: 760px;margin: auto;}
.catalog-category-view .li-seperator{width: 2px;}
.catalog-category-view .fcategory-image{background-image:url("../images/featured_category/productImgDivWrapBg.png"); height: 147px;}
.catalog-category-view .fcategory-image a img{margin: 8px 0;}
.catalog-category-view .sub-c-container ul li{width: 118px !important;}