/**
 * @category    Mana
 * @package     ManaPro_FilterCheckboxes
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked { background: transparent url(../images/manapro_filtercheckboxes/checkbox_unchecked.png) 0 0 no-repeat; color: #000; }
ol.m-filter-css-checkboxes li a.m-checkbox-checked { background: transparent url(../images/manapro_filtercheckboxes/checkbox_checked.png) 0 0 no-repeat; color: #000; }
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked:hover { background: transparent url(../images/manapro_filtercheckboxes/checkbox_unchecked_hover.png) 0 0 no-repeat; color: #fff; }
ol.m-filter-css-checkboxes li a.m-checkbox-checked:hover { background: transparent url(../images/manapro_filtercheckboxes/checkbox_checked_hover.png) 0 0 no-repeat; color: #fff; }
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked,
ol.m-filter-css-checkboxes li a.m-checkbox-checked { padding-left: 20px; text-decoration: none; font-size: 12px;}

.m-filter-checkboxes li input { margin-right: 5px; position: relative; bottom: 2px; }


/* AME */
ol.m-filter-css-checkboxes li:hover { background-color:#000; color:#8ef5f6; }
ol.m-filter-css-checkboxes li:hover .m-checkbox-unchecked{color: #fff;}
ol.m-filter-css-checkboxes li { padding: 2px 0; color: #999;line-height: 1.5;font-size: 10px;}

.content.content-7.mCustomScrollbar {border-bottom: 1px solid;border-top: 1px solid;margin: 0 10px 10px 0;}
.mCS_no_scrollbar {border: medium none !important;}
