/* Special Fonts
------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: 'DINCondensed';
    src: local('DINCondensed'),local('DINCondensed'), url('webfonts/dincondensed.eot');
    src: local('DINCondensed'),local('DINCondensed'), url('webfontsdincondensed.eot?#iefix') format('embedded-opentype'),
         local('DINCondensed'),local('DINCondensed'), url('webfonts/dincondensed.woff') format('woff'),
         local('DINCondensed'),local('DINCondensed'), url('webfonts/dincondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CourierBold';
    src: local('CourierBold'),local('CourierBold'), url('webfonts/courierbold.eot');
    src: local('CourierBold'),local('CourierBold'), url('webfonts/courierbold.eot?#iefix') format('embedded-opentype'),
         local('CourierBold'),local('CourierBold'), url('webfonts/courierbold.woff') format('woff'),
         local('CourierBold'),local('CourierBold'), url('webfonts/courierbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCn-Semibold';
    src: local('ProximaNovaExCn-Semibold'),local('ProximaNovaExCn-Semibold'), url('webfonts/2A7CF4_4_0.eot');
    src: local('ProximaNovaExCn-Semibold'),local('ProximaNovaExCn-Semibold'), url('webfonts/2A7CF4_4_0.eot?#iefix') format('embedded-opentype'),
         local('ProximaNovaExCn-Semibold'),local('ProximaNovaExCn-Semibold'), url('webfonts/2A7CF4_4_0.woff') format('woff'),
         local('ProximaNovaExCn-Semibold'),local('ProximaNovaExCn-Semibold'), url('webfonts/2A7CF4_4_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
