.custom_navigation_conatiner {
    display: none;
}
#w{display: none;}

@media only screen and (max-width:950px)
{
   .custom_navigation_conatiner {display: block;}
   .nav-container {display: none;}
   .nav-top{background: none;height: auto; padding-top: 0;}
   .nav-title-ame {padding-left: 1em; border: none !important;font-size: 15px !important;}
   .nav-container-ame {height: auto;}
}
@media only screen and (min-width:768px) and (max-width:1024px)
{
 /*Header Section==================================================*/
 .wrapper {min-width: 0;width: 100%;}
 .top-navigation {min-width: 0; height: 80px;}
 .top-nav-content {width: 100%;}
 .top-shadow-tab-ame, .top-nav-menu-ame{left: -195px;}
 .top-nav-myaccount.left{margin-right: 15px; padding: 0 12px; background: none;}
 .nav_left_data{display: none;}
 .top-nav-box{width: 100%;}
 .header-container {width: 100%;}
 .navUserNavigation span{font-size: 11px;}
 .navUserNavigation a{font-size: 11px;}
 #menu-btn{display: block !important;;}
 .header .logo {padding-left: 7%;}
 .ame-text {padding: 60px 0 0 8%;width: 35%;}
 .top-nav-link-box{display: inline-block; padding-top: 10px; width: 100%;}
 .navUserNavigation{text-align: center;}
 .top-nav-mycart{padding: 0 15px;}
 .nav-container {width: 100%;}
 #nav li.level0 a.level-top span{width: 70px;}
 .merk-image{margin: 0pt auto;}
 #nav li.nav-8 ul.shown-sub {left: -250px;}
 #nav li.nav-7 ul.shown-sub {left: -250px;}
 #nav li.nav-7 ul.shown-sub {left: -250px;}
 #nav li.nav-6 ul.shown-sub {left: -246px;}
 .headerBannerBar {padding: 0 1%;width: 98%;}
 .utilityNavBar .utilityNavTitleA{padding-right: 0}
 .dropDownSelect {background-size: 100% auto;width: 230px;}
 .dropDownSelectContent{width: 170px;padding: 7px 0 6px 7px;}
 .dropDownContentBg-1, .dropDownContentBg-2 {width: 238px !important;}
 .dropDownContentBg-1 > ul {width: 100% !important;}
 
  /* Home Page==============================================================================================*/
  
  /*Merken Slider======================================*/
 .home_page_banner {width: 100%; height:auto;}
 .home_page_banner p {line-height: 0;}
 .home_page_banner img {width: 100%;}
 .merken-rotatie-box {width: 100%;}
 .inner-schaduw-box .box-rechts{padding-right:0;}
 div.slideshow {width: 97%;}
.slideshow-wrapper a.forward {left: 94%;}
.slideshow-wrapper a.backward{left: -10px;}
.merken-rotatie-box .rotatie-box{width: 93%;}
.the-slideshow .slideshow .slide{width: 100% !important;}
.slide a {width: 15%; margin: 0 15px;}
.the-slideshow .slideshow .slide img {width: 100%;}

/*Content=============================================*/
.main {width: 100% !important;}
.home_categories ul li {padding: 0 10px;width: 22%;}
.fcategory-image {background-size: 100% auto; padding-top: 25%;}
.fcategory-image img {height: 50%;}
.fcategory-name{width: 100%;}
.sub-c-container ul {padding: 9px 0 0 !important; float: none;}
.sub-c-container li {width: 100% !important;  height: auto !important;}

/*Home Page Ends=============================================================================================*/

/*Footer=====================================================================================================*/
.footer-content-bottom {width: 100%;}
.footer-seo{width: 100%;float: left; height: 600px;}
.footer-seo .footer-cat {width: 94%;}
.footer-seo .footer-cat .footer-cat {width: 100%;}
.footer-cat div.footer-column {width: 21%;}
.footer-container-bottom{float: left;}
#rights-footer {width: 96%;}
.bottom-footer-logo img {width: 100%;}
.newsletter-container {width: 100%;background-size: 100% 100%;}
.newsletter-container .input-box {float: left;width: 70%;}
.block-subscribe input.input-text {width: 78%; padding-right: 5%;}
.block-subscribe .actions {width: 27%;}

/*Product List============================================================================================*/
#w{display: block;}
#orignal_page{display: none;}
}

@media only screen and (min-width:640px) and (max-width:767px)
{
 /*Header Section==================================================*/
 .wrapper {min-width: 0;width: 100%;}
 .header {height: auto;}
 .header h1.logo {text-align: center;width: 100%;float: left; margin-top: 10px;}
 
.top-nav-link-box {padding-left: 2%;}
 .header .header-search{margin: 25px 5% 0 0;}
 .ame-search{margin-top: 0;}
 .top-nav-mycart{padding: 0 10px;}
 .top-shadow-tab-ame, .top-nav-menu-ame {left: -243px;}
 .top-nav-mycart .top-nav-my-cart-bg{background-position: 45px 12px;}
 .top-nav-mycart .top-nav-link{padding: 0 30px 0 0;}
 .header .logo {float: none;}
 .top-navigation {min-width: 0; height: 80px;}
 .top-nav-content {width: 100%;}
 .top-nav-myaccount.left{margin-right: 5px;padding: 0 10px; background: none;}
 .top-nav-box{width: 100%;}
 .top-nav-link-box{display: inline-block; padding-top: 10px; width: 100%;}
 .navUserNavigation{text-align: center;}
 #menu-btn{display: block !important;;}
 .nav_left_data{display: none;}
 .top-nav-myaccount .top-nav-my-account{margin-right: 0;}
 .navUserNavigation span {font-size: 10px;}
 .header-container {width: 100%;}
 .ame-text {padding: 45px 0 0 7%;width: 50%;}
 .nav-container {width: 100%;}
 #nav li.level0 a.level-top span{width: 70px;}
 .merk-image{margin: 0pt auto;}
 #nav li.nav-8 ul.shown-sub {left: -250px;}
 #nav li.nav-7 ul.shown-sub {left: -250px;}
 #nav li.nav-7 ul.shown-sub {left: -250px;}
 #nav li.nav-6 ul.shown-sub {left: -246px;}
 .headerBannerBar {padding: 0 1%;width: 98%;}
 .utilityNavBar .utilityNavTitleA{padding-right: 0; font-size: 18px;}
 .dropDownSelect {background-size: 100% 100%;height: 45px;width: 175px;}
 .nav-container-ame {height: auto; margin: 0;}
 .dropDownSelectContent{width: 128px;padding: 7px 0 10px 7px;}
 .dropDownArrowBtn{width: 35px;}
 .dropDownContentBg-1, .dropDownContentBg-2 {width: 185px !important;}
 .dropDownContentBg-1 > ul {width: 100% !important;}
 
 
 /* Home Page==============================================================================================*/
  
  /*Merken Slider======================================*/
 .home_page_banner {width: 100%; height: auto;}
 .home_page_banner p {height: 100%;line-height: 0;}
 .home_page_banner img {width: 100%; height: 100%}
 .merken-rotatie-box {width: 100%;}
 .inner-schaduw-box .box-rechts{padding-right: 7%;}
 div.slideshow {width: 100%;}
.slideshow-wrapper a.forward {left: 100%;}
.slideshow-wrapper a.backward{left: -10px;}
.merken-rotatie-box .rotatie-box{width: 93%;}
.the-slideshow .slideshow .slide{width: 100% !important;}
.slide a {width: 19%; margin: 0 15px;}
.the-slideshow .slideshow .slide img {width: 100%;}

/*Content=============================================*/
.main {width: 100% !important;}
.home_categories ul li {padding: 0 10px;width: 21%;}
.fcategory-details{height: 160px;}
.fcategory-image {background-size: 100% auto; padding-top: 25%; height: 75%;}
.fcategory-image img {height: 60%;}
.fcategory-name{width: 100%;}
.sub-c-container ul {padding: 9px 0 0 !important; float: none;}
.sub-c-container li {width: 100% !important;  height: auto !important;}
.fcategory-name h1{font-size: 20px;}

/*Home Page Ends=============================================================================================*/

/*Footer=====================================================================================================*/
.footer-content-bottom {width: 100%;}
.footer-seo{width: 100%;float: left; height: 650px;}
.footer-seo .footer-cat {width: 94%;}
.footer-seo .footer-cat .footer-cat {width: 100%;}
.footer-cat div.footer-column {width: 21%;}
.footer-container-bottom{float: left;}
#rights-footer {width: 96%;}
.bottom-footer-logo img {width: 100%;}
.newsletter-container {width: 100%;background-size: 100% 100%;}
.newsletter-container .input-box {float: left;width: 70%;}
.block-subscribe input.input-text {width: 78%; padding-right: 5%;}
.block-subscribe .actions {width: 27%;}

/*Product List============================================================================================*/
#w{display: block;}
#orignal_page{display: none;}
.top-nav-myaccount .left{display: none;}
}

@media only screen and (min-width:480px) and (max-width:639px)
{
     /*Header Section==================================================*/
 .wrapper {min-width: 0;width: 100%;}
 .header {height: auto;}
 .header h1.logo {text-align: center;width: 100%;float: left; margin-top: 10px;}
 .header .header-search{margin: 25px 5% 0 0;}
 .ame-search{margin-top: 0;}
 .top-nav-mycart{padding: 0 10px;}
 .top-shadow-tab-ame, .top-nav-menu-ame {left: -243px;}
 .top-nav-mycart .top-nav-my-cart-bg{background-position: 55px 14px;}
 .top-nav-mycart .top-nav-link{padding: 0 30px 0 0;}
 .header .logo {float: none;}
 .top-navigation {min-width: 0;height: 80px;}
 .top-nav-content {width: 100%;}
 .top-nav-box{width: 100%;}
 .top-nav-link-box {padding-top: 10px; width: 100%;}
 .navUserNavigation{width: 100%; text-align: center;}
 .top-nav-myaccount.left{margin-right: 5px;padding: 0 10px; background: none;}
 .nav_left_data{display: none;}
 .top-nav-myaccount .top-nav-my-account{margin-right: 0;}
 .navUserNavigation span {font-size: 10px;}
 #menu-btn{display: block !important;;}
 .header-container {width: 100%;}
 .ame-text {padding: 45px 0 0 7%;width: 40%;}
 .ame-text-left {font-size: 18px;}
 .ame-text-right {font-size: 18px;}
 .nav-container {width: 100%;}
 #nav li.level0 a.level-top span{width: 70px;}
 .merk-image{margin: 0pt auto;}
 #nav li.nav-8 ul.shown-sub {left: -250px;}
 #nav li.nav-7 ul.shown-sub {left: -250px;}
 #nav li.nav-7 ul.shown-sub {left: -250px;}
 #nav li.nav-6 ul.shown-sub {left: -246px;}
 .headerBannerBar {padding: 0 1%;width: 90%;}
 .utilityNavBar .utilityNavTitleA{padding:0; font-size: 18px; margin-left: 15%;}
 .dropDownSelect {background-size: 100% 100%;height: 30px;width: 175px;padding: 10px 0 0 15px; }
 .nav-container-ame {height: auto; margin: 0;}
 .dropDownSelectContent{width: 134px;padding:0 0 5px 0; height: 25px;}
 .dropDownArrowBtn{width: 35px; height: 25px;}
 .dropDownContentBg-1, .dropDownContentBg-2 {width: 185px !important;}
 .dropDownContentBg-1 ul {width: 100% !important;}
#quickNav {margin-left: 2%;width: 46%;}
 .nav-bottom {padding-top: 15px;}
 
  /* Home Page==============================================================================================*/
  
  /*Merken Slider======================================*/
 .home_page_banner {width: 100%; height: auto;}
 .home_page_banner p {height: 100%;line-height: 0;}
 .home_page_banner img {width: 100%;}
 .merken-rotatie-box {width: 100%;}
 .inner-schaduw-box .box-rechts{padding-right: 7%;}
 div.slideshow {width: 100%;}
.slideshow-wrapper a.forward {left: 100%;}
.slideshow-wrapper a.backward{left: -10px;}
.merken-rotatie-box .rotatie-box{width: 93%;}
.the-slideshow .slideshow .slide{width: 100% !important;}
.slide a {width: 25%; margin: 0 15px;}
.the-slideshow .slideshow .slide img {width: 100%;}

/*Content=============================================*/
.main {width: 100% !important;}
.home_categories {margin: 30px auto auto 1%;width: 98%;border-bottom: 1px solid #ccc;}
.home_categories ul li {padding: 0 10px;width: 45%; height: 540px;}
.fcategory-details{height: 300px;}
.fcategory-image {background-size: 100% auto; padding-top: 25%; height: 75%;}
.fcategory-image img {height: 50%;}
.fcategory-name{width: 100%;}
.sub-c-container ul {padding: 9px 0 0 !important; float: none;}
.sub-c-container li {width: 100% !important;  height: auto !important;}
.fcategory-name h1{font-size: 20px;}
.ul_seperator{display: none;}

/*Home Page Ends=============================================================================================*/

/*Footer=====================================================================================================*/
.footer-content-bottom {margin-left: 10%;width: 90%;}
.footer-seo{width: 100%;float: left; height: auto;}
.footer-seo .footer-cat {width: 94%;}
.footer-seo .footer-cat .footer-cat {margin-left: 15%;width: 85%;}
.search_c {float: left;margin-left: 15%;width: 85%;}
.footer-cat div.footer-column {width: 43%; }
.footer-container-bottom{float: left;height: auto;}
#rights-footer {text-align: center;width: 85%;}
.bottom-footer-logo img {width: 100%;}
.newsletter-container {width: 100%;background-size: 100% 100%;}
.newsletter-container .input-box {float: left;width: 70%;}
.block-subscribe input.input-text {width: 78%; padding-right: 5%;}
.block-subscribe .actions {width: 27%;}

/*Product List============================================================================================*/
#w{display: block;}
#orignal_page{display: none;}
.top-nav-myaccount .left{display: none;}
}

@media only screen and (min-width:0px) and (max-width:479px)
{
     /*Header Section==================================================*/
 .wrapper {min-width: 0;width: 100%;}
 .header {height: auto;}
 .header h1.logo {text-align: center;width: 100%;float: left; margin-top: 10px;}
 .header .header-search{margin: 0 auto;width: 65%;}
 .ame-search{float: left;margin-top: 0;text-align: center;width: 100%;}
 .top-nav-mycart{padding: 0 10px;}
 .top-shadow-tab-ame, .top-nav-menu-ame {left: -243px;}
 .top-nav-mycart .top-nav-my-cart-bg{background-position: 55px 14px;}
 .top-nav-mycart .top-nav-link{padding: 0 30px 0 0;}
 .header .logo {float: none;}
 .top-navigation {min-width: 0;height: 95px;}
 .top-nav-content {width: 100%;}
 .top-nav-box{width: 100%;}
 .top-nav-link-box {padding-top: 10px; width: 100%;}
 .navUserNavigation{width: 100%; text-align: center;}
 #menu-btn{display: block !important;}
 .top-nav-myaccount.left{margin-right: 5px;padding: 0 10px; background: none;}
 .nav_left_data{display: none;}
 .top-nav-myaccount .top-nav-my-account{margin-right: 0;}
 .navUserNavigation span {font-size: 10px;}
 .header-container {width: 100%;}
 .ame-text {padding: 45px 0 0 2%;width: 98%;}
 .ame-text-left {font-size: 18px;}
 .ame-text-right {font-size: 18px;}
 .nav-container {width: 100%;}
 #nav li.level0 a.level-top span{width: 70px;}
 .merk-image{margin: 0pt auto;}
 #nav li.nav-8 ul.shown-sub {left: -250px;}
 #nav li.nav-7 ul.shown-sub {left: -250px;}
 #nav li.nav-7 ul.shown-sub {left: -250px;}
 #nav li.nav-6 ul.shown-sub {left: -246px;}
 .headerBannerBar {padding: 0 1%;width: 90%;}
 .utilityNavBar .utilityNavTitleA{padding:0; font-size: 18px; margin-left: 15%;}
 .dropDownSelect {background-size: 100% 100%;height: 30px;width: 120px;padding: 10px 0 0 15px; }
 .nav-container-ame {height: auto; margin: 0;}
 .dropDownSelectContent{width: 92px;padding:0 0 5px 0; height: 25px; font-size: 14px;}
 .dropDownArrowBtn{width: 24px; height: 27px;}
 .dropDownContentBg-1, .dropDownContentBg-2 {width: 130px !important;}
 .dropDownContentBg-1 ul {width: 100% !important;}
#quickNav {margin-left: 2%;width: 46%;}
 .nav-bottom {padding-top: 15px;}
 
 
/* Home Page==============================================================================================*/
  
  /*Merken Slider======================================*/
 .home_page_banner {width: 100%; height: auto;}
 .merken-rotatie-box-container{padding: 0;}
 .home_page_banner p {height: 100%;line-height: 0;}
 .home_page_banner img {width: 100%;}
 .merken-rotatie-box {width: 90%;}
 .inner-schaduw-box .box-rechts{padding-right: 7%;}
 div.slideshow {width: 100%;}
.slideshow-wrapper a.forward {left: 100%;}
.slideshow-wrapper a.backward{left: -10px;}
.merken-rotatie-box .rotatie-box{width: 93%;}
.the-slideshow .slideshow .slide{width: 100% !important;}
.slide a {width: 36%; margin: 0 15px;}
.the-slideshow .slideshow .slide img {width: 100%;}

/*Content=============================================*/
.main {width: 100% !important;}
.home_categories {margin: 30px auto auto 1%;width: 98%;border-bottom: 1px solid #ccc;}
.home_categories ul li {padding: 0 10px;width: 93%; height: 490px;}
.fcategory-details{height: 220px; width: 80%;}
.fcategory-image {background-size: 100% 100%; padding-top: 25%; height: 75%;}
.fcategory-image img {height: 65%;}
.fcategory-name{width: 100%;}
.sub-c-container ul {padding: 9px 0 0 !important; float: none;}
.sub-c-container li {width: 100% !important;  height: auto !important;}
.fcategory-name h1{font-size: 20px;}
.ul_seperator{display: none;}

/*Home Page Ends=============================================================================================*/

/*Footer=====================================================================================================*/
.footer-content-bottom {width: 100%;}
.footer-seo{width: 100%;float: left; height: auto;}
.footer-seo .footer-cat {width: 94%;}
.footer-seo .footer-cat .footer-cat {width: 100%;}
.footer-cat div.footer-column {padding: 1px 5px 30px 13px;width: 43%;}
.footer-container-bottom{float: left; height: auto;}
#rights-footer {width: 85%; text-align: center;}
.bottom-footer-logo img {width: 100%;}
.newsletter-container {width: 100%;background-size: 100% 100%;}
.newsletter-container .input-box {float: left;width: 70%;}
.block-subscribe input.input-text {width: 78%; padding-right: 5%;}
.block-subscribe .actions {width: 27%;}
.search_c {float: left;width: 100%;}

/*Product List============================================================================================*/
#w{display: block;}
#orignal_page{display: none;}
.top-nav-myaccount .left{display: none;}
}