/* simple class control */
.relative { position: relative; }

/* Box around rotating banner on homepage */

.merken-rotatie-box-container{
  background: url(../images/super-slideshow/rotatie-bg.png);
  padding: 20px 0;
}
.merken-rotatie-box { width: 990px; margin: 0 auto;}
.slide a{ 
float:left;
height:60px;
margin:0 20px;
width:105px;
overflow:hidden;
} 
.inner-schaduw-box {position: relative; }
.inner-schaduw-box .top, .inner-schaduw-box .btm {
//background: url(../images/super-slideshow/innerShadowImages.png) 0 0;
height: 13px;
margin-right: 20px;
position: relative;
}
.inner-schaduw-box .btm { background-position: 0 -16px; }
.inner-schaduw-box .top span, .inner-schaduw-box .btm span {
display: block;
background: url(../images/super-slideshow/innerShadowImages.png) right 0;
width: 20px;
height: 13px;
position: absolute;
right: -20px;
top: 0;
}
.inner-schaduw-box .btm span { background-position: right -16px; }
.inner-schaduw-box .box-links {/* background: url(../images/super-slideshow/innerShadowBg.png) repeat-y;*/ padding-left: 30px; }
.inner-schaduw-box .box-rechts { /*background: url(../images/super-slideshow/innerShadowBg.png) repeat-y right 0; */padding-right: 40px; }
.merken-rotatie-box .rotatie-box {
height: 60px;
padding: 9px 23px 6px 27px;
width: auto;
}
.merken-rotatie-box .rotatie-box a.backward, .merken-rotatie-box .rotatie-box a.forward { top: 21px; }


/* ========== JQuery rotating banner (Do not change too much) =========== */
.slideshow-wrapper {}
div.slideshow {position:relative; width:870px; height:75px; }
.slideshow .slide {}

/* Navigation */
.slideshow-wrapper .browse-button { text-decoration:none; text-indent:-999px; overflow:hidden; }
.slideshow-wrapper a.backward, .slideshow-wrapper a.forward {
background: url(../images/super-slideshow/scrollBtn.png) no-repeat;
width: 34px;
height: 34px;
display: block;
position: absolute;
top: 87px;
z-index: 3;
}
.slideshow-wrapper a.backward { left: -29px; background-position: 0px -34px; }
.slideshow-wrapper a.backward:hover { background-position: 0px -68px; }
.slideshow-wrapper a.forward { left: 930px; background-position: 0 0; }
.slideshow-wrapper a.forward:hover { background-position: 0 -102px; }

/* Navigation goes up (Z-axis) */
.slideshow-wrapper .browse-button { z-index:50; }

/* Main slideshow on home page */
.the-slideshow .slideshow {}
/* Fix: prevent showing all slides while loading */
.the-slideshow .slideshow .slide { display:none; overflow:hidden; }
.the-slideshow .slideshow .slide.first { display:block; }
.the-slideshow .slideshow .slide img {}


