@font-face {
    font-family: 'KhandBold';
    src: url('khand-bold.eot');
    src: url('khand-bold.eot') format('embedded-opentype'),
         url('khand-bold.woff2') format('woff2'),
         url('khand-bold.woff') format('woff'),
         url('khand-bold.ttf') format('truetype'),
         url('khand-bold.svg#KhandBold') format('svg');
}
