<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 

		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Helpdesk</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="helpOverview"><a href="overzicht">Overzicht</a></dd>
					<dd id="helpOrdering"><a href="bestellen">Bestellen</a></dd>
					<dd id="helpOrdering"><a href="leveringen">Leveringen</a></dd>
					<dd id="helpOrdering"><a href="retourneren">Retourneren</a></dd>
					<dd id="helpOrdering"><a href="annuleren">Annuleren</a></dd>
					<dd id="helpShipping"><a href="betalen">Betalen</a></dd>
					<dd id="helpShipping"><a href="cadeaubonnen">Cadeaubonnen</a></dd>
					<dd id="helpEmail"><a href="garantie">Garantie</a></dd>
					<dd id="helpUsing"><a href="mijn-account">Mijn Account</a></dd>
					<dd id="helpEmail"><a href="email-ons">Email Ons</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>
	
		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
				
				
				
					<div id="helpCenterDiv">
						<div class="abouBblueTitle">ANNULEREN</div>
						<div id="listDiv" class="helpcenterOutDiv">
							<div class="questionBox">
								<div id="questionDiv">
									<div class="font24Text">Veel gestelde vragen</div>
									<div id="questionContent">
										<dl>
											<dt><span class="blueNumber1"></span></dt>
											<dd><a href="#1" title="#">Kan ik mijn bestelling nog annuleren?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber2"></span></dt>
											<dd><a href="#HoeAnnuleren" title="#">Hoe kan ik mijn bestelling annuleren?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber3"></span></dt>
											<dd><a href="#HoeWijzigen" title="#">Hoe kan ik mijn bestelling wijzigen?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber4"></span></dt>
											<dd><a href="#WanneerTerugbetaald" title="#">Wanneer word ik terugbetaald?</a></dd><div name="" id="" class="font24Text"></div>
										</dl>
										<dl>
											<dt><span class="blueNumber5"></span></dt>
											<dd><a href="#AnnulatieDoorHeal" title="#">Bestelling geannuleerd door heal.be</a></dd>
										</dl>
									</div>
								</div>
							</div>
							<div id="contactUs">
								<div class="font24Text">
									<a href="#" class="left">Contacteer Ons</a>
									<a href="#" class="right">Leer Meer</a>
								</div>
								<div class="contactUsCenter font12Text">
									<dl>
										<dt>Klantendienst Email:</dt>
										<dd><a href="http://www.heal.be/helpdesk/email-ons">klantendienst@heal.be</a></dd>
									</dl>
									<dl>
										<dt>Klantendienst Telefoon:</dt>
										<dd>1-123-456-HEAL (1-123-456-7890)</dd>
									</dl>
									<dl>
										<dt>Klantendienst Openingsuren:</dt>
										<dd>24 uur per dag, 7 dagen per week</dd>
									</dl>
								</div>
							</div>
							<div class="clearFloatNoHeight"></div>
							<div class="helpcenterGreyBorder"></div>
						</div>
					</div>

					<div id="helpDetail">
						<div id="qADetail" class="linkUnderLine">							

							<div name="" id="KanIkAnnuleren" class="font24Text">Kan ik mijn bestelling nog annuleren?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										Je kan je bestelling annuleren (door het volgen van de stappen uit 
										"<a class="linkBlue" href="#HoeAnnuleren" title="#">Hoe kan ik mijn bestelling annuleren?</a>") 
										en een terugbetaling verkrijgen op elk moment VOOR we de bestelling verwerken naar ons magazijn. 
										Als we de bestelling al hebben verwerkt, kunnen we deze helaas niet meer annuleren. 
										Je kan echter wel na ontvangst kosteloos <a class="linkBlue" href="retourneren.html" title="#">retourneren</a>. Merk op dat we meestal alle dagelijkse bestellingen diezelfde avond verwerken, 
										maar in veel gevallen verwerken wij ook bestellingen rond 12.00 uur (pm) West-Europese tijd.
									</p>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
										
						
							<div name="" id="HoeAnnuleren" class="font24Text">Hoe kan ik mijn bestelling annuleren?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										U annuleert een of meerdere artikelen uit een bestelling als volgt:
									</p>
									<dl class="blueTitleList paddingLeft10">
										<dd>Ga naar uw <a class="linkBlue" href="#">bestelstatus</a>.</dd>
										<dd>U ziet het overzicht van uw bestellingen van de afgelopen 6 maanden.</dd>
										<dd>Als de bestelstatus van het artikel "Wordt verwerkt" is, ziet u een link "Annuleer".</dd>
										<dd>Klik op "Annuleer".</dd>
										<dd>De bestelstatus verandert in "Geannuleerd".</dd>
									</dl>
									
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>								

							
							<div name="" id="HoeAnnuleren" class="font24Text">Hoe kan ik mijn bestelling wijzigen?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										Om een bestelling te wijzigen nadat je deze hebt geplaatst, moet je eerst je bestelling annuleren en vervolgens 
										een nieuwe bestelling plaatsen. Zie hierboven voor "<a class="linkBlue" href="#HoeAnnuleren" title="#">Hoe kan ik mijn bestelling annuleren?</a>".
									</p>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>										
							
							
							<div name="" id="WanneerTerugbetaald" class="font24Text">Wanneer word ik terugbetaald?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										Alle retourkredieten en terugbetalingen worden verwerkt binnen ongeveer 7-10 dagen na aankomst in ons distributiecentrum.
									</p>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>			
							<p class="clear greyDoubleLine"></p>
							
							
							<div name="" id="AnnulatieDoorHeal" class="font24Text">Bestelling geannuleerd door heal.be</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										Een artikel of een bestelling kan om verschillende redenen geannuleerd worden:
									</p>
									<dl class="blueTitleList paddingLeft10">
										<dd>Het artikel is toch niet leverbaar</dd>
										<dd>De externe verkoper heeft de bestelling niet bevestigd</dd>
										<dd>De externe verkoper kan de bestelling toch niet leveren</dd>
										<dd>De adresgegevens zijn onduidelijk of niet correct</dd>
									</dl>
									<p>
										Wij sturen u een e-mail waarin de reden van annulering wordt vermeld. Verder vindt u in uw account aanvullende informatie over de annulering. 
										Als u met uw muiscursor over het woord "Geannuleerd" beweegt, dan verschijnt er extra informatie over de reden van annulering.
									</p>
									<p>
										Als een bestelling is geannuleerd, dan vervalt de betalingsverplichting of het betaalde bedrag wordt teruggestort. 
										De termijn van terugstorten is afhankelijk per betaalmethode en kunt u nalezen bij terugstorttermijnen.
									</p>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>	
						</div>
					</div>
				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>
	</div>
</div>