<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 
	
		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Helpdesk</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="helpOverview"><a href="overzicht">Overzicht</a></dd>
					<dd id="helpOrdering"><a href="bestellen">Bestellen</a></dd>
					<dd id="helpOrdering"><a href="leveringen">Leveringen</a></dd>
					<dd id="helpOrdering"><a href="retourneren">Retourneren</a></dd>
					<dd id="helpOrdering"><a href="annuleren">Annuleren</a></dd>
					<dd id="helpShipping"><a href="betalen">Betalen</a></dd>
					<dd id="helpShipping"><a href="cadeaubonnen">Cadeaubonnen</a></dd>
					<dd id="helpEmail"><a href="garantie">Garantie</a></dd>
					<dd id="helpUsing"><a href="mijn-account">Mijn Account</a></dd>
					<dd id="helpEmail"><a href="email-ons">Email Ons</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>

		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					<div id="helpCenterDiv">
						<div class="abouBblueTitle">BESTELLEN</div>
						<div id="listDiv" class="helpcenterOutDiv">
						
						
							<div class="questionBox">
								<div id="questionDiv">
									<div class="font24Text">Veel gestelde vragen</div>
									<div id="questionContent">
										<dl>
											<dt><span class="blueNumber1"></span></dt>
											<dd><a href="#NieuweKlanten" title="#">Hulp of assistentie voor nieuwe klanten</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber2"></span></dt>
											<dd><a href="#Beschikbaarheid" title="#">Beschikbaarheid van onze producten</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber3"></span></dt>
											<dd><a href="#AnnulerenWijzigen" title="#">Annuleer of wijzig een bestelling</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber4"></span></dt>
											<dd><a href="#Betaalmethoden" title="#">Welke betaalmethoden accepteren we?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber5"></span></dt>
											<dd><a href="#Status" title="#">Bevestiging en status van je bestelling</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber6"></span></dt>
											<dd><a href="#Aangerekend" title="#">Wanneer wordt mijn bestelling effectief aangerekend?</a></dd>
										</dl>
									</div>
								</div>
							</div>
							
							
							<div id="contactUs">
								<div class="font24Text">
									<a href="#" class="left">Contacteer Ons</a>
									<a href="#" class="right">Leer Meer</a>
								</div>
								<div class="contactUsCenter font12Text">
									<dl>
										<dt>Klantendienst Email:</dt>
										<dd><a href="http://www.heal.be/helpdesk/email-ons">klantendienst@heal.be</a></dd>
									</dl>
									<dl>
										<dt>Klantendienst Telefoon:</dt>
										<dd>1-123-456-HEAL (1-123-456-7890)</dd>
									</dl>
									<dl>
										<dt>Klantendienst Openingsuren:</dt>
										<dd>24 uur per dag, 7 dagen per week</dd>
									</dl>
								</div>
							</div>
							
							
							
							<div class="clearFloatNoHeight"></div>
							<div class="helpcenterGreyBorder"></div>
							
							
						</div>
					</div>

					<div id="helpDetail">
						<div id="qADetail" class="linkUnderLine">
							<div name="Where" id="NieuweKlanten" class="font24Text">Hulp of assistentie voor nieuwe klanten</div>
							<div class="clear"></div>
							
							
							<div class="titleDetail">
								<p>
									Bestellen is eenvoudig. Je kan 24 uur per dag, elke dag van de week, bestellen via onze website
									<a class="linkBlue" href="http://www.heal.be" title="www.heal.be"> www.heal.be</a> of je kan ook bestellen
									door ons te bellen op +32.123.456789 en je bestelling door te geven.
								</p>
								<p>
									Wil je een bestelling plaatsen via de website dan kan je zoeken of browsen naar producten met zowel
									de linkerkant- als de bovenkant-navigatie op vrijwel alle webpaginas. Als alternatief kan 
									je zoektermen invoeren in het witte kader aangeduid met "ZOEKEN".  Deze zoekbalk kan je terugvinden boven de navigatiebalk 
									en is beschikaar op al onze webpaginas.
								</p>
								<p>
									Zodra je graag een bepaald product aankoopt, kan je de hoeveelheid invoeren en vervolgens dit product toevoegen aan je winkelmandje
									door te klikken op de "Voeg Toe" knop. Als je nog geen account hebt of bent niet aangemeld tijdens deze sessie, 
									wordt je gevraagd om dit te doen zodat we kunnen bepalen of jij een nieuwe of bestaande klant bent.
								</p>
								<p>
									Wanneer je voldoende hebt gewinkeld, ga je eerst langs de kassa alvorens we alles opsturen. Via en in je winkelwagen heb je de mogelijkheid
									om naar de kassa te gaan en af te rekenen. Tijdens dit process kan ook je promotiecodes of andere kortingen activeren.
								</p>
								<p>
									Tijdens het afrekenen, moet je enkel nog je verzendadres en je kredietkaartgegevens (via een beveiligd betalingsproces) invoeren en jouw bestelling bevestigen.
									Zo, en je bent-helemaal klaar om je bestelling binnen 2 werkdagen te ontvangen!
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
							
							
							
							<div name="Availability" id="Beschikbaarheid" class="font24Text">Beschikbaarheid van onze producten</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>
									We doen onze uiterste best om te verzekeren dat alle producten altijd voorradig zijn zodat we ze onmiddellijk naar jou kunnen verzenden.
									In zeer uitzonderlijke omstandigheden, wanneer een product niet in stock is, zullen we je laten weten wanneer het item terug beschikbaar is voor verzending.
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
							
							
							<div name="shoppingOnline" id="AnnulerenWijzigen" class="font24Text">Annuleer of wijzig een bestelling</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>
									Je kan je bestelling annuleren (door het volgen van de stappen uit 
									"<a class="linkBlue" href="annuleren.html#HoeAnnuleren" title="#">Hoe kan ik mijn bestelling annuleren?</a>") 
									en een terugbetaling verkrijgen op elk moment VOOR we de bestelling verwerken naar ons magazijn. 
									Als we de bestelling al hebben verwerkt, kunnen we deze helaas niet meer annuleren. 
									Je kan echter wel na ontvangst kosteloos <a class="linkBlue" href="retourneren.html" title="#">retourneren</a>. 
									Merk op dat we meestal alle dagelijkse bestellingen diezelfde avond verwerken, 
									maar in veel gevallen verwerken wij ook bestellingen rond 12.00 uur (pm) West-Europese tijd.
								</p>
								<p>
									Om een bestelling te wijzigen nadat je deze hebt geplaatst, moet je eerst je bestelling annuleren en vervolgens 
									een nieuwe bestelling plaatsen.
								</p>
								<p>
									Bekijk ook onze sectie "<a class="linkBlue" href="annuleren.html">Annuleren</a>" voor meer details en beperkingen.
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
						

							<div name="shoppingOnline" id="Betaalmethoden" class="font24Text">Welke betaalmethoden accepteren we?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>Hier bij heal.be kan je verschillende manieren betalen. Hieronder lees je welke:</p>
								<dl class="blueTitleList paddingLeft10">
									<dt><u>Bancontact/Mister Cash en Maestro</u></dt>
									<dd>U rekent uw aankoop meteen af.</dd>
									<dd>U betaalt veilig in uw vertrouwde internetbetaalomgeving.</dd>
									<dd>U hoeft geen speciale software te installeren.</dd>
									<dd>
										U kunt betalen met een bankkaart en kaartlezer van de volgende banken: 
										<ul class="lineItemList">
											<li>- &nbsp;&nbsp;&nbsp;AXA Bank, BNP Paribas Fortis, Dexia, ING, KBC, Record Bank</li>
										</ul>
									</dd> 
								</dl>
							
								<dl class="blueTitleList paddingLeft10">
									<dt><u>Kredietkaart (Visa, Mastercard, American Express)</u></dt>
									<dd>U betaalt via onze beveiligde SSL-procedure.</dd>
									<dd>Wij zorgen met uw creditcardorganisatie voor een correcte afhandeling.</dd>
									<dd>Uw creditcard wordt belast wanneer een artikel wordt verzonden.</dd>
									<dd>Als uw bestelling bestaat uit meerdere artikelen die op verschillende datums verzonden worden, </br>
										dan wordt uw creditcard belast per verzonden artikel.</dd>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
							
							
							<div name="shoppingOnline" id="Status" class="font24Text">Bevestiging en status van je bestelling</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>
									Onmiddellijk nadat je jouw bestelling doorvoert, heb je toegang tot je "Order Status" door te klikken op "Mijn Account" aan de bovenkant van het scherm. 
									De status van je bestelling zal worden vermeld als "Bestelling Status". Je krijgt ook een bevestiging per e-mail op hetzelfde moment. 
									Als de bestelling niet zichtbaar is in jouw account en je geen een e-mail hebt ontvangen, hebben we  je bestelling niet ontvangen en worden er geen kosten op jouw kaart aangerekend. 
									Je kan je bestelling dan gewoon opnieuw plaatsen. 
								</p>
								<p>
									Wanneer wij jouw bestelling verwerken, wijzigt de order status in "Order Verwerkt" en wanneer we je bestelling verzenden verandert de status in, "Order verzonden".
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
						
							<div name="shoppingOnline" id="Aangerekend" class="font24Text">Wanneer wordt mijn bestelling effectief aangerekend?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>
									We wachten met het aanrekenen van jouw kredietkaart tot wanneer we deze producten effectief verzenden. 
									Indien jouw bestelling wordt verzonden in meerdere verzendingen, kunnen er meedere betalingen verschijnen op je kaart. In dit geval, 
									is het totale bedrag gelijk aan het bedrag waarvoor je de bestelling plaatste.
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>								
						</div>
						
					</div>
				</div>

				<div class="rightBoxBottom"></div>
			</div>
		</div>
	</div>
</div>