<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 

		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Helpdesk</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="helpOverview"><a href="overzicht">Overzicht</a></dd>
					<dd id="helpOrdering"><a href="bestellen">Bestellen</a></dd>
					<dd id="helpOrdering"><a href="leveringen">Leveringen</a></dd>
					<dd id="helpOrdering"><a href="retourneren">Retourneren</a></dd>
					<dd id="helpOrdering"><a href="annuleren">Annuleren</a></dd>
					<dd id="helpShipping"><a href="betalen">Betalen</a></dd>
					<dd id="helpShipping"><a href="cadeaubonnen">Cadeaubonnen</a></dd>
					<dd id="helpEmail"><a href="garantie">Garantie</a></dd>
					<dd id="helpUsing"><a href="mijn-account">Mijn Account</a></dd>
					<dd id="helpEmail"><a href="email-ons">Email Ons</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>

		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					<div id="helpCenterDiv">
						<div class="abouBblueTitle">BETALEN</div>
						<div id="listDiv" class="helpcenterOutDiv">
						
						
							<div class="questionBox">
								<div id="questionDiv">
									<div class="font24Text">Veel gestelde vragen</div>
									<div id="questionContent">
										<dl>
											<dt><span class="blueNumber1"></span></dt>
											<dd><a href="#Betaalmethoden" title="#">Welke betaalmethoden accepteren we?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber2"></span></dt>
											<dd><a href="#FacturenVinden" title="#">Waar kan ik mijn facturen terugvinden?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber3"></span></dt>
											<dd><a href="#FacturenAfdrukken" title="#">Hoe kan ik mijn facturen afdrukken of opslaan?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber4"></span></dt>
											<dd><a href="#Rekeningnummer" title="#">Ons (IBAN) rekeningnummer</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber5"></span></dt>
											<dd><a href="#Terugstorttermijn" title="#">Terugstorttermijn voor geretourneerde items</a></dd>
										</dl>
									</div>
								</div>
							</div>
							
							
							<div id="contactUs">
								<div class="font24Text">
									<a href="#" class="left">Contacteer Ons</a>
									<a href="#" class="right">Leer Meer</a>
								</div>
								<div class="contactUsCenter font12Text">
									<dl>
										<dt>Klantendienst Email:</dt>
										<dd><a href="http://www.heal.be/helpdesk/email-ons">klantendienst@heal.be</a></dd>
									</dl>
									<dl>
										<dt>Klantendienst Telefoon:</dt>
										<dd>1-123-456-HEAL (1-123-456-7890)</dd>
									</dl>
									<dl>
										<dt>Klantendienst Openingsuren:</dt>
										<dd>24 uur per dag, 7 dagen per week</dd>
									</dl>
								</div>
							</div>
							
							
							
							<div class="clearFloatNoHeight"></div>
							<div class="helpcenterGreyBorder"></div>
							
							
						</div>
					</div>
					

					<div id="helpDetail">
						<div id="qADetail" class="linkUnderLine">
							<div name="shoppingOnline" id="Betaalmethoden" class="font24Text">Welke betaalmethoden accepteren we?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>Hier bij heal.be kan je verschillende manieren betalen. Hieronder lees je welke:</p>
								<dl class="blueTitleList paddingLeft10">
									<dt><u>Bancontact/Mister Cash en Maestro</u></dt>
									<dd>U rekent uw aankoop meteen af.</dd>
									<dd>U betaalt veilig in uw vertrouwde internetbetaalomgeving.</dd>
									<dd>U hoeft geen speciale software te installeren.</dd>
									<dd>
										U kunt betalen met een bankkaart en kaartlezer van de volgende banken: 
										<ul class="lineItemList">
											<li>- &nbsp;&nbsp;&nbsp;AXA Bank, BNP Paribas Fortis, Dexia, ING, KBC, Record Bank</li>
										</ul>
									</dd> 
								</dl>
							
								<dl class="blueTitleList paddingLeft10">
									<dt><u>Kredietkaart (Visa, Mastercard, American Express)</u></dt>
									<dd>U betaalt via onze beveiligde SSL-procedure.</dd>
									<dd>Wij zorgen met uw creditcardorganisatie voor een correcte afhandeling.</dd>
									<dd>Uw creditcard wordt belast wanneer een artikel wordt verzonden.</dd>
									<dd>Als uw bestelling bestaat uit meerdere artikelen die op verschillende datums verzonden worden, </br>
										dan wordt uw creditcard belast per verzonden artikel.</dd>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
							
							<div name="Where" id="FacturenVinden" class="font24Text">Waar kan ik mijn facturen terugvinden?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<div class="blueTitleList">
									<p>
										Log in op je <a class="linkBlue" href="#" title="#">account</a> en ga naar jouw <a class="linkBlue" href="#" title="#">bestellingen</a>.
										Selecteer een bestelling en klik vervolgens bovenaan de pagina op jouw factuur.
									</p>
								</div>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
							
							
							<div name="Where" id="FacturenAfdrukken" class="font24Text">Hoe kan ik mijn facturen afdrukken of opslaan?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<div class="blueTitleList">
									<p>
										Log in op je <a class="linkBlue" href="#" title="#">account</a> en ga naar jouw <a class="linkBlue" href="#" title="#">
										bestellingen</a>.Selecteer een bestelling en klik vervolgens bovenaan de pagina op jouw factuur. Rechts bovenaan de pagina (onder de navigatiebalk) kan je jouw factuur printen. 
										Rechts onderaan de pagina kan alle facturen printen.
									</p>
								</div>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
										
							
							
							<div name="Where" id="Rekeningnummer" class="font24Text">Ons (IBAN) rekeningnummer</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<div class="blueTitleList">
									<p>Het volledige (IBAN) rekeningnummer van heal.be is IBAN BE012345678900</p>
								</div>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
							
							
							
							
							<div name="shoppingOnline" id="Terugstortermijn" class="font24Text">Terugstorttermijn voor geretourneerde items</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										Alle retourkredieten en terugbetalingen worden verwerkt binnen ongeveer 7-10 dagen na aankomst in ons distributiecentrum.
									</p>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>			
							
						</div>
						
					</div>
				</div>

				<div class="rightBoxBottom"></div>
			</div>
		</div>

	</div>
</div>