<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 

		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Helpdesk</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="helpOverview"><a href="overzicht">Overzicht</a></dd>
					<dd id="helpOrdering"><a href="bestellen">Bestellen</a></dd>
					<dd id="helpOrdering"><a href="leveringen">Leveringen</a></dd>
					<dd id="helpOrdering"><a href="retourneren">Retourneren</a></dd>
					<dd id="helpOrdering"><a href="annuleren">Annuleren</a></dd>
					<dd id="helpShipping"><a href="betalen">Betalen</a></dd>
					<dd id="helpShipping"><a href="cadeaubonnen">Cadeaubonnen</a></dd>
					<dd id="helpEmail"><a href="garantie">Garantie</a></dd>
					<dd id="helpUsing"><a href="mijn-account">Mijn Account</a></dd>
					<dd id="helpEmail"><a href="email-ons">Email Ons</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>
	
	
	
	
		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
				
				
					<div>{{block type="core/template" name="contactForm" form_action="/contacts/index/post" template="contacts/form.phtml"}}</div>
					
					
				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>

	</div>
</div>