<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 

		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Helpdesk</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="helpOverview"><a href="overzicht">Overzicht</a></dd>
					<dd id="helpOrdering"><a href="bestellen">Bestellen</a></dd>
					<dd id="helpOrdering"><a href="leveringen">Leveringen</a></dd>
					<dd id="helpOrdering"><a href="retourneren">Retourneren</a></dd>
					<dd id="helpOrdering"><a href="annuleren">Annuleren</a></dd>
					<dd id="helpShipping"><a href="betalen">Betalen</a></dd>
					<dd id="helpShipping"><a href="cadeaubonnen">Cadeaubonnen</a></dd>
					<dd id="helpEmail"><a href="garantie">Garantie</a></dd>
					<dd id="helpUsing"><a href="mijn-account">Mijn Account</a></dd>
					<dd id="helpEmail"><a href="email-ons">Email Ons</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>
	
	
	
	
		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
				
				
				
					<div id="helpCenterDiv">
						<div class="abouBblueTitle">GARANTIE</div>
						<div id="listDiv" class="helpcenterOutDiv">
							<div class="questionBox">
								<div id="questionDiv">
									<div class="font24Text">Veel gestelde vragen</div>
									<div id="questionContent">
										<dl>
											<dt><span class="blueNumber1"></span></dt>
											<dd><a href="#Wettelijk" title="#">Wettelijke garantie</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber2"></span></dt>
											<dd><a href="#Beschadigd" title="#">Wat indien mijn pakje beschadigd is (of geopend)?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber3"></span></dt>
											<dd><a href="#Ontvangen" title="#">Wat moet ik doen wanneer ik een beschadigd product ontvang?</a></dd>
										</dl>
									</div>
								</div>
							</div>
							<div id="contactUs">
								<div class="font24Text">
									<a href="#" class="left">Contacteer Ons</a>
									<a href="#" class="right">Leer Meer</a>
								</div>
								<div class="contactUsCenter font12Text">
									<dl>
										<dt>Klantendienst Email:</dt>
										<dd><ahref="http://www.heal.be/helpdesk/email-ons">klantendienst@heal.be</a></dd>
									</dl>
									<dl>
										<dt>Klantendienst Telefoon:</dt>
										<dd>1-123-456-HEAL (1-123-456-7890)</dd>
									</dl>
									<dl>
										<dt>Klantendienst Openingsuren:</dt>
										<dd>24 uur per dag, 7 dagen per week</dd>
									</dl>
								</div>
							</div>
							<div class="clearFloatNoHeight"></div>
							<div class="helpcenterGreyBorder"></div>
						</div>
					</div>
					
					
					
				
					

					<div id="helpDetail">
						<div id="qADetail" class="linkUnderLine">							

							<div name="" id="Wettelijk" class="font24Text">Wettelijke garantie en garantie</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										Wij streven steeds naar een kwalitatief aanbod. Moest er uitzonderlijk toch iets aan de hand zijn dan lossen wij dit voor u zo snel mogelijk met plezier op. 
										Bekijk <a href="http://economie.fgov.be/nl/consument/Garantie/Wettelijke_garantie/#.U4O_DPl_t9k">hier</a> de wettelijke bepalingen.
									</p>
									<dt class="paddingLeft10"><u> Kwaliteitscontrole/houdbaarheid en garantie op medische producten andere dan etenswaren</u></dt>
									<p>
										Zoals opgelegd door de geldende en relevante wettelijke bepalingen geldt voor de door Viata geleverde medische producten
										wettelijk geregelde kwaliteitscontroles. De minimale houdbaarheidsdatum is de datum tot waarop een (voedings)middel zijn
										specifieke eigenschappen behoudt, mits het op passende wijze wordt bewaard. Deze houdbaarheidsdatum is maar geldig zolang
										de verpakking niet geopend is en zolang de bijzondere bewaarvoorschriften nageleefd werden. De houdbaarheidsdatum op
										levensmiddelen is een aanwijzing van de producent. Tijdens de vermelde termijn garandeert de producent de kwaliteit van zijn product.
										Deze garantie geldt wanneer de bewaaromstandigheden, op het etiket vermeld, ook gerespecteerd zijn. De bewaaromstandigheden
										op het etiket hebben daarom hun belang. De houdbaarheidsdatum staat in verband met de bijzondere bewaaromstandigheden. 
										Hierdoor zijn alle schakels van de voedingsketen verantwoordelijk voor de kwaliteit; van de producent en alle tussenpersonen
										(groothandelaars, vervoerders, winkeliers) tot consument (tijdens en na de aankoop). Eenmaal de verpakking geopend, houdt de garantie op.
										De kwaliteit van het product is gegarandeerd zolang de verpakking intact blijft. Eens geopend, wordt het voedingsmiddel
										een kwetsbaar product en vervalt de aangegeven datum. Er is geen wettelijke verplichting om niet-voorverpakte levensmiddelen te etiketteren.
									</p>
									<p>
										Voor zaken andere dan etenswaren die niet aan de overeenkomst beantwoorden dient de Koper Viata hiervan uiterlijk binnen
										de zeven (7) werkdagen volgend op de levering hiervan in kennis te stellen. De eventuele vergoeding die hieruit volgt kan
										nooit groter zijn dan het bedrag zoals gefactureerd aan de Koper. Gewoonlijke of normale slijtage, onopzettelijke of 
										opzettelijke veranderingen toegebracht door de Koper aan het product, het niet kunnen voorleggen van een originele factuur
										of geldend betaalbewijs en diverse nalatigheden zijn uitdrukkelijke, maar daarom niet limitatieve, uitzonderingen op het voormelde garantiestelsel.
									</p>
								</dl>

							</div>
							
							
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>

							<div name="" id="Beschadigd" class="font24Text">Wat indien mijn pakje beschadigd is (of geopend)?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										Aanvaard nooit een sterk beschadigd pakje en ook geen geopend pakje. Schrijf in elk geval op de ontvangstbon "pakje beschadigd"
										of open het pakje in het bijzijn van de vervoerder om de toestand en het aantal producten die erin zitten te verifi&#235;ren.
									</p>
									<p>
										Licht onze klantendienst in zodat we dit kunnen vermijden in de toekomst. 
										Email ons: <a class="linkBlue" href="#" title="#">klantenservice@heal.be</a>
									</p>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>	
							<p class="clear greyDoubleLine"></p>
							
							
							<div name="" id="Ontvangen" class="font24Text">Wat moet ik doen wanneer ik een beschadigd product ontvang?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										Indien u een pakje ontvangt, waarvan de inhoud beschadigd is, moet u steeds het pakje bewaren (beschadigde verpakking en producten)
										en fotos maken die het probleem bewijzen. Zonder deze stappen kunnen wij u niet helpen. Neem contact met ons op en beschrijf het probleem. 
										Stuur ons de fotos op.
									</p>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>		
						

						</div>
					</div>
					
					
				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>

	</div>
</div>