<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 

		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Helpdesk</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="helpOverview"><a href="overzicht">Overzicht</a></dd>
					<dd id="helpOrdering"><a href="bestellen">Bestellen</a></dd>
					<dd id="helpOrdering"><a href="leveringen">Leveringen</a></dd>
					<dd id="helpOrdering"><a href="retourneren">Retourneren</a></dd>
					<dd id="helpOrdering"><a href="annuleren">Annuleren</a></dd>
					<dd id="helpShipping"><a href="betalen">Betalen</a></dd>
					<dd id="helpShipping"><a href="cadeaubonnen">Cadeaubonnen</a></dd>
					<dd id="helpEmail"><a href="garantie">Garantie</a></dd>
					<dd id="helpUsing"><a href="mijn-account">Mijn Account</a></dd>
					<dd id="helpEmail"><a href="email-ons">Email Ons</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>

		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					<div id="helpCenterDiv">
						<div class="abouBblueTitle">LEVERINGEN</div>
						<div id="listDiv" class="helpcenterOutDiv">
						
						
							<div class="questionBox">
								<div id="questionDiv">
									<div class="font24Text">Veel gestelde vragen</div>
									<div id="questionContent">
										<dl>
											<dt><span class="blueNumber1"></span></dt>
											<dd><a href="#GratisLevering" title="#">Gratis (dagelijkse) levering vanaf 50 euro</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber2"></span></dt>
											<dd><a href="#Leveringstermijn" title="#">Leveringstermijn</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber3"></span></dt>
											<dd><a href="#WaarLeveren" title="#">Waar wij leveren</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber4"></span></dt>
											<dd><a href="#GeschatteDatum" title="#">Wanneer is de geschatte leveringsdatum?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber5"></span></dt>
											<dd><a href="#BestellingVolgen" title="#">Volg je bestelling van aan het magazijn tot aan je thuis</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber6"></span></dt>
											<dd><a href="#NietThuis" title="#">Niet thuis tijdens de levering?</a></dd>
										</dl>
									</div>
								</div>
							</div>
							
							
							<div id="contactUs">
								<div class="font24Text">
									<a href="#" class="left">Contacteer Ons</a>
									<a href="#" class="right">Leer Meer</a>
								</div>
								<div class="contactUsCenter font12Text">
									<dl>
										<dt>Klantendienst Email:</dt>
										<dd><a href="http://www.heal.be/helpdesk/email-ons">klantendienst@heal.be</a></dd>
									</dl>
									<dl>
										<dt>Klantendienst Telefoon:</dt>
										<dd>1-123-456-HEAL (1-123-456-7890)</dd>
									</dl>
									<dl>
										<dt>Klantendienst Openingsuren:</dt>
										<dd>24 uur per dag, 7 dagen per week</dd>
									</dl>
								</div>
							</div>
							
							
							
							<div class="clearFloatNoHeight"></div>
							<div class="helpcenterGreyBorder"></div>
							
							
						</div>
					</div>

					<div id="helpDetail">
						<div id="qADetail" class="linkUnderLine">
							<div name="Where" id="GratisLevering" class="font24Text">Gratis (dagelijkse) levering vanaf 50&#8364;</div>
							<div class="clear"></div>
							
							
							<div class="titleDetail">
								<p>
									Met "GRATIS VOLGENDE DAG LEVERING bij +&#8364;50", leveren we gratis alle bestellingen in Belgi&#235; en Nedeland, 
									als jouw bestelling ten minste &#8364;50 koopwaar omvat (met uitzondering van geschenkverpakking en belastingen). 
								</p>
								<p>
								<dl class="blueTitleList">
									<dd>Voor bestellingen van minder dan &#8364;50, hebben we een vast verzendkosten-tarief van &#8364;2.99.</dd>
									<dd>Ons verzendingsbeleid is zowel van toepassing in Belgi&#235; als in Nederland.</dd>
									<dd>
										Zie hieronder voor "<a class="linkBlue" href="#Leveringstermijn" title="#">Leveringstermijn</a>" 
										en "<a class="linkBlue" href="#WaarLeveren" title="#">Waar we leveren</a>" voor meer details en beperkingen.
									</dd>
								</dl>
								</p>
								<!-- <p>* Houd er rekening mee dat onze 365-dagen retourrecht geldt niet voor huisdier medicijnen vervuld door VetSource Pharmacy.</p> -->
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
										
										
										
							<div name="shoppingOnline" id="Leveringstermijn" class="font24Text">Leveringstermijn</div>
							<div class="clear"></div>
							<div class="titleDetail">
							
								<dl class="blueTitleList">
									<dd>
										"VOLGENDE DAG LEVERING" is niet van toepassing op:
											<ul class="lineItemList">
												<li>- &nbsp;&nbsp;&nbsp; Hoogstuitzonderlijk...</li>
												<li>- &nbsp;&nbsp;&nbsp; Hoogstuitzonderlijk...</li>
											</ul>
									</dd>
									<dd>Besteld voor 6 uur s avonds? Dan leveren morgen bij jouw thuis.</dd>
									<dd>Geen levering op zon-en feestdagen.Een bestellingen die op vrijdag, zaterdag, of over een offici&#235;le vakantiedag wordt geplaatst kan langer dan 1 dag duren alvorens deze aankomt.</dd>
									<dd>Wij zijn niet verantwoordelijk voor vertragingen veroorzaakt door de vervoerders dewelke onze leveringdtijden uitzonderlijk kunnen vertragen.</dd>
									
									<dd>
										Geschatte levertijden kan je zowel vinden op de productdetail-pagina, in je winkelwagen op het moment van je bestelling en in je bevestigingsemail.
										Werkelijke levertijden zijn onder voorbehoud. Het volgende kan resulteren in een vertraagde levering:
										<ul class="lineItemList">
											<li>- &nbsp;&nbsp;&nbsp;Onjuiste verzendadres</li>
											<li>- &nbsp;&nbsp;&nbsp;Verzendingsadres komt niet overeen met facturatieadres</li>
											<li>- &nbsp;&nbsp;&nbsp;Betaling vertraging of probleem</li>
											<li>- &nbsp;&nbsp;&nbsp;Annuleren van items, het combineren van bestellingen of het wijzigen van je afleveradres</li>
											<li>- &nbsp;&nbsp;&nbsp;Bestellingen die voorraad-discontinuiteiten kunnen veroorzaken. Grote hoeveelheid van een enkel item.</li>
											<li>- &nbsp;&nbsp;&nbsp;E&#233;n van onze transporeurs kan niet leveren (bijvoorbeeld ernstige weersomstandigheden)</li>
										</ul>
									</dd>
								</dl>
								
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>			
							<p class="clear greyDoubleLine"></p>
							
							<div name="shoppingOnline" id="WaarLeveren" class="font24Text">Waar we leveren</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<dd style="background:none;">
										<ul class="lineItemList">
											<li>- &nbsp;&nbsp;&nbsp;Wij leveren in Belgi&#235; en Nederland.</li>
											<li>- &nbsp;&nbsp;&nbsp;En binnenkort leveren we in Heel Europa.</li>
										</ul>
									</dd>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>		
							<p class="clear greyDoubleLine"></p>
							
							<div name="shoppingOnline" id="GeschatteDatum" class="font24Text">Wanneer is de geschatte leveringsdatum?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>
									Je kunt jouw leveringsdatum <a class="linkBlue" href="#" title="#">hier</a> schatten
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>		
							<p class="clear greyDoubleLine"></p>

							<div name="shoppingOnline" id="BestellingVolgen" class="font24Text">Volg je bestelling van aan het magazijn tot aan je thuis</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>
									Wanneer je bestelling wordt verzonden, ontvang je een e-mail met de informatie over deze verzending. Het voorziene volgnummer kan je gebruiken
									op de website van de vervoeder om je bestelling te volgen. We zetten ook je volgnummer bij de details van jouw bestelling; klik op de 
									"Order Status" knop wanneer je inlogt op je account.
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>		
							<p class="clear greyDoubleLine"></p>

							<div name="shoppingOnline" id="NietThuis" class="font24Text">Niet thuis tijdens de levering?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>
									Het is aan het oordeel van de bestuurder of hij of zij een handtekening nodig heeft voor de levering, 
									het pakketje af levert bij de deur of het achter laat bij een gebouwbeheerder of een portier. 
									Is de bestuurder van mening dat een handtekening nodig is, zal hij of zij enkele pogingen ondernemen om deze handtekening te verkrijgen. 
									Als een pakketje wordt geretourneerd door "onbestelbaar", heb je recht op de volledige terugbetaling, 
									tenzij wordt vastgesteld dat de bestelling ten onrechte is geweigerd. 
									Onbestelbare bestellingen worden niet opnieuw teruggestuurd. Je zal dan gewoon een nieuwe bestelling moeten plaatsen.
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>			
							
						</div>
						
					</div>
				</div>

				<div class="rightBoxBottom"></div>
			</div>
		</div>

	</div>
</div>