<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 
	
		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Helpdesk</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="helpOverview"><a href="overzicht">Overzicht</a></dd>
					<dd id="helpOrdering"><a href="bestellen">Bestellen</a></dd>
					<dd id="helpOrdering"><a href="leveringen">Leveringen</a></dd>
					<dd id="helpOrdering"><a href="retourneren">Retourneren</a></dd>
					<dd id="helpOrdering"><a href="annuleren">Annuleren</a></dd>
					<dd id="helpShipping"><a href="betalen">Betalen</a></dd>
					<dd id="helpShipping"><a href="cadeaubonnen">Cadeaubonnen</a></dd>
					<dd id="helpEmail"><a href="garantie">Garantie</a></dd>
					<dd id="helpUsing"><a href="mijn-account">Mijn Account</a></dd>
					<dd id="helpEmail"><a href="email-ons">Email Ons</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>

		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">

					<div id="helpCenterDiv">
						<div class="abouBblueTitle">MIJN ACCOUNT</div>
						<div id="listDiv" class="helpcenterOutDiv">
							<div class="questionBox">
								<div id="questionDiv">
									<div class="font24Text">Veel gestelde vragen</div>
									<div id="questionContent">
										<dl>
											<dt><span class="blueNumber1"></span></dt>
											<dd><a href="#Wachtwoord" title="#">Wachtwoord vergeten</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber2"></span></dt>
											<dd><a href="#Wijzig" title="#">Wijzig uw e-mailadres of wachtwoord</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber3"></span></dt>
											<dd><a href="#Adressen" title="#">Beheer uw adresboek</a></dd>
										</dl>
									</div>
								</div>
							</div>
							<div id="contactUs">
								<div class="font24Text">
									<a href="#" class="left">Contacteer Ons</a>
									<a href="#" class="right">Leer Meer</a>
								</div>
								<div class="contactUsCenter font12Text">
									<dl>
										<dt>Klantendienst Email:</dt>
										<dd><a href="http://www.heal.be/helpdesk/email-ons">klantendienst@heal.be</a></dd>
									</dl>
									<dl>
										<dt>Klantendienst Telefoon:</dt>
										<dd>1-123-456-HEAL (1-123-456-7890)</dd>
									</dl>
									<dl>
										<dt>Klantendienst Openingsuren:</dt>
										<dd>24 uur per dag, 7 dagen per week</dd>
									</dl>
								</div>
							</div>
							<div class="clearFloatNoHeight"></div>
							<div class="helpcenterGreyBorder"></div>
						</div>
					</div>
					

					<div id="helpDetail">
						<div id="qADetail" class="linkUnderLine">							

							<div name="" id="Wachtwoord" class="font24Text">Wachtwoord vergeten</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										Klik <a class="linkBlue" href="#" title="#">hier</a>, vul je emailadres in en we sturen je binnen enkele ogenblikken je nieuwe wachtwoord.
										Na het ontvangst van onze email, klik je op de link in de email om je nieuw wachtwoord in te geven.
									</p>
									<p>
										<i>Ook voor de melding dat de combinatie van e-mailadres en wachtwoord niet geldig is:</i> klik <a class="linkBlue" href="#" title="#">hier</a>, vul je emailadres in en we sturen je binnen enkele ogenblikken je nieuwe wachtwoord.
										Na het ontvangst van onze email, klik je op de link in de email om je nieuw wachtwoord in te geven.
									</p>

									
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>

							
							<div name="" id="Wijzig" class="font24Text">Wijzig uw e-mailadres of wachtwoord</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										U kunt uw e-mailadres of wachtwoord wijzigen door in te loggen, te klikken op "<a class="linkBlue" href="#" title="#">Mijn account</a>"
										en vervolgens op "<a class="linkBlue" href="#" title="#">Overzicht</a>".
									</p>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>			
							<p class="clear greyDoubleLine"></p>
							
							
							<div name="" id="Adressen" class="font24Text">Beheer uw adresboek</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<dl class="blueTitleList">
									<p>
										U kunt uw verzendkosten adresboek bewerken door in te loggen, te klikken op "<a class="linkBlue" href="#" title="#">Mijn account</a>" 
										en vervolgens op "<a class="linkBlue" href="#" title="#">Overzicht</a>". 
										Bovendien hebt u ook tijdens het afrekenen, de mogelijkheid om het facturatie- en/of afleveradres toe te voegen, te verwijderen of te bewerken.
									</p>
								</dl>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
																	
							
						</div>
					</div>

				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>
		
	</div>
</div>