<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 
	
		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Helpdesk</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="helpOverview"><a href="overzicht">Overzicht</a></dd>
					<dd id="helpOrdering"><a href="bestellen">Bestellen</a></dd>
					<dd id="helpOrdering"><a href="leveringen">Leveringen</a></dd>
					<dd id="helpOrdering"><a href="retourneren">Retourneren</a></dd>
					<dd id="helpOrdering"><a href="annuleren">Annuleren</a></dd>
					<dd id="helpShipping"><a href="betalen">Betalen</a></dd>
					<dd id="helpShipping"><a href="cadeaubonnen">Cadeaubonnen</a></dd>
					<dd id="helpEmail"><a href="garantie">Garantie</a></dd>
					<dd id="helpUsing"><a href="mijn-account">Mijn Account</a></dd>
					<dd id="helpEmail"><a href="email-ons">Email Ons</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>
	
		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					<div id="helpCenterDiv">
					
						<div class="abouBblueTitle">WELKOM BIJ ONZE HELPDESK</div>
						<div id="listDiv" class="helpcenterOutDiv">
							<div class="questionBox">
								<div id="questionDiv">
									<div class="font24Text">Veel gestelde vragen</div>
									<div id="questionContent">
										<dl>
											<dt><span class="blueNumber1"></span></dt>
											<dd><a href="#" title="#">Hoe een item retourneren</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber2"></span></dt>
											<dd><a href="#" title="#">Kortingsbonnen en kortingen</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber4"></span></dt>
											<dd><a href="bestellen#Betaalmethoden" title="#">Betalingsmethoden die we accepeteren</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber5"></span></dt>
											<dd><a href="#" title="#">Minimum bedrag voor gratis verzending</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber6"></span></dt>
											<dd><a href="#" title="#">Wordt er ecologisch-verantwoord-verpakkingsmateriaal gebruikt?</a></dd>
										</dl>
									</div>
									<a class="learnMoreBtn" href="#"></a> 
								</div>
							</div>
							<div id="contactUs">
								<div class="font24Text">
									<a href="#" class="left">Contacteer Ons</a>
									<a href="#" class="right">Leer Meer</a>
								</div>
								<div class="contactUsCenter font12Text">
									<dl>
										<dt>Klantendienst Email:</dt>
										<dd><a href="http://www.heal.be/helpdesk/email-ons">klantendienst@heal.be</a></dd>
									</dl>
									<dl>
										<dt>Klantendienst Telefoon:</dt>
										<dd>1-123-456-HEAL (1-123-456-7890)</dd>
									</dl>
									<dl>
										<dt>Klantendienst Openingsuren:</dt>
										<dd>24 uur per dag, 7 dagen per week</dd>
									</dl>
								</div>
							</div>
							<div class="clearFloatNoHeight"></div>
							<div class="helpcenterGreyBorder"></div>
						</div>
					</div>
					
					
					<div id="helpcenterListBox" class="listBox">
						<div class="listBoxWrap">
						
							<div class="orderingBox">
								<div class="font26Text"><a href="bestellen" title="#">Bestellen</a></div>
								<div class="boxDetail">
									<dl>
										<dd><a href="bestellen#NieuweKlanten" title="#">Hulp voor nieuwe klanten</a></dd>
										<dd><a href="bestellen#Beschikbaarheid" title="#">Beschikbaarheid</a></dd>
										<dd><a href="bestellen#Status" title="#">Bestelstatus</a></dd>
										<dd><a href="bestellenBetaalmethoden" title="#">Betaalmethoden</a></dd>
									</dl>
									<div class="aboutReadMore lastDd"><a href="bestellen">Meer</a></div>
								</div>
							</div>
							
							
							
							
							<div class="orderingBox">
								<div class="font26Text"><a href="leveringen" title="#">Leveringen</a></div>
								<div class="boxDetail">
									<dl>
										<dd><a href="leveringen#GratisLevering" title="#">Gratis-verzendingsbeleid</a></dd>
										<dd><a href="leveringen#Leveringstermijn" title="#">Leveringstermijn</a></dd>
										<dd><a href="leveringen#BestellingVolgen" title="#">Volg je bestelling tot thuis</a></dd>
										<dd><a href="leveringen#NietThuis" title="#">Niet thuis tijdens de levering?</a></dd>
									</dl>
									<div class="aboutReadMore lastDd"><a href="leveringen" title="#">Meer</a></div>
								</div>
							</div>
							<div class="orderingBox">
								<div class="font26Text"><a href="retourneren" title="#">Retourneren</a></div>
								<div class="boxDetail">
									<dl>
										<dd><a href="retourneren#Retourneren" title="#">Bestelling retourneren</a></dd>
										<dd><a href="retourneren#Voorwaarden" title="#">Voorwaarden retourneren</a></dd>
										<dd><a href="retourneren#Inpakken" title="#">Inpakken om terug te sturen</a></dd>
									</dl>
									<div class="aboutReadMore lastDd"><a href="retourneren" title="#">Meer</a></div>
								</div>
							</div>									

							<div class="orderingBox">
								<div class="font26Text"><a href="annuleren" title="#">Annuleren</a></div>
								<div class="boxDetail">
									<dl>
										<dd><a href="annuleren#KanIkAnnuleren" title="#">Kan ik nog annuleren?</a>
										<dd><a href="annuleren#HoeAnnuleren" title="#">Hoe kan ik annuleren?</a></dd>
										<dd><a href="annuleren#WanneerTerugbetaald" title="#">Terugbetaling</a></dd>
										<dd><a href="annuleren#AnnulatieDoorHeal" title="#">Geannuleerd door heal.be</a></dd>
									</dl>
									<div class="aboutReadMore lastDd"><a href="annuleren">Meer</a></div>
								</div>
							</div>									
								
							
							
							<div class="clearFloatNoHeight"></div>
							<div class="greyDoubleLine"></div>
							
							<div class="orderingBox">
								<div class="font26Text"><a href="betalen" title="#">Betalen</a></div>
								<div class="boxDetail">
									<dl>
										<dd><a href="betalen#Betaalmethoden" title="#">Betaalmethoden</a></dd>
										<dd><a href="betalen#FacturenVinden" title="#">Facturen & betalingen</a></dd>
										<dd><a href="betalen#FacturenRekeningnummer" title="#">Ons (IBAN) rekeningnummer</a></dd>
										<dd><a href="betalen#Terugstorttermijn" title="#">Terugstorttermijn</a></dd>
									</dl>
									<div class="aboutReadMore lastDd"><a href="betalen">Meer</a></div>
								</div>
							</div>	

							
							<div class="orderingBox">
								<div class="font26Text"><a href="cadeaubonnen" title="#">Cadeaubonnen</a></div>
								<div class="boxDetail">
									<dl>
										<dd><a href="cadeaubonnen" title="#">Vraag 1</a></dd>
										<dd><a href="cadeaubonnen" title="#">Vraag 2</a></dd>
										<dd><a href="cadeaubonnen" title="#">Vraag 3</a></dd>
										<dd><a href="cadeaubonnen" title="#">Vraag 4</a></dd>
									</dl>
									<div class="aboutReadMore lastDd"><a href="#">Meer</a></div>
								</div>
							</div>
							
							
							<div class="orderingBox">
								<div class="font26Text"><a href="garantie" title="#">Garantie</a></div>
								<div class="boxDetail">
									<dl>
										<dd><a href="garantie#Wettelijk" title="#">Wettelijke garantie</a></dd>
										<dd><a href="garantie#Beschadigd" title="#">Pakje beschadigd of geopend</a></dd>
									</dl>
									<div class="aboutReadMore lastDd"><a href="garantie" title="#">Meer</a></div>
								</div>
							</div>

							
							<div class="orderingBox">
								<div class="font26Text"><a href="mijn-account" title="#">Mijn Account</a></div>
								<div class="boxDetail">
									<dl>
										<dd><a href="mijn-account#Wachtwoord" title="#">Wachtwoord vergeten</a></dd>
										<dd><a href="mijn-account#Wijzig" title="#">Wijzig e-mail of wachtwoord</a></dd>
										<dd><a href="mijn-account#Adressen" title="#">Beheer uw adresboek</a></dd>
									</dl>
									<div class="aboutReadMore lastDd"><a href="#" title="#">Meer</a></div>
								</div>
							</div>
							
							<div class="clearFloatNoHeight"></div>
							
						</div>
					</div>
				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>
	</div>
</div>