
<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 

		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Helpdesk</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="helpOverview"><a href="overzicht">Overzicht</a></dd>
					<dd id="helpOrdering"><a href="bestellen">Bestellen</a></dd>
					<dd id="helpOrdering"><a href="leveringen">Leveringen</a></dd>
					<dd id="helpOrdering"><a href="retourneren">Retourneren</a></dd>
					<dd id="helpOrdering"><a href="annuleren">Annuleren</a></dd>
					<dd id="helpShipping"><a href="betalen">Betalen</a></dd>
					<dd id="helpShipping"><a href="cadeaubonnen">Cadeaubonnen</a></dd>
					<dd id="helpEmail"><a href="garantie">Garantie</a></dd>
					<dd id="helpUsing"><a href="mijn-account">Mijn Account</a></dd>
					<dd id="helpEmail"><a href="email-ons">Email Ons</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>

		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					<div id="helpCenterDiv">
						<div class="abouBblueTitle">RETOURNEREN</div>
						
						
						<div class="makeReturnBox">
							<div>Start Hier</div>
							<p>Retourneer items uit je bestelgeschiedenis</p>
							<a href="#"></a>
						</div>	
						
						
						
						<div id="listDiv" class="helpcenterOutDiv">
							<div class="questionBox">
								<div id="questionDiv">
									<div class="font24Text">Veel gestelde vragen</div>
									<div id="questionContent">
										<dl>
											<dt><span class="blueNumber1"></span></dt>
											<dd><a href="#Retourneren" title="#">Een bestelling retourneren</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber2"></span></dt>
											<dd><a href="#Voorwaarden" title="#">Voorwaarden om een bestelling te retourneren?</a></dd>
										</dl>
										<dl>
											<dt><span class="blueNumber3"></span></dt>
											<dd><a href="#Inpakken" title="#">Inpakken om terug te sturen</a></dd>
										</dl>
									</div>
								</div>
							</div>
							
							
							<div id="contactUs">
								<div class="font24Text">
									<a href="#" class="left">Contacteer Ons</a>
									<a href="#" class="right">Leer Meer</a>
								</div>
								<div class="contactUsCenter font12Text">
									<dl>
										<dt>Klantendienst Email:</dt>
										<dd><a href="http://www.heal.be/helpdesk/email-ons">klantendienst@heal.be</a></dd>
									</dl>
									<dl>
										<dt>Klantendienst Telefoon:</dt>
										<dd>1-123-456-HEAL (1-123-456-7890)</dd>
									</dl>
									<dl>
										<dt>Klantendienst Openingsuren:</dt>
										<dd>24 uur per dag, 7 dagen per week</dd>
									</dl>
								</div>
							</div>
							
							
							
							<div class="clearFloatNoHeight"></div>
							<div class="helpcenterGreyBorder"></div>
							
							
						</div>
					</div>
					
					
					<div id="helpDetail">
						<div id="qADetail" class="linkUnderLine">
						
							<div name="Where" id="Retourneren" class="font24Text">Een bestelling retourneren</div>
							<div class="clear"></div>
							
							<div class="returnBody">
								<div class="titleDetail">
									<div class="returnAnItemDiv">
									
										<div class="makeReturnImg">
											<a href="#" class="linkBlue"><span></span></a>
											<img src="../skin/frontend/Iname/ame/images/CMS/howtomakereturn.png" alt="">
										</div>
										
										<ol class="clearfix">
											<li class="item1">Ga naar je <a class="makeReturnLink" href="#">Bestellingen</a> in <a class="makeReturnLink" href="/myaccount/overview.qs" target="_top">Mijn Account</a> en klik op de "Retourneren" knop naast je bestelling.</li>
											<li class="item2">Selecteer het item (s) u wilt terugkeren en print uw gratis retouretiket.</li>
											<li class="item3">Pak je terugkeer en de terugkeer label vastplakt.</li>
											<li class="item4">Ofwel zet het uit op een UPS drop-off locatie of met de hand uit om een ​​UPS-chauffeur.</li>
										</ol>
										<p>
											Zodra uw rendement is ontvangen op onze bewerkingscentrum, ontvangt u een volledige terugbetaling te ontvangen, samen met een e-mail bevestiging 
											<br> 
											OPMERKING:. Retourzendingen komen niet in aanmerking voor de geplande pick-ups door UPS. 
										</p>
										<p>
										U kunt ook de Klantenservice bellen op 1-888-202-8463 of stuur een e-mail naar 
										<a class = "linkBlue" href = "http://www.heal.be/helpdesk/email-ons">klantendienst@heal.be</a> 
										Een vriendelijke Customer Care teamlid zal zorgen voor de details en e-mailen u een prepaid, printbare UPS retouretiket te passen op uw pakket.
										</p>
										
									</div>
								</div>
							</div>
							
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>
							<p class="clear greyDoubleLine"></p>
									
							<div name="shoppingOnline" id="Voorwaarden" class="font24Text">Voorwaarden om een bestelling te retourneren?</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>
									Uw volledige tevredenheid is onze hoogste prioriteit! Als u niet 100% tevreden bent met uw aankoop om welke reden dan ook, 
									zullen we graag winst van pakketten binnen 365 dagen na de verkoop datum en geven een volledige terugbetaling. 
									We zullen ook betalen voor de retourzending. 
								</p>
								<p>
									Het enige wat we vragen is dat het product niet wordt gebruikt of verlopen, is in dezelfde staat u het hebt ontvangen en in de originele doos
									en / of verpakking. Helaas kunnen we dit niet terugkeerbeleid uit te breiden naar resellers van ons product. 
									Voor retourzendingen van bestemmingen buiten de 48 aaneengesloten staten, of voor andere vragen of opmerkingen, 
									neem dan contact met ons op 1-888-202-WIJNSTOK (1-888-202-8463) of customercare@vinemarket.com. 
								</p>
								<p>
									Alle retourkredieten en terugbetalingen worden verwerkt binnen ongeveer 7-10 dagen na aankomst in ons distributiecentrum.
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>			
							<p class="clear greyDoubleLine"></p>									
							
							
							<div name="shoppingOnline" id="Inpakken" class="font24Text">Inpakken om terug te sturen</div>
							<div class="clear"></div>
							<div class="titleDetail">
								<p>
									Het vak dat de items oorspronkelijk werden verscheept kan worden hergebruikt als de dimensionering is aangewezen. 
								</p>
								<p>
									Breng simpelweg de prepaid verzendlabel verworven via de online terugkeerproces of via onze klantendienst. 
									Zoals hierboven vermeld zijn de terugkeer label hechten aan uw pakket en ofwel deze inleveren op elk UPS drop-off locatie of met de hand uit om een UPS-chauffeur. 
									OPMERKING: Retourzendingen komen niet in aanmerking voor de geplande pick-ups door UPS. 
								</p>
								<p>
									Gelieve ons te contacteren met eventuele vragen of opmerkingen op 1-888-202-WIJNSTOK (1-888-202-8463) of CustomerCare@VineMarket.com.
								</p>
							</div>
							<div style="float:right;"><div class="clearfix" style="padding-bottom: 6px;"><a href="#" class="greenText_16px backToTop">Terug naar boven</a></div></div>			
							
						</div>
						
					</div>
				</div>

				<div class="rightBoxBottom"></div>
			</div>
		</div>

	</div>
</div>