<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 
	
		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Over ons</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="overzicht"><a href="overzicht">Overzicht</a></dd>
					<dd id="onze-voordelen"><a href="onze-voordelen">Onze voordelen</a></dd>
					<dd id="leiderschap"><a href="leiderschap">Leiderschap</a></dd>
					<dd id="contacteer-ons"><a href="contacteer-ons">Contacteer ons</a></dd>
					<dd id="carrieres"><a href="carrieres">Carri&#232;res</a></dd>
				</dl>
				<div class="leftNavSpaceLine"></div>
				<dl>
				<dt><a href="#">DE REDACTIE</a></dt>
					<dd id="ourNews"><a href="#">Nieuwe artikels</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>
	
		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					<div class="aboutUsBoxContainerVisible">
						<div class="contactBox">
						  <div id="aboutUsRightCont">
							<div class="abouBblueTitle">WE LIKE PHONE CALLS</div>
							<h2 class="orangeSubTitle">Please feel free to contact our friendly Customer Care team 24 hours a day, 7 days a week.</h2>
							<div class="aboutText">
								<div class="blueText">toll free:</div>
								1-888-202-VINE (1-888-202-8463)<br>
								<div class="blueText">email:</div>
								<a href="http://www.heal.be/helpdesk/email-ons/">klantendienst@heal.be</a><br>
								<div class="blueText" style="padding-top:4px;">need to make a return?</div>
								No problem, <a href="#">learn more</a><br>
								<div class="blueText" style="padding-top:11px;">send any manufacturers´<br>coupons to: </div>
								VineMarket.com<br>
								P.O. Box 483 <br>
								Jersey City, NJ 07303<br>
							</div>
						  </div>
						</div>
					</div>
				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>
	</div>
</div>