<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 

		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Over ons</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="overzicht"><a href="overzicht">Overzicht</a></dd>
					<dd id="onze-voordelen"><a href="onze-voordelen">Onze voordelen</a></dd>
					<dd id="leiderschap"><a href="leiderschap">Leiderschap</a></dd>
					<dd id="contacteer-ons"><a href="contacteer-ons">Contacteer ons</a></dd>
					<dd id="carrieres"><a href="carrieres">Carri&#232;res</a></dd>
				</dl>
				<div class="leftNavSpaceLine"></div>
				<dl>
				<dt><a href="#">DE REDACTIE</a></dt>
					<dd id="ourNews"><a href="#">Nieuwe artikels</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>
	
		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					<div class="careersContentBox paddingRightContent">
						<div class="abouBblueTitle">CARRI&#200;RES</div>
						<div class="aboutText">
							<div class="blueTitleList">
								<p>
									Wij werken hard en maar spelen ook graag, altijd streven om onze business te verbeteren, onze 
									mensen, onze cultuur en de ervaring voor onze klanten. Als dit klinkt als iets 
									u zou graag een deel van zijn, de volgende stap is aan jou.<a target="_blank" href="#">Quidsi</a>, 
									die eigenaar en exploitant  <a href="#">onze familie van sites</a>, is een van de snelst groeiende e-commerce bedrijven in het land.
								</p>
								<p style="padding: 16px 0 3px 0;">At Quidsi.com you can:</p>
								<dl class="left">
									<dd>View our current job openings</dd>
									<dd>Apply for positions online</dd>
									<dd>Check the status of an existing application</dd>
								</dl>
								<div class="quidsiStartedLink right">
									<a target="_blank" href="#"></a></div>
							</div>
						</div>
						<div class="clear">
						</div>
					</div>
				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>
	</div>
</div>