<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 
	
		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Over ons</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="overzicht"><a href="overzicht">Overzicht</a></dd>
					<dd id="onze-voordelen"><a href="onze-voordelen">Onze voordelen</a></dd>
					<dd id="leiderschap"><a href="leiderschap">Leiderschap</a></dd>
					<dd id="contacteer-ons"><a href="contacteer-ons">Contacteer ons</a></dd>
					<dd id="carrieres"><a href="carrieres">Carri&#232;res</a></dd>
				</dl>
				<div class="leftNavSpaceLine"></div>
				<dl>
				<dt><a href="#">DE REDACTIE</a></dt>
					<dd id="ourNews"><a href="#">Nieuwe artikels</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>
	
		<div class="rightcontent aboutUsrightcontent leadershipBox">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					
					<div id="aboutUsRightCont">
						<div class="abouBblueTitle marginTopFix1px">THE VINE MARKET TEAM</div>
						<h2 id="italicNormal" class="orangeSubTitle">Meet our team of leaders</h2>
						<div class="aboutText">
						
							
							<p>
								<font class="titleText_18pt" name="Maria" id="Maria" title="Maria Renz">Maria Renz</font>
								<br>
								<font class="bold">Chief Executive Officer</font>
							</p>
							<p>
								Maria joined Quidsi as CEO in July 2013, after having served as Amazons Vice President of Physical Media &amp; Canada. 
								In that role, she led all physical media categories, where she managed the on-site customer experience and merchandising,
								buying, inventory planning and marketing for books, movies, music, video games and software, as well as heading the development
								of key vendor relationships. She also oversaw Amazon.ca, directing growth strategy and ensuring that Amazon.ca continued to 
								develop compelling offerings and provided the best possible shopping experience for Canadian customers.
							</p>
							
							<p>
								Since joining Amazon in 1999, Maria served in many leadership positions, managing Amazons Consumables group and launching
								popular customer categories such as Beauty, Health &amp; Personal Care and Grocery. In addition, she led the marketing communications
								department, managing all research and execution of all offline marketing activities. More recently, she was President of MYHABIT and
								Vice President of Jewelry &amp; Watches, Shoes and Endless.com. In 2011, Maria launched MYHABIT.com, an online private sale fashion 
								site from Amazon, offering members-only prices up to 60 percent off premium and boutique brands for women, men and children.
							</p>
						
							<p>
								Prior to joining Amazon, Maria worked in Brand Management at Kraft Foods, Inc. Before joining Kraft, she worked for Hallmark Cards,
								Inc. and Nelson &amp; Associates. She holds an MBA from Vanderbilt University and a B.S. in Interior Design from Drexel University
								in Philadelphia. A native of New Jersey, she now lives in New York City with her husband and two children. 
							</p>
						
							<p class="listDishLine"></p>
							
							<p>
								<font class="titleText_18pt" name="Maria" id="Maria" title="Maria Renz">Maria Renz</font>
								<br>
								<font class="bold">Chief Executive Officer</font>
							</p>
							<p>
								Maria joined Quidsi as CEO in July 2013, after having served as Amazons Vice President of Physical Media &amp; Canada. 
								In that role, she led all physical media categories, where she managed the on-site customer experience and merchandising,
								buying, inventory planning and marketing for books, movies, music, video games and software, as well as heading the development
								of key vendor relationships. She also oversaw Amazon.ca, directing growth strategy and ensuring that Amazon.ca continued to 
								develop compelling offerings and provided the best possible shopping experience for Canadian customers.
							</p>
							
							<p>
								Since joining Amazon in 1999, Maria served in many leadership positions, managing Amazons Consumables group and launching
								popular customer categories such as Beauty, Health &amp; Personal Care and Grocery. In addition, she led the marketing communications
								department, managing all research and execution of all offline marketing activities. More recently, she was President of MYHABIT and
								Vice President of Jewelry &amp; Watches, Shoes and Endless.com. In 2011, Maria launched MYHABIT.com, an online private sale fashion 
								site from Amazon, offering members-only prices up to 60 percent off premium and boutique brands for women, men and children.
							</p>
						
							<p>
								Prior to joining Amazon, Maria worked in Brand Management at Kraft Foods, Inc. Before joining Kraft, she worked for Hallmark Cards,
								Inc. and Nelson &amp; Associates. She holds an MBA from Vanderbilt University and a B.S. in Interior Design from Drexel University
								in Philadelphia. A native of New Jersey, she now lives in New York City with her husband and two children. 
							</p>
							
							
							<p class="listDishLine"></p>
							
							<p>
								<font class="titleText_18pt" name="Maria" id="Maria" title="Maria Renz">Maria Renz</font>
								<br>
								<font class="bold">Chief Executive Officer</font>
							</p>
							<p>
								Maria joined Quidsi as CEO in July 2013, after having served as Amazons Vice President of Physical Media &amp; Canada. 
								In that role, she led all physical media categories, where she managed the on-site customer experience and merchandising,
								buying, inventory planning and marketing for books, movies, music, video games and software, as well as heading the development
								of key vendor relationships. She also oversaw Amazon.ca, directing growth strategy and ensuring that Amazon.ca continued to 
								develop compelling offerings and provided the best possible shopping experience for Canadian customers.
							</p>
							
							<p>
								Since joining Amazon in 1999, Maria served in many leadership positions, managing Amazons Consumables group and launching
								popular customer categories such as Beauty, Health &amp; Personal Care and Grocery. In addition, she led the marketing communications
								department, managing all research and execution of all offline marketing activities. More recently, she was President of MYHABIT and
								Vice President of Jewelry &amp; Watches, Shoes and Endless.com. In 2011, Maria launched MYHABIT.com, an online private sale fashion 
								site from Amazon, offering members-only prices up to 60 percent off premium and boutique brands for women, men and children.
							</p>
						
							<p>
								Prior to joining Amazon, Maria worked in Brand Management at Kraft Foods, Inc. Before joining Kraft, she worked for Hallmark Cards,
								Inc. and Nelson &amp; Associates. She holds an MBA from Vanderbilt University and a B.S. in Interior Design from Drexel University
								in Philadelphia. A native of New Jersey, she now lives in New York City with her husband and two children. 
							</p>
							
							<div class="collapseList">
								<b class="arrowBlue">
									<a href="javascript:void(0);" id="ExpansionList" onclick="setExpansionPosition(this.id);">Read about our other leaders</a>
								</b>
							</div>
							
						
						</div>
						<div style="height: 50px;"></div>
					</div>
					
					
					<div class="contRightList">
						<div class="bluePaneList">
							<div class="ourLeadersTitle">Leadership Team</div>
							<dl><dt><a href="#" title="#">Maria Renz</a></dt><dd>Chief Executive Officer</dd></dl>
							<dl><dt><a href="#" title="#">Sharon Fox</a></dt><dd>Senior Vice President, Consumables</dd></dl>
							<dl><dt><a href="#" title="#">David Zhang</a></dt><dd>Vice President, Retail</dd></dl>
							<dl><dt><a href="#" title="#">Randy Greben</a></dt><dd>Chief Financial Officer</dd></dl>
							<dl><dt><a href="#" title="#">Prasad Pola</a></dt><dd>Chief Information Officer</dd></dl>
							<dl><dt><a href="#" title="#">Wei Yan</a></dt><dd>Chief Technology Officer</dd></dl>
							<dl><dt><a href="#" title="#">Michal Geller</a></dt><dd>Senior Vice President, Online Marketing Platforms &amp; Business Development</dd></dl> 
							<dl><dt><a href="#" title="#">Jennifer Clarke</a></dt><dd>Vice President, Human Resources</dd></dl>
							<dl><dt><a href="#" title="#">Tara Lawrence</a></dt><dd>Vice President, User Experience &amp; Creative</dd></dl>
							<dl><dt><a href="#" title="#">Mike Scelzo</a></dt><dd>Vice President, Customer Care</dd></dl>
							<dl><dt><a href="#" title="#">Evangelia (Angie) Zorotheos</a></dt><dd>General Counsel</dd></dl>
							<p class="aboutLearnMore clear redText "><a href="#">Learn More</a></p>
						</div>
					</div>
					
					<div class="clearFloatNoHeight"></div>
					
				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>
	</div>
</div>