<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 
		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Over ons</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="overzicht"><a href="overzicht">Overzicht</a></dd>
					<dd id="onze-voordelen"><a href="onze-voordelen">Onze voordelen</a></dd>
					<dd id="leiderschap"><a href="leiderschap">Leiderschap</a></dd>
					<dd id="contacteer-ons"><a href="contacteer-ons">Contacteer ons</a></dd>
					<dd id="carrieres"><a href="carrieres">Carri&#232;res</a></dd>
				</dl>
				<div class="leftNavSpaceLine"></div>
				<dl>
				<dt><a href="#">DE REDACTIE</a></dt>
					<dd id="ourNews"><a href="#">Nieuwe artikels</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>
	
		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					
					<div class="aboutUsBanerCenter"><img alt="" src="../skin/frontend/iname/ame/images/CMS/banneraboutus.jpg"></div>
					
					<div id="aboutUsRightCont">                
						<h2 id="italicNormal">SHOP EENVOUDIG. BLIJF GEZOND.</h2>
						
						<div style="margin-top:13px;" class="aboutText">
							<p>
								 At VineMarket.com, youll find natural and organic groceries for the whole family. 
								 We make it easy to shop thousands of products from wholesome snacks and desserts to baking staples,
								 beverages, and more – each reviewed to ensure it meets the Vine Market Standard. 
							</p>
							<p>Heres what youll love:</p>
							<p><b>Fast, free delivery.</b> Spend $49 or more on your order and well ship it to you free– <a target="_blank" href="#">in 2 days or faster.</a></p>
							<p>
								<b>The Vine Market Standard.</b> We carefully curate our selection by researching the most reputable brands and establishing close
								relationships with manufacturers – stocking only the best in natural and organic, as well as products we believe can help you reduce
								your environmental impact.
							</p>
							<p>
								<b>Easy shopping filters.</b> To help you make important shopping choices easily, we have clearly identified products that are free
								of certain major allergens or made with ingredients you prefer, based on information provided by manufacturers.
							</p>
							<p><b>Easy returns. </b>If youre not happy with an item, well take it back – at no charge to you for up to a year from your purchase. </p>
							<p><b>Award-winning customer care. </b>Our customer care team is standing by 24/7 to keep you smiling.</p>
							<p>With a simplified shopping experience and a huge selection of truly <i>good</i> goods at your fingertips, its never been easier to live naturally.</p>
							<p><i>VineMarket.com is a Familyhood site. Whats Familyhood? Ten sites united by a single checkout, super-fast delivery, and spectacular service. Its the easiest way for families to shop.</i></p>
							<div class="collapseList"><b class="arrowBlue"><a href="#">Our History</a> </b></div>                    
							<div class="collapseBox">
								<p>
									In 2005, best friends Marc and Vinit started Diapers.com with a simple idea - to 
									make life easier for new parents. They worked nights and weekends and enlisted a 
									friend with her own family to answer customer calls and fulfill orders from her 
									suburban garage. But there was one huge obstacle: most major manufacturers wouldnt 
									sell their products to a start-up. So, using their personal credit cards, they rented 
									trucks and headed to wholesale stores up and down the Eastern Seaboard to buy diapers, 
									wipes and formula in bulk.
								</p>
								<p>
									Marc and Vinit opened a formal office in Montclair, New Jersey, in 2006, and the following 
									year hired their first full-time employee. By 2009, the company was renamed Quidsi (meaning "what if" in Latin) 
									to serve as an umbrella for all its sites. Over the course of just a few years, Quidsi had added Soap.com for health, beauty and household 
									essentials; BeautyBar.com, a luxury beauty destination; Wag.com, a pet specialty site; YoYo.com for toys and games; 
									Casa.com for décor and home products; VineMarket.com for natural and organic groceries; AfterSchool.com for kids sports
									and activities; Bookworm.com for childrens books; and Look.com for kids clothing. Customers now had a seamless way to shop for everything they needed
									with one shared cart and easy checkout.
								</p>
								<p>
								   Seattle-based Amazon purchased Quidsi in 2011, although the company operates independently out 
								   of New Jersey. Heres an idea of how far the company has come in such a short span of time: 
								   In 2006, Quidsi had two employees... in 2013, it will have more than a thousand. Quidsi continues 
								   to focus on customers and explore the next big thing, always asking, "What if?" 
								</p>
								<p>Learn more about <a href="#" target="#"> Quidsi</a> and its history.</p>
							</div>
							
							
							
							<div class="collapseList"><b class="arrowBlue"><a href="Brands.qs">About Our Family of Brands</a></b></div>
							<div class="collapseList"><b class="arrowBlue"><a onclick="setCollapsePosition(this);" href="javascript:void(0);">About Quidsi</a></b></div>               
							<div class="collapseBox">
								<p>
									Quidsi owns and operates Diapers.com (baby care), Soap.com (health, beauty and household essentials), BeautyBar.com (luxury beauty), 
									Wag.com (pet products), YoYo.com (toys), Casa.com (home and houseware essentials), VineMarket.com (natural and organic groceries), 
									AfterSchool.com (kids sports/activity gear), Bookworm.com (childrens books) and Look.com (kids clothing). Our customers enjoy
									a broad selection, free 1-2 day shipping on orders $49+, easy-to-navigate sites and award-winning service. At Quidsi (Latin for "what if"),
									we dare to think big and explore possibilities.
								</p>
							</div>
							
							
							
						</div>
					</div>
					
					<div class="contRightList">
						<div class="ourAdvantage">
							<div class="trebuchetMS_20">Onze Voordelen:</div>
							<div class="ourAdvantagePaneList">
								<dl><dd><a title="#" href="#">Grote selectie producten</a></dd></dl>
								<dl><dd><a title="#" href="#">De beste prijzen</a></dd></dl>
								<dl><dd><a title="#" href="#">Gratis verzending</a></dd></dl>
								<dl><dd><a title="#" href="#">Snelle levering</a></dd></dl>
								<dl><dd><a title="#" href="#">24/7 - Klantendienst<a></dd></dl>
								<dl><dd><a title="#" href="#">Apothekers tot uw dienst<a></dd></dl>
							</div>
							<p class="aboutLearnMore clear"><a href="pages/onze-voordelen.html">Lees hier meer</a></p>
						</div>
						<div class="bluePaneList">
							<div class="ourLeadersTitle">Leadership Team</div>
							<dl><dt><a href="#" title="#">Maria Renz</a></dt><dd>Chief Executive Officer</dd></dl>
							<dl><dt><a href="#" title="#">Sharon Fox</a></dt><dd>Senior Vice President, Consumables</dd></dl>
							<dl><dt><a href="#" title="#">David Zhang</a></dt><dd>Vice President, Retail</dd></dl>
							<dl><dt><a href="#" title="#">Randy Greben</a></dt><dd>Chief Financial Officer</dd></dl>
							<dl><dt><a href="#" title="#">Prasad Pola</a></dt><dd>Chief Information Officer</dd></dl>
							<dl><dt><a href="#" title="#">Wei Yan</a></dt><dd>Chief Technology Officer</dd></dl>
							<dl><dt><a href="#" title="#">Michal Geller</a></dt><dd>Senior Vice President, Online Marketing Platforms &amp; Business Development</dd></dl> 
							<dl><dt><a href="#" title="#">Jennifer Clarke</a></dt><dd>Vice President, Human Resources</dd></dl>
							<dl><dt><a href="#" title="#">Tara Lawrence</a></dt><dd>Vice President, User Experience &amp; Creative</dd></dl>
							<dl><dt><a href="#" title="#">Mike Scelzo</a></dt><dd>Vice President, Customer Care</dd></dl>
							<dl><dt><a href="#" title="#">Evangelia (Angie) Zorotheos</a></dt><dd>General Counsel</dd></dl>
							<p class="aboutLearnMore clear redText "><a href="#">Learn More</a></p>
						</div>
					</div>
					

				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>

	</div>
</div>