<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix"> 
	
		<div class="leftMenuBox otherLeftMenu">
			<div class="leftMenuTop"></div>
			<div class="leftMenuTopCon"><div class="leftMenuNormalTitle">Over ons</div></div>
			<div class="leftMenuBg">
				<dl>
					<dd id="overzicht"><a href="overzicht">Overzicht</a></dd>
					<dd id="onze-voordelen"><a href="onze-voordelen">Onze voordelen</a></dd>
					<dd id="leiderschap"><a href="leiderschap">Leiderschap</a></dd>
					<dd id="contacteer-ons"><a href="contacteer-ons">Contacteer ons</a></dd>
					<dd id="carrieres"><a href="carrieres">Carri&#232;res</a></dd>
				</dl>
				<div class="leftNavSpaceLine"></div>
				<dl>
				<dt><a href="#">DE REDACTIE</a></dt>
					<dd id="ourNews"><a href="#">Nieuwe artikels</a></dd>
				</dl>
			</div>
			<div class="leftMenuBottom"></div>
		</div>

		<div class="rightcontent">
			<div class="aboutUsBox">
				<div class="rightBoxTop"></div>
				<div class="rightBox clearfix">
					
					<div id="aboutUsRightCont" style=" float:none; width:auto; display:block;">
						<div class="abouBblueTitle">WAAROM BIJ ONS SHOPPPEN</div>
						<div id="contBlueTitle">
							<p>
								Were so happy youve chosen VineMarket.com, a Familyhood site. Heres what youll enjoy when you shop with us.
							</p>
							<p>
								<strong>Fast, free shipping at $49+.</strong>
								Well deliver your order <a target="_blank" href=#">in 2 days or faster.</a> 

							</p>
							<p> 
								<strong>Huge selection.</strong>
								With thousands of natural and organic grocery items, youll find everything you need to lead a healthier, more natural lifestyle. 
							</p>
							<p>
								<strong>24/7 customer care. </strong>
								Help is just an email or phone call away - all day, every day.
							</p>
							<p>
								<strong>Refer-a-Friend. </strong>
								For every friend you refer to us, youll get the choice of a $5 credit or $5 donation to a charity. 
								<a target="_blank" href="#">Learn more.</a>

							</p>
							<p>
								<strong>Free returns. </strong>
								For up to a year. No questions asked.
							</p>
							<p>
								<strong>Easy shopping across Familyhood. </strong>
								Shop our family of sites with one account, one cart, and one checkout. 
							</p>
							<div style="height: 50px;">
							</div>
						</div>
					</div>
					
				</div>
				<div class="rightBoxBottom"></div>
			</div>
		</div>

	</div>
</div>