<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix">            
		<div class="mainbox">
			<div class="legalPageTop"></div>
			<div class="legalPageBox">
				<div class="quidsiLegalTitle">Algemene voorwaarden</div>
				<h2 class="lastUpdatedText">Laatste Update: 18 Mei 2014</h2>
				<div id="quidsiLegalText">
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							Welkom bij Heal.be. Deze website is eigendom van en wordt ge&#235;xploiteerd door Heal, haar gelieerde ondernemingen, agenten en licentiegevers (gezamenlijk , "wij", "ons", "onze" of "Heal" ).
							U begrijpt dat met uw gebruik van deze websites u instemt, en akkoord gaat met, zich houden aan de meest recente versie van deze algemene voorwaarden (de "Voorwaarden").
							We kunnen op elk ogenblik deze algemene voorwaarden herzien door een aanpassing van de Voorwaarden. U stemt ermee in gebonden te zijn aan opeenvolgende revisies en gaat ermee akkoord om 
							deze algemene voorwaarden op periodieke momenten te herlezen om de wijzigingen waar te nemen. De meest actuele versie van de Voorwaarden zal altijd beschikbaar zijn voor uw beoordeling
							onder de "Algemene Voorwaarden" link die helemaal beneden van de website te vinden is. 
							Wij kunnen van tijd tot tijd ook andere diensten aanbieden die worden beheerst door andere en/of aanvullende voorwaarden en conditions. 
							<b>Bijvoorbeeld, wanneer je een lid van heal.be bent en uw relatie als klant wordt dusdanig bestuurd door
							de <a href="accountovereenkomst" style="text-decoration:underline;">Accountovereenkomst</a> met Heal, gewijzigd van tijd tot tijd, maar altijd toegankelijk op de website.</b>
						</dd>
					</dl>
					<dl class="klasse1">
						<dt class="klasse2">PRIVACY</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Ook ons <a href="privacybeleid" style="text-decoration:underline;">Privacybeleid</a> is relevant tijdens uw bezoek aan Heal.be.
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">LICENTIEVERLENING</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Heal verleent u een enkelvoudige, niet-exclusieve, beperkte persoonlijke licentie voor toegang tot en gebruik van de website onder de voorwaarde
							dat uw permanente naleving van de voorwaarden en bepalingen in deze Voorwaarden. Je mag je rechten tot de toegang van het gebruik van de website niet delen of overdragen.
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">TOEGANG TOT DE WEBSITE</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Met uitzondering van applicaties beter gekend als Web Browser software, of andere toepassingen schriftelijk formeel goedgekeurd door Heal,
							gaat u ermee akkoord elke software, programma, applicatie of een ander apparaat niet te gebruiken om toegang te krijgen of zich te aanmelden
							bij de computersystemen Heal, websites of bedrijfseigen software of om het proces van het verkrijgen, het downloaden, overbrengen of 
							overdragen van enige inhoud, informatie of citaten naar of van de computersystemen van Heal, websites of eigen software te automatiseren.
							Heal is niet verantwoordelijk voor en geeft geen garanties met betrekking tot de toegang, de snelheid of de beschikbaarheid van het internet
							in het algemeen of de website in het bijzonder.
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							U verklaart dat u niet : (a) het gebruik van een robot , spin, ander automatisch apparaat of handmatig proces om te controleren of te kopi&#235;ren van
							onze webpaginas of de inhoud van dit document zonder onze voorafgaande schriftelijke toestemming; (b) gebruik maakt van een apparaat,
							software of routine om te belemmeren of trachten te belemmeren van de goede werking van de Websites of een transactie of beide; 
							(c) actie onderneemt die een onredelijke of onevenredig grote belasting legt op onze infrastructuur; of (d) reverse engineering,
							ontleden of anderszins trachten broncode te ontdekken.
						</dd>

						
						<dd class="klasse3" style="padding-right:40px;">
							Veel van de informatie op de websites wordt bijgewerkt op een real-time basis en is eigendom of vergunning kunnen krijgen voor ons door anderen.
							U gaat ermee akkoord dat u niet kopi&#235;ren, reproduceren, veranderen, wijzigen , afgeleide werken , of openbaar enige inhoud van de websites
							te tonen zonder onze voorafgaande schriftelijke toestemming of die van de betreffende derde partij. U mag geen frame of framing technieken om
							een handelsmerk, logo , of andere merkgebonden informatie ( inclusief afbeeldingen, tekst , pagina-indeling , of vorm) van Quidsi en
							onze filialen omsluiten , zonder uitdrukkelijke schriftelijke toestemming . U mag geen Quidsis , handelsmerken, dienstmerken merken, 
							logos , ontwerpen, slogans of andere woorden of codes die Quidsi in een meta tags, " verborgen tekst " informatie gebruikt door zoekmachines
							of andere informatie-instrumenten om sites te identificeren en selecteren zonder de uitdrukkelijke schriftelijke toestemming van Quidsi .
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">INFORMATIE EN PRODUCTBESCHRIJVINGEN</dt>
						<dd class="klasse3" style="padding-right:40px;">
							De websites kunnen beschikbaar bepaalde gegevens , nieuws, onderzoek , statistiek , verhalen , fotos en meningen of andere informatie (gezamenlijk "Informatie" )
							dat hij zich heeft voorbereid of dat onafhankelijk is verkregen door andere diensten en personen , waaronder nieuws draden , statistieken maken providers ,
							journalisten , auteurs en andere leveranciers (gezamenlijk de " Information Providers " ) . Wij kunnen niet garanderen of certificeren van de juistheid,
							volledigheid , tijdigheid of juiste opeenvolging van de informatie beschikbaar gesteld via BeautyBar.com , de Information Providers of enige andere derde partij
							die de informatie ( de Informatie Zenders " ) . U gaat ermee akkoord dat noch Quidsi , de Information Providers noch de informatie -zenders worden op enige wijze
							aansprakelijk voor de juistheid , volledigheid , tijdigheid of juiste opeenvolging van de informatie , of voor enige beslissing of actie die door u vertrouwen
							op de informatie . U stemt er verder mee dat noch Quidsi , de Information Providers noch de informatie Zenders aansprakelijk zullen zijn op geen enkele manier
							voor de onderbreking van enige informatie, gegevens of andere aspect van de websites . U begrijpt dat geen van de informatie die via de websites vormt
							een aanbeveling of verzoek om een bepaalde actie te ondernemen of niet te nemen .
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							Verder heeft Quidsi niet dat product beschrijvingen op de websites juist, volledig , betrouwbaar, actueel of foutloos . Als een product aangeboden door
							Quidsi zelf is niet zoals beschreven , uw enige remedie is om haar snel terug te keren in ongebruikte staat.
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">COMMUNICATIE</dt>
						<dd class="klasse3" style="padding-right:40px;">
							De websites kan u toelaten om beoordelingen , commentaren en andere inhoud te plaatsen ; en legt suggesties, idee&#235;n , opmerkingen, 
							vragen of andere informatie , zolang de inhoud niet onwettig , obsceen, bedreigend , lasterlijk , invasief van privacy , 
							inbreuk op intellectuele eigendomsrechten of anders nadelig aan derden of laakbaar en niet bestaat uit of bevat software virussen , 
							politieke campagnes , kettingbrieven , massamailings of enige vorm van " spam . " U mag geen vals e-mailadres , uitgeven voor een andere persoon
							of entiteit of anderszins misleiden over de herkomst van uw inhoud . Quidsi behoudt zich het recht ( maar niet de plicht ) om dergelijke inhoud
							te verwijderen of te bewerken , maar niet regelmatig geposte inhoud . Als u inhoud post of materiaal voorlegt , en tenzij wij anders aangeven ,
							zoals inhoud en / of materiaal zal niet-vertrouwelijk en niet-eigendom worden beschouwd en u Quidsi en zijn dochterondernemingen bieden
							een niet-exclusieve , royalty-vrije, eeuwigdurende, onherroepelijke en volledig sublicensable recht te gebruiken, reproduceren, wijzigen,
							aanpassen, publiceren , vertalen, afgeleide werken, verspreiden en dergelijke materialen en / of inhoud in de hele wereld weer te geven in alle media .
							U verleent Quidsi en haar relaties en sublicensees het recht om de naam die u indient in verband met een dergelijke inhoud , 
							die zij verkiezen . U verklaart en garandeert dat u de eigenaar of een wettelijke controle van de rechten op de inhoud die u post ; 
							dat de inhoud juist is ; dat het gebruik van de inhoud die u levert niet in strijd is dit beleid en zal schade veroorzaken aan een persoon of entiteit; 
							en dat u vrijwaart Quidsi of haar filialen voor alle vorderingen die voortvloeien uit inhoud die u levert . Quidsi heeft het recht maar niet
							de verplichting om te controleren en te wijzigen of te verwijderen activiteit of inhoud . Quidsi neemt geen verantwoordelijkheid en aanvaardt
							geen aansprakelijkheid voor enige inhoud geplaatst door u of een derde partij.
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							Zonder beperking van het voorgaande, Quidsi is vrij om idee&#235;n , concepten , knowhow of technieken die u in communicatie te sturen naar Quidsi
							voor welk doel dan ook, inclusief , maar niet beperkt tot , de ontwikkeling en marketing van producten met behulp van dergelijke informatie .
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">ANDERE BEDRIJVEN EN LINKS</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Anders dan Quidsi en haar dochterondernemingen partijen kunnen winkels werken , leveren diensten of productlijnen te verkopen op deze site. 
							Daarnaast BeautyBar.com kan een link naar andere diensten of plaatsen als onderdeel van de websites . Dergelijke sites zijn niet
							onder de controle van Quidsi , en Quidsi geeft geen verklaringen of garanties van het aanbod van , een van deze websites , 
							bedrijven of individuen of de inhoud van hun websites . Tenzij wij uitdrukkelijk anders bepalen , het feit dat Quidsi een link heeft verstrekt
							aan een site is geen goedkeuring van de dienst of site, de inhoud of de sponsorende organisaties . Wij aanvaarden geen enkele verantwoordelijkheid
							of aansprakelijkheid voor de acties , product en de inhoud van al deze en eventuele andere derden aannemen . U dient zorgvuldig beoordelen
							hun privacyverklaringen en andere gebruiksvoorwaarden .
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							U krijgt een beperkt , herroepbaar en niet-exclusief recht om een hyperlink naar de homepage van Bookworm.com cre&#235;ren verleend , 
							Look.com of BeautyBar.com zolang de link niet portretteren  Look.com hun filialen of hun producten of diensten in een valse ,
							misleidende , minachtende of anderszins beledigende wijze . U mag Quidsi logo of andere eigendomsrechten te gebruiken grafisch of handelsmerk
							als deel van de link zonder uitdrukkelijke schriftelijke toestemming . U kan verder niet aanwezig op de link om BeautyBar.com op enigerlei
							wijze dat suggereert Quidsi heeft enige relatie of verwantschap met uw site of onderschrijft , sponsors of beveelt de informatie , 
							producten of diensten op uw site .
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">UITSLUITINGEN VAN WAARBORGEN EN BEPERKINGEN</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Deze websites zijn DOOR Quidsi OP EEN " AS IS" EN " ZOALS BESCHIKBAAR " BASIS . Quidsi GEEFT GEEN OF ENIGE GARANTIE , expliciet of impliciet ,
							MET BETREKKING TOT DE WERKING VAN DEZE WEBSITES OF DE INFORMATIE , INHOUD , MATERIALEN OF PRODUCTEN op deze websites . 
							Stemt u uitdrukkelijk DAT UW GEBRUIK VAN DEZE WEBSITES IS OP EIGEN RISICO . VOOR ZOVER TOEGESTAAN OP GROND VAN TOEPASSELIJK RECHT, 
							Quidsi ALLE GARANTIES , expliciet of impliciet , INCLUSIEF , MAAR NIET BEPERKT TOT , GARANTIES VAN GESCHIKTHEID VOOR EEN BEPAALD DOEL . 
							Quidsi GEEFT GEEN GARANTIE dat deze websites , zijn servers of e-mail van deze websites of Quidsi vrij zijn van virussen of andere schadelijke componenten . 
							Quidsi IS NIET VERANTWOORDELIJK VOOR ENIGE SCHADE VAN WELKE SOORT UIT HET GEBRUIK VAN DEZE WEBSITES , INCLUSIEF, MAAR niet beperkt tot directe , 
							indirecte, incidentele , STRAF EN SCHADE 
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							Bepaalde staat WETTEN STAAN GEEN BEPERKINGEN OP GARANTIES OF DE UITSLUITING OF BEPERKING VAN BEPAALDE SCHADE. ALS DEZE toepassing zijn op u , 
							kan sommige of alle voornoemde afwijzing , UITSLUITINGEN OF BEPERKINGEN NIET VOOR U , EN U KAN OOK ANDERE RECHTEN .
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">VRIJWARING</dt>
						<dd class="klasse3" style="padding-right:40px;">
							U gaat ermee akkoord en houd Quidsi en zijn filialen, functionarissen, directeuren, leden, aandeelhouders, agenten, werknemers en licentiegevers
							te vrijwaren van elke claim of eis, inclusief advocaatkosten, gemaakt door een derde partij die voortvloeit uit uw schending van deze Voorwaarden .
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">COPYRIGHTS</dt>
						<dd class="klasse3" style="padding-right:40px;">
							De Websites , wordt de inhoud en samenstelling van de inhoud , en alle software die op de websites die eigendom zijn van Quidsi of haar filialen
							of agenten en wordt beschermd door de Amerikaanse Copyright Act van 1976 , zoals gewijzigd, en de wetten op het auteursrecht van andere landen. 
							Alle inhoud, logos , ontwerpen en iconen zijn eigendom van Quidsi of haar filialen of agenten . De materialen die in deze dienst , 
							met inbegrip van grafische afbeeldingen , knoppen en tekst , mogen niet worden gekopieerd , gereproduceerd, heruitgegeven , geüpload , gepost,
							verzonden of verspreid op welke wijze dan ook, zonder voorafgaande schriftelijke toestemming , behalve dat u kunt downloaden , weer te geven ,
							of afdrukken een kopie van het materiaal op een enkele computer uitsluitend voor uw persoonlijk , niet-commercieel , gebruik thuis , mits u intact
							alle auteursrechten , handelsmerken en andere eigendomsrechten . Wijziging van het materiaal of het gebruik van het materiaal voor enig ander doel
							is een schending van Quidsi , haar filialen of de derden die informatie verschaffen  copyrights en andere eigendomsrechten .
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">HANDELSMERKEN</dt>
						<dd class="klasse3" style="padding-right:40px;">
							"1800Diapers.com", "1800Diapers", "Quidsi", "Diapers.com", "Soap.com", "Wag.com", "YoYo.com", "Casa.com", "VineMarket.com" "AfterSchool.com", "Bookworm.com", "BeautyBar.com", "Look.com" en andere merken (met inbegrip van afbeeldingen, logos, pagina, pictogrammen, scripts en service namen) op onze websites vermeld zijn handelsmerken of trade dress van Quidsi in de Verenigde Staten en andere landen. Quidsis handelsmerken en jurk kan niet worden gebruikt in verband met een product of dienst dat niet Quidsis, op een manier die waarschijnlijk verwarring zal veroorzaken bij de klanten, of op een manier die in diskrediet Quidsi of de websites. Alle andere handelsmerken die geen eigendom zijn van Quidsi dat op deze site zijn eigendom van hun respectievelijke eigenaars, die al dan niet aangesloten bij, verbonden aan, of gesponsord door Quidsi.
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">AANPASSINGEN AAN DE WEBSITE</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Quidsi behoudt zich het recht te wijzigen of stop, tijdelijk of permanent, geheel of een deel van de websites met of zonder kennisgeving. 
							U gaat ermee akkoord dat Quidsi niet aansprakelijk jegens u of een derde partij voor een dergelijke wijziging, schorsing of be&#235;indiging zal zijn.
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">BEËINDIGING</dt>
						<dd class="klasse3" style="padding-right:40px;">
							De onder deze Voorwaarden verleende licentie zal be&#235;indigen als u niet voldoet aan enige voorwaarde. Bij een dergelijke overtreding, 
							gaat u akkoord met de toegang tot de websites te be&#235;indigen. U stemt er verder mee dat Quidsi, naar eigen goeddunken
							en met of zonder kennisgeving, uw toegang tot enige of alle van de websites te be&#235;indigen en te verwijderen en alle informatie of inhoud
							binnen de websites te verwijderen. U aanvaardt tevens dat Quidsi niet aansprakelijk jegens u of een derde partij voor de be&#235;indiging
							van uw toegang tot de websites zal zijn.
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">SCHEIDBAARHEID</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Als enig deel van deze voorwaarden onwettig, ongeldig of onuitvoerbaar is, zal dat deel beschouwd worden als scheidbaar en zal geen invloed
							hebben op de geldigheid en afdwingbaarheid van de overige bepalingen.
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">GESCHILLEN</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Alle geschillen of vorderingen die op enigerlei manier om uw bezoek aan de websites of om producten of diensten die worden verkocht
							of gedistribueerd door Quidsi of via een website zal worden opgelost door bindende arbitrage , in plaats van in de rechtbank , 
							behalve dat je claims kunnen doen gelden in kleine vorderingen als uw vorderingen kwalificeren. De Federal Arbitration Act en 
							federale arbitrage recht van toepassing op deze overeenkomst .
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							Er is geen rechter of jury in arbitrage en gerechtelijke toetsing van een arbitraal vonnis is beperkt. Echter , een arbiter kan award
							op individuele basis dezelfde schade en opluchting als een rechter ( met inbegrip van een voorlopige en bevestiging van de rechtbank
							of wettelijke schadevergoeding) , en moet de voorwaarden van deze Algemene Voorwaarden te volgen als een rechter zou doen.
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							Aan een arbitrage- procedure begint, moet u een brief met het verzoek arbitrage en beschrijven van uw aanspraak op onze geregistreerd
							agent Corporation Service Onderneming sturen , 300 Deschutes Way SW , Suite 304 , Tumwater , WA 98501 . De arbitrage zal worden uitgevoerd
							door de American Arbitration Association ( AAA ) volgens de regels , waaronder de AAA aanvullende procedures voor de consument-gerelateerde geschillen .
							De AAA -regels zijn beschikbaar op www.adr.org of door te bellen naar 1-800-778-7879 . Betaling van alle indienen , administratie en arbiter vergoedingen
							zullen worden beheerst door de AAA -regels . Wij vergoeden de kosten voor vorderingen van in totaal minder dan $ 10.000 , tenzij de arbiter bepaalt
							de claims zijn frivole . Ook Quidsi zal niet vergoedingen en kosten in de arbitrage van advocaten te zoeken , tenzij de arbiter bepaalt de claims
							zijn frivole . U kunt ervoor kiezen om de arbitrage uitgevoerd door telefoon, op basis van schriftelijke stukken , of in persoon in de provincie
							waar u woont of op een andere onderling overeengekomen plaats .
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							We komen elk overeen dat elk geschillenregeling worden alleen uitgevoerd op individuele basis en niet in een klasse , 
							geconsolideerd of vertegenwoordiger actie. Als om welke reden een vordering opbrengst in de rechtbank in plaats van in arbitrage we elke
							afstand van elk recht op juryrechtspraak . We hebben ook allebei over eens dat u of wij pak kan brengen in de rechtbank om inbreuk op of
							ander misbruik van intellectuele eigendomsrechten bevelen .
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">TOEPASSELIJK RECHT</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Door het bezoeken van de websites, gaat u ermee akkoord dat de Federal Arbitration Act, toepasselijke federale wetgeving, 
							en de wetten van de staat Washington, zonder inachtneming van de beginselen van het conflictenrecht, deze gebruiksvoorwaarden
							en eventuele geschillen van welke aard ook die kunnen ontstaan ​​zal regeren tussen u en Quidsi.
						</dd>
					<dl>
					<dl class="klasse1">
						<dt class="klasse2">AANKONDIGING EN PROCEDURE VOOR VORDERINGEN INZAKE COPYRIGHT INBREUK</dt>
						<dd class="klasse3" style="padding-right:40px;">
							Als u van mening bent dat uw werk is op een manier waarbij het auteursrecht gekopieerd, gelieve Quidsi copyright-agent
							de schriftelijke informatie hieronder gespecificeerd:
							<ul>
								<li>Een elektronische of fysieke handtekening van de gemachtigde op te treden namens de eigenaar van de auteursrecht rente persoon;</li>
								<li>Een beschrijving van het auteursrechtelijk beschermde werk waarvan U beweert inbreuk is gemaakt; </li>
								<li>Een beschrijving van waar het materiaal dat u eist wordt overtreedt gevestigd op de Website; </li>
								<li>Uw adres, telefoonnummer en e-mailadres; </li>
								<li>Een verklaring van u dat u te goeder trouw meent dat het betwiste gebruik niet door de auteursrecht eigenaar, zijn agent of de wet; </li>
								<li>Een verklaring door u, die onder straf van meineed, dat de bovenstaande informatie in uw bericht nauwkeurig is en dat u de eigenaar bent of gemachtigd om op te treden namens de eigenaar van het auteursrecht.</li>
							</ul>
						</dd>
					<dl>		
					<dl class="klasse1" style="padding-top:20px;">
						<dt class="klasse3" style="padding-right:40px;font-size:18px;line-height:24px;">Voor kennisgeving van klachten van schending van auteursrecht van Heal.be, contacteer:</dt>
							<ul style="list-style:none;padding-left:0px;">
								<li style="padding-bottom:10px;">Copyright Agent</li>
								<li style="padding-bottom:10px;">Heal Online Pharma</li>
								<li style="padding-bottom:10px;">Vrijheidsplein 4</li>
								<li style="padding-bottom:10px;">9160 Lokeren, Belgi&#235;</li>
								<li style="padding-bottom:10px;">Tel: +32123.456789</li>
								<li style="padding-bottom:10px;">Fax: +32123.456789</li>
								<li style="padding-bottom:10px;">Email: juridisch@heal.be</li>
							</ul>
						</dt>
					<dl>							
					

				</div>
			</div>
			<div class="legalPageBtm"></div>
		</div>
	</div>
</div>