<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix">            
		<div class="mainbox">
			<div class="legalPageTop"></div>
			<div class="legalPageBox">
				<div class="quidsiLegalTitle">Accountovereenkomst</div>
				<h2 class="lastUpdatedText">Laatste Update: 18 Mei 2014</h2>
				<div id="quidsiLegalText">
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							Deze accountovereenkomst regelt uw account en al uw aankopen bij Heal en/of haar dochterondernemingen, 
							de eigenaar of exploitant van Heal.be. Andere diensten op de website, kunnen zijn onderworpen aan de door Heal opgelegde extra aanvullende voorwaarden. 
							Bijvoorbeeld, wordt uw algemene gebruik van en bezoek aan de website ook beheerst door de 
							<a href="algemene-voorwaarden" style="text-decoration:underline;color:blue;">Algemene Voorwaarden</a>, 
							die door vermelding hierin worden gerefereerd. De uitgifte van beloningen, credits en punten, onder meer via het verwijs-een-vriend-programma, 
							worden beheerst door de <a href="algvw-punten.html" style="text-decoration:underline;color:blue;">Algemene voorwaarden van het punten programma</a>, 
							en ook hierin opgenomen door verwijzing.								
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							Als u akkoord gaat gebonden te zijn aan de voorwaarden van deze overeenkomst, moet u het vakje met vermelding van uw overeenkomst aanvinken.
							Indien u niet akkoord gaat met de voorwaarden van deze overeenkomst, zal u niet in staat zijn om verder te gaan met het openen van een account bij Heal
							of de aankoop van alle producten die via de website.						
						</dd>
						<dd class="klasse3" style="padding-right:40px;"> 
							&#187;
							<i> 
								In deze overeenkomst, verwijzen "u" en "uw" naar de met de overeenkomst instemmende particulieren, bedrijven of partijen als leden/rekeninghouders of
								belanghebbers in de accounts. "Wij", "ons", "onze" en "Heal" verwijzen naar Heal, haar medewerkers, leden, vertegenwoordigers, functionarissen, 
								directeuren, agenten, opvolgers en rechtverkrijgenden.
							</i>
						</dd>
					</dl>
					<dl class="klasse1"style="padding-right:40px;padding-top:10px;">
						<dd class="klasse3" >
							<strong>1. Wijzigingen aan de accountovereenkomst.</strong> We kunnen ten allen tijde paragrafen veranderen, toevoegen of verwijderen van deze accountovereenkomst,
							maar als dit gebeurd, zullen we deze wijzigingen op de websites plaatsen, of verwittigen we u via e-mail of via post. 
							ALS EEN VAN DEZE REGELINGEN OF TOEKOMSTIGE WIJZIGINGEN ONAANVAARDBAAR ZIJN VOOR UW, KAN JE UW ACCOUNT BE&#203;INDIGEN DOOR TE EMAILEN NAAR: 
							<a href="http://www.heal.be/helpdesk/email-ons" style="text-decoration:underline;color:blue;">klantenservice@heal.be</a>. UW VOORTGEZET GEBRUIK VAN DE WEBSITE EN/OF ACCOUNT 
							NA DE BEKENDMAKING VAN WIJZIGINGEN IN DEZE OPERATIONELE REGELS, ZAL AANVAARDING AANGEGEVEN DOOR U VAN DERGELIJKE VOORSCHRIFTEN,
							WIJZIGINGEN OF AANPASSINGEN.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>2. Privacy.</strong> Registratiedata en andere informatie met betrekking tot jou zijn onderworpen aan ons 
							<a href="privacybeleid" style="text-decoration:underline;color:blue;">Privacybeleid</a>. 
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>3. Prijzen, vergoedingen en betalingen.</strong> U stemt ermee in om alle kosten in verband met uw aankoop (inclusief toepasselijke taxen en/of belastingen)
							tegen de tarieven van kracht bij de indiening van uw bestelling. <strong>We zullen alle kosten in rekening brengen op de kredietkaart die u ons verstrekt.</strong>
							Wil u een andere kredietkaart gebruiken of is er een wijziging in de geldigheid of de vervaldatum van uw kredietkaart, of als u denkt dat iemand toegang 
							heeft tot uw account met uw gebruikersnaam en wachtwoord zonder uw toestemming, moet u onmiddellijk contact met ons opnemen.								
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>4. Opties om u bestelling te plannen.</strong> We voorzien een optie waar u uw bestellingen preventief kunt plannen 
							(bijvoorbeeld het plannen van bepaalde opdrachten door Heal te leveren op een maandelijkse, periodieke of gespecificeerde basis). 
							U moet ons uitdrukkelijk instrueren indien u wenst deel te nemen aan een dergelijk programma, waarbij wij u de bestelling(en) sturen die u vooraf hebt uitgekozen
							en wij factureren uw kredietkaart zoals deze aanwezig in ons systeem. Dergelijke vooraf geplande bestellingen mogen worden verwerkt tot tien (10) dagen van tevoren,
							zodat u ons ten minste tien (10) dagen op voorhand dient te verwittigen als u dingen wenst te wijzigen of te annuleren van de bestelling. 
							Als u niet aan kennisgeving van de wijziging/annulering binnen de hierboven vermelde termijn voorziet, kunnen wij niet garanderen dat uw verzoek zal worden voldaan
							nadat de bestelling is verzonden. In dat geval bent u verantwoordelijk, en wordt uw creditcard in rekening gebracht voor de betaling van alle kosten in verband met de bestelling
							die al verwerkt of verzonden is voordat uw verzoek is ontvangen.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>5. Bestellingen wijzigen of annuleren.</strong> Ga er niet vanuit dat annulatie of wijziging van ELKE bestelling gemaakt bij Heal, 
							of op grond van een gepland programma of niet, is verricht totdat u een bevestiging van Heal heeft ontvangen via e-mail of via de website. 
							Zoals hierboven vermeld, wordt u verantwoordelijk geacht voor, en kan uw kredietkaart in rekening worden gebracht voor de betaling van alle kosten
							in verband met bestellingen reeds verwerkt of verzonden voordat het verzoek tot annulatie of wijzigen is ontvangen.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>6. Vertegenwoordiging als de capaciteit tot het aangaan van een overeenkomst.</strong> U verklaart dat u de vereiste juridische capaciteit
							hebt en dat u de vereiste wettelijke leeftijd (dat wil zeggen, 18 jaar) bezit om deze overeenkomst aan te gaan en dat niemand behalve u interesse heeft in uw account bij ons.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>7. Orderbevestigingen, verklaringen, kennisgevingen en andere mededelingen.</strong> U begrijpt dat het uw verantwoordelijkheid is om te beoordelen, 
							bij de eerste ontvangst, of aan u geleverd is via email of door een posting op de website, of door alle andere elektronische middelen, alle orderbevestigingen, 
							verklaringen van verwijs-een-vriend saldi, transactiegeschiedenis, kennisgevingen en andere mededelingen. Al de hierin vervatte informatie is bindend voor u, 
							als u geen bezwaar, schriftelijk of via e-mail, binnen 48 uur, voor dergelijk document of informatie naar u wordt verzonden of beschikbaar is via de website. 
							In alle gevallen, behoudt Heal zich het recht om de geldigheid van uw bezwaar aangaande de transactie te bepalen. Dergelijke mededelingen, 
							informatie en andere mededelingen van Heal worden geacht te zijn geleverd en voor u beschikbaar of werkelijk ontvangen of niet.
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							U verklaart dat Heal voldoet aan haar wettelijke verplichting om dergelijk document te versturen via elektronische weg, eventueel in de vorm van een e-mail,
							een bijlage e-mail, een bericht op de website, of in de vorm van een beschikbare download van de website. 
							U verklaart dat u het relevante document download direct na ontvangst van kennisgeving van de beschikbaarheid ervan. 
							Mocht u enige moeite ondervinden bij het openen of lezen van het door Heal voorziene electronische document, notificeert u Heal onmiddellijk om ons toelaten
							de gewenste levering op een andere manier mogelijk te maken. Het niet melden aan Heal van dergelijke problemen binnen 48 uur na levering dient als 
							een bevestiging dat u in staat was het betreffende document te ontvangen en openen.					
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>8. Verantwoordelijkheden en beperkingen van de aansprakelijkheid.</strong> U verklaart dat u de enige en exclusieve geautoriseerde gebruiker van uw wachtwoord
							van uw Heal account zal zijn en u als enige verantwoordelijk zal zijn voor het gebruik, de vertrouwelijkheid en de bescherming van het wachtwoord, evenals voor alle bestellingen
							en informatie wijzigingen (o.a., adreswijzigingen) in uw account ingevoerd met behulp van dergelijke wachtwoord.
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							U bent volledig verantwoordelijk voor de bewaking en beveiliging van uw account. U zult Heal onmiddellijk schriftelijk in kennis stellen, 
							geleverd via e-mail en gecertificeerd/ontvangstbevestiging van de post, als u op de hoogte bent van enig verlies, diefstal of onbevoegd gebruik van uw wachtwoord en accountnummer;
							of falen van de ontvangst van een bericht door ons dat aangeeft dat een order is ontvangen en uitgevoerd of eventuele onjuiste gegevens in uw account of transactiegeschiedenis.			
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							Als u faalt Heal onmiddellijk kennis te geven indien één van bovenstaande situaties zich voordoet, 
							zal noch Heal noch een van haar functionarissen, directeuren, werknemers, agenten, filialen of dochterondernemingen verantwoordelijkheid of aansprakelijkheid
							jegens u of enige andere persoon hebben wiens aanspraak kunnen ontstaan ​​door u voor claims met betrekking tot de behandeling,
							verkeerd gebruik of verlies van een bestelling. In geen geval, met inbegrip van nalatigheid, zal Heal of iedereen betrokken bij het ​​cre&#235;ren, produceren, leveren
							of het beheer van diensten van Heal aansprakelijk zijn voor enige directe, indirecte, incidentele of speciale schade of gevolgschade die het gevolg zijn
							van het gebruik van of het onvermogen om de website te gebruiken, de diensten die door Heal of uit enige schending van enige garantie door Heal. 
							Deze uitsluiting of beperking van aansprakelijkheid is niet van toepassing voor zover de van toepassing zijnde wet verbiedt een dergelijke uitsluiting of beperking van aansprakelijkheid.
							Voor zover de een van toepassing zijnde wet geldt die het bovenstaande wijzigt, zal de aansprakelijkheid van Heal geen hypothetische winsten of verliezen bevatten,
							en is overeengekomen dat alleen de werkelijke feiten, of het ontbreken daarvan, van de partijen op deze overeenkomst beoordelen.				
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							VOOR ZOVER TOEGESTAAN OP GROND VAN TOEPASSELIJK RECHT, WIJST Heal; ALLE GARANTIES, EXPLICIET OF IMPLICIET, INCLUSIEF, MAAR NIET BEPERKT TOT, GARANTIES VAN GESCHIKTHEID VOOR EEN BEPAALD DOEL, AF.				
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							Het gebruik en de opslag van alle informatie, waaronder, zonder beperking, het wachtwoord, transactie-activiteit, krediet of beloning saldi 
							en alle andere informatie of bestellingen beschikbaar zijn op uw persoonlijke computer is op eigen risico en is het uw eigen verantwoordelijkheid. 
							U bent verantwoordelijk voor het leveren en onderhouden van de communicatie-apparatuur (met inbegrip van personal computers en modems) en telefoon 
							of alternatieve diensten die nodig zijn voor de toegang tot en het gebruik van de website of aanverwante diensten, en voor alle communicatie servicekosten
							en kosten die door u toegang geven tot websites of verwante diensten.				
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>9. Handelsmerken.</strong> "Heal.be" en andere merken op onze site vermeld zijn handelsmerken van Heal in de Belgi&#235; maar ook in andere landen. 
							Heals handelsmerken kunnen niet worden gebruikt in verband met een product of dienst delweke van niet Heal is, 
							op een manier die waarschijnlijk verwarring zal veroorzaken bij de klanten, of op een manier die in diskrediet Heal kan brengen. 
							Alle andere handelsmerken die geen eigendom zijn van Heal zijn eigendom van hun respectievelijke eigenaars, die al dan niet aangesloten bij,
							verbonden aan, of gesponsord worden door Heal.
						</dd>
					</dl>							
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>10. Copyright.</strong> Alle inhoud op deze site, zoals tekst, afbeeldingen, logos, pictogrammen, figuren, audioclips, digitale downloads, data compilaties en software,
							is eigendom van Heal of haar leveranciers en de inhoud is beschermd door Belgische en internationale wetten op het auteursrecht.
							De compilatie van alle inhoud op deze site is het exclusieve eigendom van Heal en wordt beschermd door Belgische en internationale wetten op het auteursrecht. 
							Alle software die gebruikt wordt op deze site is eigendom van Heal of zijn software leveranciers en wordt beschermd door Belgische en internationale wetten op het auteursrecht.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>11. Beperkingen, restricties en be&#235;indiging van Heal.be.</strong> U mag de producten of materialen die worden verkocht of ter beschikking gesteld door Heal
							alleen voor uw eigen behoeften gebruiken, en u bent niet bevoegd om de producten of materialen door te verkopen of om kopie&#235;n van materialen voor verkoop voor anderen beschikbaar stellen.
							U zult het auteursrecht of intellectuele eigendomsrecht van afdrukken van elektronisch toegankelijk materialen niet verwijderen.
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							U begrijpt dat Heal kan op elk moment, naar eigen goeddunken en zonder voorafgaande kennisgeving aan u, kan uw toegang verbieden tot het gebruik van de website of
							de daarmee verband houdende diensten of uw vermogen om producten te kopen op de website beperken. Heal kan uw account op elk gewenst moment, om welke reden
							en zonder voorafgaande kennisgeving be&#235;indigen. U bent op elk moment vrij om uw account bij Heal te be&#235;indigen om welke reden dan ook, met inachtneming van de voorwaarden van punt 4 in dit document.
							Het afsluiten van een rekening heeft geen invloed op de rechten en/of verplichtingen van beide partijen voorafgaand aan de datum waarop de rekening is gesloten.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>12. Risico van verlies, garanties en retourneren.</strong> Alle items gekocht bij Heal zijn onderworpen aan een zendingcontract. 
							Dit betekent dat het risico van verlies en de omschrijving van dergelijke items aan wordt voorzien vanaf onze levering aan de vervoerder.
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							De items te koop door Heal aangeboden wordt door derden vervaardigd en in de volle omvang toegestaan ​​door de wet, 
							Heal wijst alle verklaringen en garanties daarin. Verder zijn alle verkopen definitief en er kan alleen op grond van het 
							<a href="helpdesk/retourneren" style="text-decoration:underline;color:blue;">Retourbeleid</a> op de websites worden teruggegeven aan de vennootschap. 
							Problemen met, of defecten aan, dergelijke goederen worden doorgestuurd naar de fabrikant van de goederen.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>13. Verkeerde waardering.</strong>  Ondanks onze beste inspanningen, kan een klein aantal van de items op onze website foutief zijn aangeprijsd. 
							Als we een verkeerde waardering ontdekken, doen we een van de volgende:
							<ul>
								<li>
									Als de correcte prijs van een item lager is dan onze gestelde prijs, zullen we het lagere bedrag in rekening brengen en het item naar u verzenden.
								</li>
								<li>
									Als de correcte prijs van een item hoger is dan onze gestelde prijs, zullen wij, naar onze keuze, ofwel contact met u op nemen voor instructies 
									voor de verzending of uw bestelling annuleren en u op de hoogte brengen van deze annulering.
								</li>
							</ul>
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>14. Monitoring en opname van telefoongesprekken en e-mail.</strong> Voor uw veiligheid en voor de bescherming van Heal, en als een instrument om misverstanden te corrigeren,
							u begrijpt, gaat ermee akkoord en machtig Heal, naar eigen goeddunken en zonder verdere voorafgaande kennisgeving aan u, 
							bewaking en registratie van een of alle telefoongesprekken tussen u en Heal en alle werknemers of agenten van Heal en om uw elektronische communicatie
							te monitoren bij Heal.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>15. Juridisch bindend.</strong> U gaat ermee akkoord dat deze overeenkomst en alle voorwaarden hierin bindend zijnvoor u en uw nalatenschap, 
							erfgenamen, executeurs, beheerders, persoonlijke vertegenwoordigers, opvolgers en rechtverkrijgenden.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>16. Buitengewone situaties of technische problemen.</strong> U gaat specifiek akkoord om Heal te vrijwaren van alle claims, 
							en gaat ermee akkoord dat Heal niet aansprakelijk voor is verlies, de werkelijke of vermeende te zijn, direct of indirect veroorzaakt door regelgeving van de overheid, 
							uitwisseling of marktregulering, opschorting van de handel, oorlog, staking, defecte apparatuur, communicatielijn mislukking, 
							falen van het systeem, de veiligheid mislukking op het internet, ongeautoriseerde toegang, diefstal of enige probleem, technologische of anderszins, 
							die u zou kunnen voorkomen dat Heal een order kan uitvoeren, of andere omstandigheden buiten onze controle. Bovendien, in een technische omgeving, 
							zou een fout optreden met betrekking tot het volgen van een bestelling of bestellingentitiet, zal de echte, werkelijke en correcte transactie of positie worden hersteld. 
							Het uw verantwoordelijkheid om de correctheid en accuraatheid van uw account te verzekeren en Heal direct te contacteren bij eventuele discrepties of verschillen.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>17. Wettelijke bepaling.</strong> Volgende overeenkomst en uitvoering wordt beheerst door het Belgische Wet, dat, 
							afzonderlijk en/of tezamen alle accounts die u kunt openen bij Heal bindend zijn voor u en uw opvolgers (door fusie, consolidatie of anderszins), 
							erfgenamen, executeurs, beheerders en rechtverkrijgenden. Deze overeenkomst komt ten goede komende van Heal en haar opvolgers, rechtverkrijgenden en agenten. 
							Heal mag de rechten en plichten uit hoofde van deze overeenkomst naar een van haar dochterondernemingen of filialen overdragen zonder u daarvan kennis te geven, 
							of om een andere entiteit na voorafgaande schriftelijke kennisgeving aan u.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>18. Toepasselijk recht en bevoegde rechter.</strong> Op alle aanbiedingen en overeenkomsten tussen u en ons is uitsluitend Belgisch recht van toepassing. 
							De toepasselijkheid van het Weens Koopverdrag wordt uitdrukkelijk uitgesloten. Alle geschillen die verband houden met of voortvloeien uit aanbiedingen van Heal, 
							of overeenkomsten die met haar gesloten zijn, worden voorgelegd aan de bevoegde territoriale rechter, 
							tenzij een dwingende wetsbepaling uitdrukkelijk een andere rechter als bevoegd aanwijst.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>19. Ontheffing.</strong> Behalve zoals uitdrukkelijk in deze overeenkomst is toegestaan, kan geen enkele bepaling of voorwaarde van deze overeenkomst, 
							noch mag worden geacht te zijn, afgezien, veranderd, aangepast of gewijzigd, tenzij schriftelijk overeengekomen met een bevoegde vertegenwoordiger van Heal.
						</dd>
					</dl>							
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>20. Amendementen; Volledige overeenkomst.</strong> U BEGRIJPT DAT DE TOEGANG TOT EN HET GEBRUIK VAN UW ACCOUNT INHOUD UW TOESTEMMING EN AKKOORD TE GEVEN VOOR
							HET HOUDEN AAN DE VOORWAARDEN VAN DEZE ACCOUNT. HEAL KAN OP ELKE MOMENT DEZE VOORWAARDEN HERZIEN DOOR BIJWERKING VAN DE ACCOUNTOVEREENKOMST.
							U STEMT IN OM GEBONDEN TE ZIJN AAN OPEENVOLGENDE REVISIES EN GAAT AKKOORD OM DEZE TE HERLEZEN OP PERIODISCHE BASIS VOOR WIJZIGINGEN AAN 
							DE VOORWAARDEN EN CONDITIES VAN DEZE ACCOUNTOVEREENKOMST. DE MEEST UP TO DATE VERSIE VAN DE ACCOUNTOVEREENKOMST ZAL ALTIJD BESCHIKBAAR ZIJN OP DE WEBSITE. 
							VOORTGEZET GEBRUIK VAN HEAL NA DERGELIJKE WIJZIGINGEN GAAT NOODZAKELIJK GEPAARD MET BEVESTIGING EN ACCEPTATIE VAN ZULK AMENDEMENT.
							Deze overeenkomst vormt de volledige overeenkomst tussen u en Heal met betrekking tot het onderwerp ervan. 
							Bepaald beleid en/of procedures kunnen verder worden beschreven op de Heal.be website, en door het gebruik van de Heal.be website en diensten,
							gaat u akkoord en bent u geboden aan elke en alle dergelijke postings. U mag geen enkele rechten of verplichtingen overdragen zonder voorafgaande schriftelijke toestemming
							verkregen door een bevoegde functionaris van Heal.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>21. Gescheidenheid.</strong>  Indien enige bepaling of voorwaarde van deze overeenkomst ongeldig of onuitvoerbaar wordt op grond van een wet, 
							regel, bestuursdwang of rechterlijke beslissing door een rechter, of regelgevende of zelfregulerende instantie of lichaam, 
							zon ongeldigheid of onuitvoerbaarheid zal alleen hechten aan een dergelijke bepaling of voorwaarde. 
							De geldigheid van de overige bepalingen en voorwaarden wordt niet beïnvloed en deze overeenkomst zal worden uitgevoerd alsof een dergelijke ongeldige 
							of onuitvoerbare bepaling of voorwaarde hierin niet werd opgenomen.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							<strong>22. Koppen zijn beschrijvend.</strong> De titels van elke bepaling hiervan hebben enkel een omschrijvende functie en wordt niet geacht te wijzigen of te kwalificeren
							voor een van de rechten en verplichtingen vermeld in elk van deze bepaling beschrijvende doeleinden.
						</dd>
					</dl>								
				</div>
			</div>
			<div class="legalPageBtm"></div>
			
		</div>
	</div>
</div>