<div class="wrapBox">
	<div class="wrapIn contentWrap clearfix">            
		<div class="mainbox">
			<div class="legalPageTop"></div>
			<div class="legalPageBox">
				<div class="quidsiLegalTitle">HEAL Privacybeleid</div>
				<h2 class="lastUpdatedText">Laatste Update: 17 Mei 2014</h2>
				<div id="quidsiLegalText">
					<dl class="klasse1">
						<dd class="klasse3" style="padding-right:40px;">
							 Heal.be is eigendom van en wordt ge&#235;xploiteerd door Apotheek Eline Gryson B.v.b.a., of hun agenten of licentiegevers. Wij zijn gevoelig voor uw zorgen
							 over hoe we persoonlijke informatie die wij verzamelen via onze winkel kunnen gebruiken en delen. 
							 We erkennen en respecteren het belang van het behoud van de privacy van onze bezoekers en leden en dit privacybeleid is het resultaat hiervan. 
							 Dit privacybeleid is opgenomen in onze <a href="algemene-voorwaarden" style="text-decoration:underline;color:blue;">Algemene Voorwaarden</a> 
							 en <a href="accountovereenkomst" style="text-decoration:underline;color:blue;">Accountovereenkomst</a> en betreft dus uw gebruik van de winkel en/of andere dienst
							 aangeboden door Heal. Door het bezoeken van de winkel, en/of het gebruik van andere diensten aangeboden door Heal, 
							 gaat u akkoord met de geldende praktijken in dit privacybeleid beschreven.
						</dd>
						<dd class="klasse3" style="padding-right:40px;">
							Met veel plezier beantwoorden we uw vragen of horen we uw opmerkingen rond dit privacybeleid. 
							Contacteer ons steeds vrijblijvend op <a href = "http://www.heal.be/helpdesk/email-ons" style="text-decoration:underline;color:blue;">klantenservice@heal.be</a>.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3">
							<strong>Welke informatie verzamelen we over onze klanten?</strong>
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							De informatie die we leren van onze klanten helpt ons onze aangeboden service te verbeteren en te personaliseren. 
							We verzamelen volgende types informatie: 
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Informatie gegeven aan ons.</strong> We ontvangen en onthouden alle informatie die u in onze winkel ingeeft. 
							Dit betreft onder andere ook telefoongesprekken en andere communicatiemiddellen.
							Ook kan dit informatie zijn die u ons voorziet wanneer u zich registreert als klant, u zich engageert in een transactie, zoekt, onze klantendienst contacteert,
							of deelneemt aan wedstrijden, promoties, enquetes, forums, chat, bulletin boards, discussies of een andere service die door ons wordt aangeboden.
							Als resultaat kan u ons dus voorzien van informatie zoals uw naam, adres en telefoonnummers; credit / debit card nummers, vervaldatum en andere factuurgegevens; 
							mensen aan wie aankopen zullen worden verzonden, inclusief adressen en telefoonnummers; aankoop geschiedenis; en de namen en e-mailadressen van vrienden, 
							mogelijk verwijs-een-vriend klanten en andere mensen.
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Automatische informatie.</strong> We ontvangen en onthouden automatisch informatie bij elke interactie met ons. 
							Zoals de meeste websites maken we gebruik van "cookies" en andere technologie&euml;n voor het bekomen van bepaalde types informatie
							wanneer uw computer, smartphone of ander toestel onze winkel bezoekt. Deze informatie wordt gecompileerd en geanalyseerd
							op zowel persoonlijk niveau als geaggregeerde basis, en bevat evenuteel de websites Uniform Resource Locator ("URL")
							waarvan u net kwam of naar welke URL u vervolgens naartoe gaat, welke internet browser u gebruikt en uw Internet Protocol ("IP") adres.
							Andere voorbeelden van automatische informatie die we kunnen verzamelen zijn aankoop geschiedenis, producten bekeken of gezocht, 
							de bezoeken aan bepaalde pagina's, interactie-informatie en het telefoonnummer dat u gebruikt om &eacute;&eacute;n van onze gratis nummers te bellen. 
							We associ&euml;ren de informatie die wij in cookies opslaan met persoonlijk identificeerbare informatie die u tijdens u bezoek onze winkels voorlegt. 
							Tijdens bepaalde bezoeken kunnen we ook technische informatie van uw apparaat verzamelen om vervolgens uw apparaat te herkennen en zodanig fraude voorkomen.
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Mobiele toestellen.</strong> Als u tijdens het winkelen gebruikmaakt van een mobiel toestel is het mogelijk dat er bijkomende informatie
							wordt bijgehouden door ons. Dit kan informatie zijn omtrent uw locatie of omtrent uw mobiele apparaat, 
							inclusief een unieke identificatiecode voor uw toestel, uw mobiel Operation System ("OS") en het type mobiele internet browser dat u gebruikt. 
							Van tijd tot tijd bestaat de mogelijkheid dat deze informatie wordt gebruikt voor locatie-gebaseerde services of informatie zoals reclame, 
							zoekresultaten en andere gepersonaliseerde inhoud. De meeste van de mobiele apparaten voorzien de gebruiker echter de mogelijkheid
							tot het uitschakelen van de locatie-gebaseerde service. Voor vragen rond het uitschakelen van de locatie-gebaseerde services
							van uw mobiele toestel, raden we u aan uw mobiele service provider of uw toestelproducent te raadplegen.
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Informatie voorzien door derden.</strong> Wij kunnen bepaalde informatie over klanten van derden verkrijgen. Dit kan onder meer bijgewerkte levering of adresinformatie
							van vervoerders en informatie (zoals naam en e-mailadressen) van mogelijke verwijs-een-vriend klanten vanuit de huidige klanten.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3">
							<strong>Gebruiken wij cookies?</strong>
						</dd>			
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							We gebruiken kleine tekstbestanden "cookies" genaamd dewelke niet-persoonlijk identificeerbare informatie
							met betrekking tot de bezoekers van de winkel aan ons voorzien. Naast de URL en IP-adressen van onze bezoekers, 
							kunnen cookies worden gebruikt om datum en tijd van alle bezoeken aan onze winkel te verzamelen.
							Hiermee kunnen we ook de pagina's die de gebruiker heeft bekeken tijdens zijn bezoek aan onze winkel bijhouden, 
							of ingevoerde zoektermen van uw als bezoeker verzamelen. Dit helpt ons een beeld te schetsen van het aantal bezoekers van onze winkel
							en laat ons toe om de gebieden waarvoor de meeste belangstelling is in kaart te brengen of er naar te peilen.
						</dd>	
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							We gebruiken ook Local Shared Objects (algemeen bekend als Flash cookies) voor de preventie van fraude en andere doeleinden. 
							Flash-cookies zijn kleine gegevensbestanden die een website of applicatie opslaagt op uw apparaat. Deze bestanden kunnen informatie 
							over uw online browsen activiteiten en voorkeuren bevatten. We kunnen eventueel niet-persoonlijk identificeerbare informatie verzameld 
							door het gebruik van cookies delen met onze adverteerders en/of zakelijke partners, om de winkel zo gebruiksvriendelijk mogelijk te maken.
						</dd>	
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							De Help-functie op de meeste browsers zal u vertellen hoe te voorkomen dat uw browser nieuwe cookies accepteert, 
							hoe uw browser u op de hoogte brengt wanneer u een nieuwe cookie ontvangt of hoe u cookies helemaal kunt uitschakelen. 
							Flash-cookies worden niet opgeslagen op dezelfde manier als conventionele cookies, en niet alle browserversies zullen
							Flash cookies verwijderen wanneer u de conventionele cookies verwijdert van uw browser. Als u flash-cookies wenst te blokkeren of te verwijderen,
							moet u verifi&euml;ren of uw browser-versie deze functie ondersteunt. U kan ook Adobes Flash Player Settings Manager gebruiken om te bepalen
							hoe uw toestel omgaat met Flash-cookies. Omdat cookies u toelaten te profiteren van een aantal extra functies binnen onze winkel, 
							raden wij u toch aan cookies ingeschakeld te laten.
						</dd>	
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							Sommige van onze zakelijke partners (bijvoorbeeld adverteerders) gebruiken cookies op onze winkel. Wij hebben geen toegang tot of controle over deze cookies.
							Deze Privacy Policy heeft alleen betrekking op het gebruik van cookies door Heal en heeft geen betrekking op het gebruik van cookies door adverteerders.
						</dd>	
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							Zoals gesteld zijn er vele verschillende cookies te vinden. Elk met hun eigen toepassing en betekenins. 
							Hieronder vindt u onze omschrijvende cookie-lijst waarbij eerst de <b>COOKIE naam</b> en vervolgens de <b>COOKIE beschrijving</b> wordt gegeven.
						</dd>
						<div>
							<div style="float:left; max-width:480px;">
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>CART</b> De associatie met uw winkelwagen.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>CATEGORY_INFO</b> Slaat categorie-info op, om de paginas sneller weer te geven.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>COMPARE</b> Items in uw lijst met producten om te vergelijken.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>CURRENCY</b> Uw munteenheid voorkeur.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>CUSTOMER</b> Versleutelde versie van uw klantennummer.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>CUSTOMER_AUTH</b> Geeft aan of u huidig bent ingelogd.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>CUSTOMER_INFO</b> Versleutelde versie van de klantengroep waartoe u behoort.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>CUSTOMER_SEGMENT_IDS</b> Slaat de klants segement identificatienummer op.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>EXTERNAL_NO_CACHE</b> Een vlag dewelke aangeeft of caching is uitgeschakeld of niet.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>FRONTEND</b> Uw sessie identificatienummer op onze server.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>GUEST_VIEW</b> Laat toe dat gasten hun bestelling kunnen editeren.
								</dd>
								<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
									<b>LAST_CATEGORY</b> De laatste categorie die u bezocht hebt.
								</dd>
							</div>
							<div style="float:right; max-width:480px;">
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>LAST_PRODUCT</b> Het meeste recente product dat u bezocht hebt.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>NEWMESSAGE</b> Geeft aan of een nieuw bericht is ontvangen.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>NO_CACHE</b> Geeft aan of het is toegelaten cache te gebruiken.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>PERSISTENT_SHOPPING_CART</b> Een link naar informatie over uw winkelkar.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>POLL</b> De identificatie(ID) van polls aan welke u recent deelnam.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>POLLN</b> Informatie over aan welke polls u al deelnam.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>RECENTLYCOMPARED</b> De items die u recent hebt vergeleken.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>STF</b> Informatie over producten die u hebt ge-emailed naar vrienden.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>STORE</b> De store view of taal die u hebt geselecteerd.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>USER_ALLOWED_SAVE_COOKIE</b> Geeft aan of de klant toelaat cookies te gebruiken.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>VIEWED_PRODUCT_IDS</b> Recent bekeken producten.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>WISHLIST</b> Versleutelde lijst producten toegevoegd aan uw verlanglijst.
								</dd>
								<dd class="klasse3" style="padding-left:0px;padding-right:40px;">
									<b>WISHLIST_CNT</b> Het aantal items in uw verlanglijst.
								</dd>
							</div>
						<div>
					</dl>
					
					<div style="clear:both;"></div>
					
					<dl class="klasse1" style="padding-top: 20px;">
						<dd class="klasse3">
							<strong>Hoe gebruiken we informatie die we verzamelen en delen we informatie die we ontvangen?</strong>
						</dd>			
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							Informatie over onze klanten is een belangrijk onderdeel van ons bedrijf. We maken gebruik van informatie uit onze winkel om te communiceren met u,
							om uw bestellingen te verwerken, om een betere en meer persoonlijke interactieve shopping ervaring te bieden, om uw transacties met onze externe marketing partners
							te vergemakkelijken en om u op de hoogte te brengen van aanbiedingen en kortingen. Zo zal u bijvoorbeeld, een gastvrije e-mail kunnen ontvangen om uw gebruikersnaam
							en wachtwoord te bevestigen. Daarnaast communiceren met u om te antwoorden op u vragen, om de verzochte diensten te voorzien en om uw account te beheren.
							We hebben ook service-gerelateerde aankondigingen op gelegenheden wanneer het eventueel nodig is om de website, applicatie of andere dienst voor onderhoud tijdelijk op te schorten.
							Ook zullen we u promotionele e-mails sturen op deze gelegenheid. In het algemeen, kunt u u niet afmelden voor service-gerelateerde communicatie,
							die niet van promotionele aard is. Als u deze toch niet wenst te ontvangen, hebt u de mogelijkheid om uw account te be&#235;indigen. In uw account bij Heal, 
							de eigenaar en exploitant van de winkel, kunt u steeds afmelden voor directe promotiemededelingen door de uitschrijfinstructies binnen elke communicatie 
							van die winkel te doorlopen of een e-mail naar <a href="http://www.heal.be/helpdesk/email-ons" style="text-decoration:underline;color:blue;">klantenservice@heal.be</a> te zenden. 
							Wij delen de klantinformatie met derden enkel als volgt:
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Dienstverlening door derden.</strong> We werken eventueel nauw samen met andere bedrijven (die wij niet bezitten of controleren) die producten of diensten verkopen aan
							een of meerdere van onze winkels. In sommige gevallen hebben deze bedrijven winkels of websites met producten of diensten die ze rechtstreeks aan u te koop kunnen aanbieden. 
							In andere gevallen, opereren we winkels, verlenen we diensten of verkopen we productlijnen in samenwerking met deze bedrijven. Wij delen klantinformatie met betrekking tot
							deze transacties met derden.
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Promotionele aanbiedingen.</strong> Wij bieden regelmatig onze klanten informatie over producten en diensten van derden die volgens ons interessant voor u zijn
							en met de mogelijkheden om te participeren in aanbiedingen en/of promoties namens andere bedrijven. Uw deelname aan deze gebeurtenissen kan ons verplichten gegevens
							met zo'n bedrijf te delen. Als u deze informatie of aanbiedingen niet wenst te ontvangen, voor rekening van derden of anderszins, dan kunt u dit gewoon negeren tijdens de registratie,
							mail ons later op <a href="http://www.heal.be/helpdesk/email-ons" style="text-decoration:underline;color:blue;">klantenservice@heal.be</a>, of u kan zich uitschrijven via de instructies binnen elke communicatie.
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Onze "Geselecteerde partners".</strong> Van tijd tot tijd, kunnen we een zakelijke relatie aangaan met andere personen of instanties
							wie wij geloven betrouwbaar te zijn en die wij hebben gevraagd om te bevestigen dat hun privacybeleid in wezen overeenstemt met het onze.
							Deze staan bij  Heal bekend als de "Geselecteerde Partners". In zulke gevallen kunnen we delen van referentie-informatie, inclusief persoonlijke informatie over u, 
							die dergelijke personen of entiteiten in staat zal stellen om u te contacteren met betrekking tot producten en diensten die voor u interessant kunnen zijn.
							Wij kunnen uw persoonlijke informatie combineren met publiek beschikbare informatie en informatie die wij ontvangen van of verwijzing met onze Geselecteerde Partners en anderen.
							Wij gebruiken deze gecombineerde informatie om de winkelervaring bij ons te verbeteren en te personaliseren, om met u te communiceren over onze producten en diensten
							die voor u interessant kunnen zijn en voor verdere promotionele doeleinden. Als u niet wilt dat wij informatie met onze Geselecteerde Partners delen, 
							dan kan u dit makkelijk bij de registratie, via ons te mailen op <a href="http://www.heal.be/helpdesk/email-ons" style="text-decoration:underline;color:blue;">klantenservice@heal.be</a>, 
							of via de afmeldinstructielink binnen elke communicatie.
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Reviews en getuigenissen.</strong> Wanneer u informatie deelt om te posten op sociale netwerksites of om uw vrienden te vertellen over onze winkel,
							wordt de informatie verzameld door een derde partij site om uw postings te vergemakkelijken. U moet weten dat alle persoonlijk identificeerbare informatie die u aanbiedt,
							kan worden gelezen, verzameld of gebruikt door andere gebruikers van deze forums, en kunnen worden gebruikt om u ongevraagde berichten te sturen.
							Wij zijn niet verantwoordelijk voor de persoonlijk identificeerbare gegevens die u op deze forums post. Bij het zoeken naar of ontvangen van getuigenissen van klanten of feedback,
							onthullen we hun voornaam, samen met alle of een deel van hun getuigenis tenzij dit expliciet is aangegeven en uitgevoerd aan de hand van onze instructies.
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Fusie of verkoop.</strong>  In het geval dat een van onze winkels, alle of nagenoeg alle van hun respectievelijke activa, 
							of een lijn van het bedrijf van een van onze winkels, wordt verworven, kan alle informatie van onze leden 
							onder de verworven activa worden ondergebracht, en dit zonder kennisgeving aan u of zonder uw toestemming. 
							We zullen de gebruikers van de winkels van een dergelijke verandering in de eigendom of overdracht van activa op de hoogte brengen
							door het plaatsen van een bericht op onze winkel.
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Failissement.</strong> In het onwaarschijnlijke geval van ons faillissement, insolventie, reorganisatie, ondercuratelestelling
							of overdracht ten behoeve van de schuldeisers, of de toepassing van wetten of billijke principes aangegeven de rechten van crediteuren in het algemeen,
							kunnen we niet in staat zijn om te bepalen hoe uw persoonlijke informatie wordt behandeld, overgedragen of gebruikt. 
							Daarom dient u te weten dat in zulk geval uw persoonlijke gegevens kunnen worden behandeld als elke andere goed van Heal, en worden verkocht, 
							overgedragen of gedeeld met derden, of gebruikt worden op manieren die niet overwogen of toegestaan zijn zoals hier beschreven, en dit zonder kennisgeving
							aan u of uw toestemming.
						</dd>
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							<strong>Bescherming van Heal en anderen.</strong> We geven account en andere persoonlijke gegevens vrij wanneer wij geloven dat dit nodig is om te voldoen aan
							de wet en/of een gerechtelijke procedure, gerechtelijk bevel of een juridisch proces dat wordt gevoerd op Heal; af te dwingen of onze gebruiksvoorwaarden
							en andere overeenkomsten van toepassing zijn; of ter bescherming van de rechten, eigendom of veiligheid van Heal, onze website gebruikers of anderen. 
							Dit omvat het uitwisselen van informatie met andere bedrijven en organisaties voor bescherming tegen fraude en vermindering van het kredietrisico.
						</dd>
					</dl>
					<dl class="klasse1">
						<dd class="klasse3">
							<strong>Hoe veilig is de persoonlijke informatie die u verzamelt?</strong>
						</dd>			
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							We hebben voorzorgsmaatregelen genomen, waaronder de inzet van technologische middelen en het gebruik van firewalls, systemen en procedures, 
							om de veiligheid van uw persoonlijke informatie te beschermen. Wanneer u creditcardgegevens invoert bij onze winkel, kunnen we deze opslaan, 
							zodat u ze niet steeds opnieuw hoeft in te voeren elke keer u een bestellig plaatst, maar we versleutelen uw gegevens bij het opslaan. 
							Hoewel geen enkel beveiligingssysteem absoluut waterdicht is, zijn we voortdurend aan de slag om onze veiligheidssystemen te verfijnen en verbeteren
							om uw privacy te beschermen. Wanneer u een account bij onze winkels opent, cre&euml;ert u een persoonlijk wachtwoord waarmee u toegang tot en de beveiliging
							van uw account en accountgegevens voorziet. Hoewel we deze voorzorgsmaatregelen hebben genomen, bent u zelf verantwoordelijk voor de geheimhouding van uw wachtwoord,
							en dusdanig niet mag bekent gemaakt worden door u. Bij gebruik van een gedeeld apparaat, neemt u beter het zekere voor het onzekere en door uit te loggen
							na elk gebruik van het apparaat.
						</dd>
					</dl>
					<dl class="klasse1">								
						<dd class="klasse3">
							<strong>Links</strong>
						</dd>			
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							Onze winkel bevat links naar andere websites dewelke we niet bezitten of opereren. We hebben geen controle over de inhoud, 
							het beleid of de acties van deze websites, zelfs indien er diensten worden aangeboden op deze sites omdat u een account hebt bij
							onze shop. Wij zijn niet verantwoordelijk voor de privacy praktijken of inhoud van zulke websites. We raden u aan 
							waakzaam te zijn wanneer u onze website verlaat en om elke privacyverklaring van de websites die persoonlijke informatie
							verzamelen te lezen. De privacyverklaring hier beschreven betreft enkel informatie die onze winkel verzamelt. 
						</dd>	
					</dl>
					<dl class="klasse1">
						<dd class="klasse3">
							<strong>Minderjarigen</strong>
						</dd>			
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							U moet minimum 18 jaar oud zijn om lid te worden van onze online winkel. Wij verzamelen niet bewust informatie van minderjarigen.
						</dd>	
					</dl>
					<dl class="klasse1">
						<dd class="klasse3">
							<strong>Wijzigen van uw persoonlijke informatie</strong>
						</dd>			
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							U mag persoonlijke identificatie-informatie ten allen tijden nakijken, corrigeren of wijzigen door uw accountinformatie
							via onze online apotheek te raadplegen of door ons te bellen op onderstaand nummer. U bent verantwoordelijk voor het onderhouden
							van de correctheid en volledigheid van u persoonlijke en andere informatie, inclusief emailadres, en we raden u sterk aan
							om uw informatie regelmatig na te kijken zodat u zeker bent dat alles correct en volledig is. 									
						</dd>
					</dl>
					<dl class="klasse1">								
						<dd class="klasse3">
							<strong>Gebruikersvoorwaarden, notities en revisies</strong>
						</dd>			
						<dd class="klasse3"style="padding-left:40px;padding-right:40px;">
							Indien u kiest voor het bezoeken van onze website of gebruikmaakt van onze services, is uw bezoek en/of uw geschil onderworpen aan dit privacybeleid
							en onze <a href="algemene-voorwaarden" style="text-decoration:underline;color:blue;">Algemene Voorwaarden</a> 
							en <a href="accountovereenkomst" style="text-decoration:underline;color:blue;">Accountovereenkomst</a> (wanneer u lid bent), inclusief beperkingen op beschadiging, 
							abitrage van geschillen, en toepassing van de Belgische Wet (bekijk ook paragraaf "<a href="#Wet1992" style="text-decoration:underline;color:blue;">Wet van 8 december 1992</a>").
							</br>
							Ons privacybeleid, de gebruikersvoorwaarden, accountovereenkomst en andere voorwaarden en condities kunnen wijzigen. In geval van een wijziging zal
							het gereviseerde beleid of de voorwaarden en de condities onmiddellijk worden gepost op onze online winkel. U zou onze winkel regelmatig kunnen bezoeken om
							recente wijzigingen te bekijken. Indien we belangrijke wijzigingen aanbrengen waarvan we vinden dat u deze zeker moet weten dan zullen we
							deze informatie zelf aan u presenteren aan de hand van een email of aan de hand van een boodschap op de homepagina. Tenzij expliciet anders vermeld, 
							is alle informatie over u onderworpen aan ons privacybeleid. 
						</dd>
					</dl>
					
					<dl class="klasse1" id="Wet1992">								
						<dd class="klasse3">
							<strong>Wet van 8 december 1992</strong>
						</dd>			
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							Tot bescherming van de pesoonlijke levenseer ten opzichte van de verwerking van persoonsgegevens. Zowel de geco&#246;rdineerde versie van de privacywet, 
							als de tekst van het K.B. van 13 februari 2001 dat de privacywet uitvoert, bevinden zich op de 
							<a href="http://www.privacycommission.be/" style="text-decoration:underline;color:blue;">website</a> van de Belgische privacycommissie.
							
						</dd>								
					<dl>
					
					<dl class="klasse1">								
						<dd class="klasse3">
							<strong>Contacteer ons</strong>
						</dd>			
						<dd class="klasse3" style="padding-left:40px;padding-right:40px;">
							Voor alle vragen of opmerkingen aangaande dit privacybeleid, email ons vrijblijvend op <a href="http://www.heal.be/helpdesk/email-ons" style="text-decoration:underline;color:blue;">klantenservice@heal.be</a>
							of bel ons gratis op <a href="#" style="text-decoration:underline;color:blue;">+32.123-456789</a>.
						</dd>								
					<dl>
								

				</div>
			</div>
			<div class="legalPageBtm"></div>
		</div>
	</div>
</div>