<?php
/**
 * This code reflects the upper footer row.
 * See also: <div class="footer-seo">...</div>
*/
$searchTitles = array(	'langs de apotheek','gezicht & lichaam', 'baby & mama', 'fit & gezond');

$searchTerms = array(   'Verkoudheid','Pijn,koorts of griep',
						'Huidproblemen','EHBO & Verbandmateriaal',
						'Goede nachtrust','Vitaminen & Supplementen',
						'Thuiszorg','Homeopathie allerlei',
						'Verzorgende serums','Nuxe reinigingsmelk',
						'Huidgenezing','Shop Avène',
						'Alles voor de man','Eucerin',
						'Tonics & Lotions','Nachtcrèmes',
						'Mustela verzorging','Babyvoeding',
						'Zwanger? Kijk hier eens','Huidverzorging baby',
						'Geneesmiddelen','Vitaminen voor baby & mama',
						'Babyaccessoires','Babykwaaltjes',
						'Voedingscosmetica','Natuurlijke energie',
						'A.Vogel gamma','Essentiële oliën',
						'Homeopathie allerlei','Tilman Bio',
						'Theeën','Fytotherapie',
						);
						
$searchUrls = array( 	'geneesmiddelen/neus-verkoudheid.html','geneesmiddelen/pijn-koorts-griep.html',
						'geneesmiddelen/huidproblemen.html','eerste-hulp-thuiszorg/ehbo-verbandmateriaal.html',
						'welzijn-gezondheid/nachtrust-ontspanning-stress.html','vitaminen-supplementen.html',
						'eerste-hulp-thuiszorg/thuiszorg.html','natuurlijk-gezond/homeopathie.html',
						'huidverzorging-make-up/type/serum.html?cat_id=16','/huidverzorging-make-up/gezichtsreiniging/type/reinigingsmelk/merken/nuxe.html', 
						'geneesmiddelen/huidproblemen.html','avène',
						'heal-shops/mannen.html','eucerin',
						'huidverzorging-make-up/type/tonics-+-lotions.html?cat_id=16','huidverzorging-make-up/type/nachtcrème.html?cat_id=16',
						'baby-zwangerschap.html?merken=6&cat_id=83','baby-zwangerschap/melk-voeding.html',
						'baby-zwangerschap/zwangerschap.html','baby-zwangerschap/huidverzorging.html',
						'baby-zwangerschap/babymedicatie.html','baby-zwangerschap/vitaminen.html',
						'baby-zwangerschap/accessoires.html','baby-zwangerschap/babykwaaltjes.html',
						'vitaminen-supplementen/voedingscosmetica.html','natuurlijk-gezond/fytotherapie/toepassing/energie.html',
						'a.vogel','natuurlijk-gezond/bad-massage-olie.html',
						'natuurlijk-gezond/homeopathie.html','natuurlijk-gezond.html?merken=37&cat_id=30',
						'natuurlijk-gezond/theeen.html','natuurlijk-gezond/fytotherapie.html',
						);				
?>


<div class="footer-container">
    <div class="footer">
            <div class="footer-content">
                    <div class="footer-background">
                            <div class="footer-seo">
                                    <div class="footer-container-bottom">
                                            <div class="footer-content-bottom">
                                                    <div class="mobile_contact_link">
                                                        <h1><a href="<?php echo $this->getBaseUrl(); ?>over-ons/contacteer-ons"><?php echo $this->__("Contacteer Ons"); ?></a></h1>
                                                    </div>
                                                    <div class="footer-cat clearFix overFlow">
                                                            <div class="footerLink">
                                                                    <a href="/algemene-voorwaarden">Algemene voorwaarden</a> | 
                                                                    <a href="/privacybeleid">Privacybeleid</a> | 
                                                                    <a href="/accountovereenkomst">Accountovereenkomst</a>
                                                            </div>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
</div>

  
<?php //echo get_class($this) 							//FYI?>
<?php //echo $this->getCopyright() 						//FYI?>
<?php //echo $this->getChildHtml('')  					//... = 1 + 2 + 3?>
<?php //echo $this->getChildHtml('cms_footer_links') 	//1 (see: page.xml, cms.xml, CMS->Static Blocks->Footer Links - disable/enable)?>
<?php //echo $this->getChildHtml('footer_links') 		//2 (see: catalog.xml, catalogsearch.xml, contacts.xml)?>  
<?php //echo $this->getChildHtml('newsletter')          //3 (see: local.xml, newsletter.xml)?>  
