@font-face {
    font-family: 'KhandRegular';
    src: url('khand-regular.eot');
    src: url('khand-regular.eot') format('embedded-opentype'),
         url('khand-regular.woff2') format('woff2'),
         url('khand-regular.woff') format('woff'),
         url('khand-regular.ttf') format('truetype'),
         url('khand-regular.svg#KhandRegular') format('svg');
}
