<?php
/**
 * This code reflects the upper footer row.
 * See also: <div class="footer-seo">...</div>
*/
$searchTitles = array(	'langs de apotheek','gezicht & lichaam', 'baby & mama', 'fit & gezond');

$searchTerms = array(   'Verkoudheid','Pijn,koorts of griep',
						'Huidproblemen','EHBO & Verbandmateriaal',
						'Goede nachtrust','Vitaminen & Supplementen',
						'Thuiszorg','Homeopathie allerlei',
						'Verzorgende serums','Nuxe reinigingsmelk',
						'Huidgenezing','Shop Avène',
						'Alles voor de man','Eucerin',
						'Tonics & Lotions','Nachtcrèmes',
						'Mustela verzorging','Babyvoeding',
						'Zwanger? Kijk hier eens','Huidverzorging baby',
						'Geneesmiddelen','Vitaminen voor baby & mama',
						'Babyaccessoires','Babykwaaltjes',
						'Voedingscosmetica','Natuurlijke energie',
						'A.Vogel gamma','Essentiële oliën',
						'Homeopathie allerlei','Tilman Bio',
						'Theeën','Fytotherapie',
						);
						
$searchUrls = array( 	'geneesmiddelen/neus-verkoudheid.html','geneesmiddelen/pijn-koorts-griep.html',
						'geneesmiddelen/huidproblemen.html','eerste-hulp-thuiszorg/ehbo-verbandmateriaal.html',
						'welzijn-gezondheid/nachtrust-ontspanning-stress.html','vitaminen-supplementen.html',
						'eerste-hulp-thuiszorg/thuiszorg.html','natuurlijk-gezond/homeopathie.html',
						'huidverzorging-make-up/type/serum.html?cat_id=16','/huidverzorging-make-up/gezichtsreiniging/type/reinigingsmelk/merken/nuxe.html', 
						'geneesmiddelen/huidproblemen.html','avène',
						'heal-shops/mannen.html','eucerin',
						'huidverzorging-make-up/type/tonics-+-lotions.html?cat_id=16','huidverzorging-make-up/type/nachtcrème.html?cat_id=16',
						'baby-zwangerschap.html?merken=6&cat_id=83','baby-zwangerschap/melk-voeding.html',
						'baby-zwangerschap/zwangerschap.html','baby-zwangerschap/huidverzorging.html',
						'baby-zwangerschap/babymedicatie.html','baby-zwangerschap/vitaminen.html',
						'baby-zwangerschap/accessoires.html','baby-zwangerschap/babykwaaltjes.html',
						'vitaminen-supplementen/voedingscosmetica.html','natuurlijk-gezond/fytotherapie/toepassing/energie.html',
						'a.vogel','natuurlijk-gezond/bad-massage-olie.html',
						'natuurlijk-gezond/homeopathie.html','natuurlijk-gezond.html?merken=37&cat_id=30',
						'natuurlijk-gezond/theeen.html','natuurlijk-gezond/fytotherapie.html',
						);				
?>


<div class="footer-container">
    <div class="footer">
		<div class="footer-content">
			<div class="footer-background">
				<div class="footer-seo">
					<div class="footer-cat clearFix footer-cat-top">
						<?php for ($i = 0; $i < 4; $i++) { ?>
							<?php if ($i == 0) { ?>
                                                <div class="search_c">
						<div class="footer-column first-column">
							<?php } elseif ($i == 3) { ?>
						<div class="footer-column last-column">
							<?php } else { ?>
                                                    <?php if ($i == 2) {?>
                                                <div class="search_c">
                                                        <?php } ?>
						<div class="footer-column">
							<?php } ?>
							<h5><?php echo $searchTitles[$i]?></h5>
							<ul class="textCapital">
							<?php for ($j = $i*8; $j < 8*($i+1); $j++) { ?>
								<li><a href="<?php echo $this->getBaseUrl(); ?><?php echo $searchUrls[$j];?>"><?php echo $searchTerms[$j];?></a></li>
							<?php } ?>
							</ul>
						</div>
                                                 <?php if ($i == 1 || $i==3) {?>
                                                    </div>
                                                <?php }?>
						<?php } ?>
                                                    <div class="footer-cat clearFix overFlow">
					<div class="footer-column">
						<div id="service-support" class="footer-row">	
							<h5>bedrijfsinfo</h5>
							<ul>
								<li><a href="<?php echo $this->getBaseUrl(); ?>over-ons/overzicht"><?php echo $this->__('Over ons'); ?></a></li>
								<li><a href="<?php echo $this->getBaseUrl(); ?>over-ons/contacteer-ons"><?php echo $this->__('Contacteer ons'); ?></a></li>
								<li><a href="<?php echo $this->getBaseUrl(); ?>over-ons/carrieres"><?php echo $this->__('Carrières'); ?></a></li>
							</ul>
						</div>
					</div>
					<div class="footer-column">
						<div id="service-support" class="footer-row">							
							<h5>klantendienst</h5>
							<ul>
								<li><a href="<?php echo $this->getBaseUrl(); ?>helpdesk/overzicht">Help &amp; FAQs</a></li>
								<li><a href="<?php echo $this->getBaseUrl(); ?>helpdesk/bestellen#NieuweKlanten">Nieuw bij Heal.be</a></li>
								<li><a href="<?php echo $this->getBaseUrl(); ?>helpdesk/cadeaubonnen">Cadeaubonnen</a></li>
								<li><a href="<?php echo $this->getBaseUrl(); ?>"></a></li>
								<li><a href="<?php echo $this->getBaseUrl(); ?>"></a></li>
								<li><a href="<?php echo $this->getBaseUrl(); ?>"></a></li>
							</ul>
						</div>											
					</div>											
					<div id="shipping-returns" class="footer-column">
						<div class="footer-row">							
							<h5>levering &amp; retour</h5>
							<ul>
								<li><a href="<?php echo $this->getBaseUrl(); ?>helpdesk/leveringen">Verzendingsbeleid</a></li>
								<li><a href="<?php echo $this->getBaseUrl(); ?>helpdesk/retourneren">Terugbrengen of Retourneren</a></li>
								<li><a href="<?php echo $this->getBaseUrl(); ?>#">Schat de aankomstdatum</a></li>
							</ul>
						</div>								
					</div>
					<div class="footer-column last-column footer-connect-us">
						<div class="footer-row footer-stay-connected">
							<h5>blijf verbonden</h5>
							<ul>
								<li>
									<span class="icon-facebook"></span>
									<a href="#">Vind Ons op Facebook</a>
								</li>
								<li>
									<span class="icon-twitter"></span>
									<a href="#">Volg Ons op Twitter</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
					</div>
				</div>
                                            
			</div>
                                    
                                    
		</div>
                <div class="footer-container-bottom">
                        <div class="footer-content-bottom">
                            <div class="footer-cat clearFix overFlow">
                                <div class="footer-column">
                                    <div class="footer-row">
                                        <div class="bottom-footer-logo">
                                            <img src="<?php echo $this->getSkinUrl()?>images/footer/logo-bottom.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-column">
                                    <div class="footer-row">
                                    <h5>extra&#39;s</h5>
                                        <?php echo $this->getChildHtml('footer_links'); ?>
                                    </div>
                                </div>
                                <div class="footer-column">
                                    <div id="service-support" class="footer-row">
                                    <h5>klantendienst</h5>
                                    <ul>
                                        <li style="margin-bottom: 8px;">
                                            <span class="icon-car"></span>
                                            <a href="<?php echo $this->getBaseUrl()?>over-ons/overzicht">Gratis verzending <br> vanaf &euro;30</a>
                                        </li>
                                        <li>
                                            <span class="icon-time"></span>
                                            <a href="<?php echo $this->getBaseUrl()?>over-ons/overzicht">Levering <br> binnen 24u</a>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                                <div class="footer-column">
                                    <div id="service-support" class="footer-row">
                                    <h5>Nieuwsbrief</h5>
                                    
                                        <div><?php echo $this->getChildHtml('newsletter'); ?></div>
                                    </div>
                                </div>
                                <p id="rights-footer">
                                        &#169;2012-2014, Heal.be of haar affiliaties. Heal.be is de online vertegenwoordiging van Apotheek Eline Gryson B.v.b.a. Producten op Heal.be worden verkocht door Apotheek <br>
                                        <span>Eline Gryson B.v.b.a.. Kortingsbonnen en cadeaubonnen op Heal.be worden verkocht en uitgereikt door Apotheek Eline Gryon B.v.b.a..</span>
                                </p>
                                <div class="footerLink">
                                        <a href="/algemene-voorwaarden">Algemene voorwaarden</a> | 
                                        <a href="/privacybeleid">Privacybeleid</a> | 
                                        <a href="/accountovereenkomst">Accountovereenkomst</a>
                                </div>
                        </div>
                </div>
    </div>
</div>


  
<?php //echo get_class($this) 							//FYI?>
<?php //echo $this->getCopyright() 						//FYI?>
<?php //echo $this->getChildHtml('')  					//... = 1 + 2 + 3?>
<?php //echo $this->getChildHtml('cms_footer_links') 	//1 (see: page.xml, cms.xml, CMS->Static Blocks->Footer Links - disable/enable)?>
<?php //echo $this->getChildHtml('footer_links') 		//2 (see: catalog.xml, catalogsearch.xml, contacts.xml)?>  
<?php //echo $this->getChildHtml('newsletter')          //3 (see: local.xml, newsletter.xml)?>  
