/* Tiny Carousel */
#slider1 { height: 1%; overflow:hidden; padding: 0 0 10px; margin-bottom: 25px;  }
#slider1 .viewport { float: left; width: 266px; height: 615px; overflow: hidden; position: relative; }
/*#slider1 .buttons {
    background: #C01313;
    border-radius: 35px;
    display: block;
    margin: 30px 10px 0 0;
    float: left;
    width: 35px;
    height: 35px;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;

#slider1 .buttons:hover{
    color: #C01313;
    background: #fff;
}
}*/
#slider1 .buttons {
  background: none repeat scroll 0 0 #5ac246;
  border-radius: 20px;
  color: #fff;
  display: block !important;
  float: left;
  font-size: 23px;
  font-weight: bold;
  height: 20px;
  line-height: 35px;
  margin: 30px 0 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 20px;
}
#slider1 .next {
    margin: 30px 0 0 10px;
}

#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 266px; left: 0; top: 0;  font-family: khand-semibold;}
#slider1 .overview li{ float: left; margin: 0 0 0 0; padding: 10px;border-top: 1px solid #E3E3E3; width: 245px; position: relative;}


/*Slider on HOME PAGE****************************************************************/

.cms-home #slider1 { float:left; margin-top: 50px;}
.cms-home #slider1 .viewport{width: 1000px; height: 545px;}
.cms-home .view_product_con {margin: 0 auto;text-align: center;width: 133px;}
.cms-home #slider1 .overview li{border-right: 1px solid #ccc;float: left;height: 450px;padding: 12px 9px 80px;position: relative;text-align: left;width: 234.7px;border-top: none;}
.cms-home #slider1 .products-grid{background: none; border-bottom: none;}
.cms-home .products-grid .product-name {color: #5ac246;font-family: khand-bold;font-size: 24px;line-height: 1;min-height: 118px;text-align: center;text-transform: uppercase;}
.cms-home .products-grid .product-name a {color: #5ac246;}
.cms-home .view_product {background-image: url("images/view_product.png");background-repeat: no-repeat;height: 34px;width: 133px;}
.cms-home .view_product:hover {background-image: url("images/view_product_hover.png");}
.cms-home .products-grid .product-image{background-image: url("images/pro_img_bg.png");background-position: 10px 0;background-repeat: no-repeat;height: 165px;padding-top: 40px;text-align: center;width: auto;}
.cms-home .products-grid .product-image:hover {background-image: url("images/pro_img_bg_hover.png");}
.cms-home #slider1 .left {float: left;text-align: center;width: 10%; position: relative; top: 250px; z-index: 1;}
.cms-home #slider1 .right {float: left;text-align: center;width: 3%; position: relative; top: -350px; z-index: 1;}
.cms-home #slider1 .buttons{line-height: inherit;}
.cms-home #slider1 .h-container {border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;height: 15px;margin-top: 20px;}
.cms-home #slider1 .h-container  h2 {background-color: #fff;color: #959595;font-family: khand-medium;font-size: 35px;height: 50px;left: 32%;position: relative;text-align: center;top: -1px;width: 40%;}
