{* This is a comment block

Available vars in this template:
  - name            Recipient name
  - email           Recipient Email address
  - product_name    Product name
  - product_url     Url for product
  - product_image   Url for product small image (75 px)
  - message         Sender custom message
  - sender_name     Sender name
  - sender_email    Sender email

Use vars: {{var var_name}}
*}<!--@subject {{var sender_name}} heeft een product voor u geselecteerd @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"var product_url":"Url for Product",
"var product_name":"Product Name",
"var message":"Sender Message"}
@-->
<body>
<div bgcolor="#ffffff" style="background-color:#ffffff"> 
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="display:block;max-width:650px;background-color:#ffffff"> 
		
		<tr>
			<td align="center" valign="top" style="padding:20px 0 20px 0">
				
				
				<!-- HEADER -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0"> 
					<tbody>
						<tr>
							<td>															
								<!-- HEADER IMAGE -->
								<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"> 
									<tbody>
										<tr> 
											<td bgcolor="">
												<a href="http://www.heal.be" target="_blank">
													<img src="http://www.heal.be/media/ame/email/base/headerbanner.jpg" alt="Heal.be" width="650" border="0" style="display:block;font-family:Arial,sans-serif;color:#333333;" class="CToWUd">
												</a>
											</td> 
										</tr> 
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>				
				
				
				
				
				<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;">
					<tr>
						<td valign="top">
							<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Beste {{htmlescape var=$name}},</h1>
							<p style="font-size:12px; line-height:16px; margin:0;">{{var sender_name}} heeft het volgende product voor u geselecteerd: <a href="{{var product_url}}">{{var product_name}}</a><p>
							<p style="font-size:12px; line-height:16px; margin:0;">{{var message}}</p>
							<br/>
							<p style="font-size:12px; line-height:16px; margin:0;">Met vriendelijke groet,</p>
							<br/>
							<p style="font-size:12px; line-height:16px; margin:0;">Het Heal.be team</p>
						</td>
					</tr>
				</table>
				
				


				<!-- FOOTER -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0"> 
					<tbody>
						<tr>
							<td>
								<!-- DOUBLE HORIZONTAL BORDER -->
								<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"> 
									<tbody>
										<tr> 
											<td bgcolor="#FFFFFF"><img src="http://www.heal.be/media/ame/email/base/doubleborder.png" alt="" width="650" height="11" border="0" style="color:#ff5f28;display:block;font-family:Arial,Helvetica,sans-serif;font-size:56px" class="CToWUd"></td>
										</tr> 
									</tbody>
								</table>	
								<!-- FOOTER SOCIAL -->
								<table width="250" border="0" align="center" cellpadding="0" cellspacing="0"> 
									<tbody>
										<tr> 
											<td bgcolor="#FFFFFF">
												<a href="http://www.heal.be/over-ons/contacteer-ons" target="_blank">
													<img src="http://www.heal.be/media/ame/email/base/footersocial1.jpg" alt="heal.be" height="58" border="0" style="display:block;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#858382;background-color:#f4f3f3" class="CToWUd">
												</a>
											</td> 
											<td bgcolor="#FFFFFF">
												<img src="http://www.heal.be/media/ame/email/base/footersocial2.jpg" height="58" border="0" style="display:block;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#858382;background-color:#f4f3f3" class="CToWUd">
											</td>
											<td bgcolor="#FFFFFF">
												<a href="http://www.heal.be" target="_blank">
													<img src="http://www.heal.be/media/ame/email/base/footersocial3.jpg" alt="Facebook" height="58" border="0" style="display:block;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#858382;background-color:#f4f3f3" class="CToWUd">
												</a>
											</td> 	
											<td bgcolor="#FFFFFF">
												<a href="http://www.heal.be" target="_blank">
													<img src="http://www.heal.be/media/ame/email/base/footersocial4.jpg" alt="Twitter" height="58" border="0" style="display:block;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#858382;background-color:#f4f3f3" class="CToWUd">
												</a>
											</td> 								
										</tr> 
									</tbody>
								</table>								
								<!-- GREY BORDER -->
								<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"> 
									<tbody>
										<tr> 
											<td bgcolor="#FFFFFF">
												<img src="http://www.heal.be/media/ame/email/base/greyborder.jpg" alt="" width="650" height="4" border="0" style="color:#ff5f28;display:block;font-family:Arial,Helvetica,sans-serif;font-size:56px" class="CToWUd">
											</td>
										</tr> 
									</tbody>
								</table>									
	
								<!-- NEWSLETTER FOOTER -->
								<table  width="100%" border="0" align="center" cellpadding="0" cellspacing="0"> 
									<tbody>
										<tr> 
											<td align="left" style="text-align:left;padding:5px;padding-top:14px;color:#666666;font-size:11px;line-height:13px;font-family:Arial,Helvetica,sans-serif"> 
												<!--<span style="color:#666666;font-family:Arial,Helvetica,sans-serif;font-size:10px;line-height:normal;text-align:left;padding-bottom:20px">-->
													Vragen aan onze klantendienst, email naar <a href="mailto:klantenservice@heal.be" style="color:#666666;text-decoration:underline" target="_blank">klantenservice@<span class="il">heal</span>.be</a>.
													<br> 
													Heeft u suggesties, opmerkingen, of algemene vragen? Contacteer ons via <a href="mailto:informatie@heal.be" style="color:#666666;text-decoration:underline" target="_blank">informatie@<span class="il">heal</span>.be</a> en breng ons op de hoogte. 
													<br> 
													<br> 
													Deze email werd je verzonden door <span class="il">Heal</span>.be. Om te verzekeren dat de emails aankomen in je mailbox en dus niet terechtkomen in je spam folder, 
													kan je <a href="mailto:heal@shop.heal.be" style="color:#666666;text-decoration:underline" target="_blank"><span class="il">heal</span>@shop.<span class="il">heal</span>.<wbr>be</a> toevoegen aan je adresboek of contactenlijst.
													<br>
													<br> 
													Heal.be is de online vertegenwoordiging van Apotheek Eline Gryson B.v.b.a. Producten verkocht via Heal.be worden verkocht door Apotheek Eline Gryson B.v.b.a..
													Kortingsbonnen en cadeaubonnen op Heal.be worden verkocht en uitgereikt door Apotheek Eline Gryon B.v.b.a..
													<br>
													<br> 
													&copy; 2012-2015, Heal.be of zijn affiliaties.<br> Apotheek Eline Gryson B.v.b.a. <br> Vrijheidsplein 4, 9160 Lokeren, BELGI&Euml;
													<br>
													<br> 
													<a href="http://www.heal.be/helpdesk/overzicht" style="text-decoration:underline;color:#666666" target="_blank">Help</a> | 
													<a href="http://www.heal.be/algemene-voorwaarden" style="text-decoration:underline;color:#666666" target="_blank">Algemene Voorwaarden</a> | 
													<a href="http://www.heal.be/privacybeleid" style="text-decoration:underline;color:#666666" target="_blank">Privacybeleid</a>
												<!--</span>-->
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>					
				
				
				
				
				
			</td>
		</tr>
	</table>
</div>
</body>
