<?php 
$root_category=Mage::getModel('catalog/category')->load(2);
$sub_categories=$root_category->getChildren();

$childs=explode(',',$sub_categories);
unset($childs[1]);   //remove 'eerste hulp & thuiszorg' from list (notice the '-2')
unset($childs[2]);   //remove 'HEAL SHOPS' from list (notice the '-2')
unset($childs[10]);
unset($childs[11]);
$sc_count=count(explode(',',$sub_categories))-4; 
$c_count=8;  
?>
<div class="home_categories">
    <?php $i=0; foreach($childs as $category) { ?>
        <?php if($i++%4==0): ?><?php $li_s=1;?>
            <ul><?php $ul++; ?>
        <?php endif; ?>
                <?php $sub_children_data=Mage::getModel('catalog/category')->load($category);?>
                        <li>
                                <div class="fcategory-details">

                                        <!--Category Image========================= -->
                                        <a href="<?php echo $sub_children_data->getUrl(); ?>"><div class="fcategory-image"><img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$sub_children_data->getThumbnail();?>"></div></a>
                                        <div class="cat_icon">
                                            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>media/ame/cat_icon/home_page/<?php echo  $sub_children_data->getUrlKey()?>.gif">
                                        </div>
                                        <!--Category Name============================ -->
                                        <div class="fcategory-name"><h1><a href="<?php echo $sub_children_data->getUrl(); ?>"><?php echo $sub_children_data->getName()."<br>";?></a></h1></div>
                                        <!--Sub Categories=========================== -->
                                        <?php $sub_sub_categories= $sub_children_data->getChildren();?>
                                        <?php $sub_childs= explode(',',$sub_sub_categories); ?>
                                        <div class="sub-c-container">
                                            <ul>
                                                    <?php $j=1 ?>
                                                    <?php foreach ($sub_childs as $sub_sub_category){ if($j++<=4): ?>
                                                            <?php $sub_sub_child_data=Mage::getModel('catalog/category')->load($sub_sub_category); ?>
                                                                <?php if ($sub_sub_child_data->getName()!=NULL): ?>
                                                                    <li>
                                                                        <a href="<?php echo $sub_sub_child_data->getUrl(); ?>"><?php echo $sub_sub_child_data->getName()?><span> »</span></a>
                                                                    </li> 
                                                                <?php endif; ?>
                                                    <?php endif; } ?>
                                            </ul>
                                        </div>
                                        <div class="cat_view_more_container"><div class="cat_view_more"><a href="<?php echo $sub_children_data->getUrl();?>"><?php echo $this->__("View More"); ?></a></div></div>
                                </div>
                        </li> 
                        <?php  if($li_s++<=3): ?>
                        <div class="li-seperator"></div>
                        <?php endif; ?>
            <?php if($i==$c_count || $i%4==0): ?>
                </ul>
             <?php if($i<$sc_count): ?>
            <div class="ul_seperator"></div>
            <?php endif; ?>
            <?php endif; ?>
    <?php }?>
</div>

<?php $simbol= Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();?>
<script src="<?php echo $this->getSkinUrl(); ?>/js/cart_page/jquery.tinycarousel.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>
<link href="<?php echo $this->getSkinUrl(); ?>/css/cart_page/tinycarousel.css" rel="stylesheet" />
<script type="text/javascript">
        jQuery(document).ready(function()
        {

               jQuery("#slider1").tinycarousel({
                axis : "x"
                });
        });
</script>
        <?php  $category = Mage::getModel('catalog/category')->load(91)->getProductCollection()->getData(); ?>
        <?php //echo "<pre>"; print_r($category); die("here");?>
        <?php  ?>
<?php if($category): ?>
    <div class="crosssell" id="slider1">
        <div class="h-container">
            <h2><?php echo $this->__("PRODUCTEN IN DE KIJKER") ?></h2>
        </div>
        <div class="left">  <a class="buttons prev" style="display: block !important;" href="">&#8249;</a></div>
        <div class="viewport">
            <ul  class="products-grid jcarousel overview">
            <?php foreach ($category as $_products): ?>
                <?php $id=$_products['entity_id']; ?>
                <?php $_product=Mage::getModel('catalog/product')->load($id); ?>
                <li class="item">
                                              <?php 
                                                    $height=$this->helper('catalog/image')->init($_product, 'small_image')->getOriginalHeight();
                                                    $width=$this->helper('catalog/image')->init($_product, 'small_image')->getOriginalWidth();
                                                    if($width>$height)
                                                    {
                                                        $width=125;
                                                    }
                                                    else {
                                                        $height=125;
                                                    }

                                                ?>
                                                <?php if($width==125) 
                                                    { ?>
                                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(125); ?>" width=<?php echo $width; ?> onmouseover="show_add_cart('<?php echo $_product->getId() ?>')" onmouseout="hide_add_cart('<?php echo $_product->getId() ?>')" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a> 
                                               <?php } else { ?>
                                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(125); ?>"  height=<?php echo $height; ?> onmouseover="show_add_cart('<?php echo $_product->getId() ?>')" onmouseout="hide_add_cart('<?php echo $_product->getId() ?>')" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a> 
                                               <?php } ?>
                                                <div class="quick_cart_con" id="quick_cart_con_<?php echo $_product->getId() ?>" onmouseover="show_add_cart('<?php echo $_product->getId() ?>')" onmouseout="hide_add_cart('<?php echo $_product->getId() ?>')">
                                                    <a href="<?php echo Mage::helper('checkout/cart')->getAddUrl($_product); ?>">
                                                        <div class="quick_cart"></div>
                                                    </a>
                                                </div>
                                                <div class="promo_icon">
                                                    <?php if($_product->getSpecialPrice()){ ?>
                                                        <img src="<?php echo $this->getSkinUrl()?>images/promo.png">
                                                    <?php } ?>
                                                </div>
                                                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2> 
                                                
                                                <div class="product-item-priceAndDiscount pdpLinkable">
                                                    <p class="product-item-price">
                                                        <?php if($_product->getSpecialPrice()){ ?>
                                                            <span class="regularPrice"><?php echo $simbol.number_format($_product->getPrice(),2,'.',''); ?></span>
                                                            <span class="salePrice"><?php echo $simbol.number_format($_product->getSpecialPrice(),2,'.',''); ?></span>
                                                        <?php } else { ?>
                                                            <span class="salePrice" style="color: #000;"><?php echo $simbol.number_format($_product->getPrice(),2,'.',''); ?></span> 
                                                        <?php } ?>
                                                        
                                                    </p>
                                                    <div class="product-item-discount">
                                                        <p class="showEcouponFlag">
                                                        <?php echo $this->__("Save 10% when you AutoShip");?>
                                                        </p>
                                                    </div>
                                                </div>
                                               <?php if($_product->getRatingSummary()): ?>
                                                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                                <?php endif; ?>
                                            </li>
            <?php endforeach; ?>
            </ul>
            <script type="text/javascript">decorateList('crosssell-products-list', 'none-recursive')</script>
        </div>
        <div class="right"> <a class="buttons next" href="">&#8250;</a></div>
    </div>
<?php endif; ?>

<script type="text/javascript">
/*Quick View==============================================================*/
jQuery.noConflict();
jQuery(function($) {
    var myhref,qsbtt;
    var opt = {
        itemClass : ['.overview li.item'], //selector for each items in catalog product list,use to insert quickshop image
        aClass : 'a.product-image', //selector for each a tag in product items,give us href for one product
        imgClass: '.product-image img' //class for quickshop href
    };

    // base function

    //get IE version
    function ieVersion(){
        var rv = -1; // Return value assumes failure.
        if (navigator.appName == 'Microsoft Internet Explorer'){
            var ua = navigator.userAgent;
            var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat( RegExp.$1 );
        }
        return rv;
    }

    //read href attr in a tag
    function readHref(){
        var mypath = arguments[0];
        var patt = /\/[^\/]{0,}$/ig;
        if(mypath[mypath.length-1]=="/"){
            mypath = mypath.substring(0,mypath.length-1);
            return (mypath.match(patt)+"/");
        }
        return mypath.match(patt);
    }

    //string trim
    function strTrim(){
        return arguments[0].replace(/^\s+|\s+$/g,"");
    }

    function _qsJnit(){
        var selectorObj = arguments[0];
        var listprod = $$(selectorObj.itemClass);
        var mypath = 'quickview/index/view';
        if (EM.Quickview.BASE_URL.indexOf('index.php') == -1){
            mypath = 'index.php/' + mypath;
        }
        var baseUrl = EM.Quickview.BASE_URL + mypath;

        var _qsHref = "<a id=\"md_quickview_handler\" href=\"#\" style=\"visibility:hidden;position:absolute;top:0;left:0\"><img style=\"display:none;\" alt=\"quickview\" src=\""+EM.Quickview.QS_IMG+"\" /></a>";
        $(document.body).append(_qsHref);
        var qsHandlerImg = $('#md_quickview_handler img');

        $.each(listprod, function(index, value) {
            var reloadurl = baseUrl;

            //get reload url
            myhref = $(value).children(selectorObj.aClass);
            if (myhref.length == 0) return;
            var prodHref = readHref(myhref.attr('href'))[0];
            prodHref[0] == "\/" ? prodHref = prodHref.substring(1,prodHref.length) : prodHref;
            
            prodHref=strTrim(prodHref);

            reloadurl = baseUrl+"/path/"+prodHref;
            version = ieVersion();
            if(version < 8.0 && version > -1){
                reloadurl = baseUrl+"/path"+prodHref;
            }
            //end reload url

            $(selectorObj.imgClass, this).bind('mouseover', function() {
                if (this.className == 'i_new') return;
                var o = $(this).offset();
                $('#md_quickview_handler').attr('href',reloadurl).show()
                    .css({
                        'top': o.top+($(this).height() - qsHandlerImg.height())/2+'px',
                        'left': o.left+($(this).width() - qsHandlerImg.width())/2+'px',
                        'visibility': 'visible'
                    });
            });
            $(value).bind('mouseout', function() {
                $('#md_quickview_handler').hide();
            });
        });

        //fix bug image disapper when hover
        $('#md_quickview_handler')
            .bind('mouseover', function() {
                $(this).show();
            })
            .bind('click', function() {
                $(this).hide();
            });
        //insert quickview popup

        $('#md_quickview_handler').fancybox({
            'type'              : 'ajax',
            'titleShow'         : false,
            'autoScale'         : false,
            'transitionIn'      : 'none',
            'transitionOut'     : 'none',
            'scrolling'         : 'no',
            'padding'           :0,
            'margin'            :0,
            'overlayColor'      : EM.Quickview.OVERLAYCOLOR,
            'autoScale'         : false,
            'autoDimensions'    : false,
            'width'             : EM.Quickview.QS_FRM_WIDTH,
            'height'            : 'auto',
            'onComplete'        : function() {
                $('#fancybox-content').height('auto');
            }
        });
    }

    //end base function

    if (typeof jqSmartCatalog != 'undefined') {
        jqSmartCatalog(document).bind('smart-pagination-ajax-after', function() {
            _qsJnit(opt);
        });
    }

    _qsJnit(opt);
});

    function show_add_cart(id)
    {
        jQuery("#quick_cart_con_"+id).show();
    }
    function hide_add_cart(id)
    {
        jQuery("#quick_cart_con_"+id).hide();
    }
    setInterval(function(){ 
        jQuery(".next").click();
     },5000);
</script>


