/**
 * @category    Mana
 * @package     Mana_Filters
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/*.m-filter-item-list .m-selected-filter-item { color: red; }*/
.m-filter-popup .m-selected-ln-item > a { font-weight: bold; text-decoration: none; }
.block-layered-nav .btn-remove { margin-top: 3px; }
.block-layered-nav .currently li { position: relative; padding: 6px 24px 6px 10px; }
.block-layered-nav .currently .btn-remove { margin-top: 0; position: static; right: 4px; top: 9px; margin-left: 0; float: left; background-image: url('../images/ame_product/filter_close.png'); height: 28px; width: 28px;}
.block-layered-nav dt { position: relative; zoom: 1; left: 0; top: 0; }
.filter_name { background-image: url("../images/ame_product/filter_name_bg.png");background-repeat: no-repeat;color: #fff;float: left;font-family: khand-medium;font-size: 15px;height: 23px;margin-left: -2px;padding: 4px 5px 0 4px;;text-transform: uppercase;background-size: 100% 100%;}