/**
 * @category    Mana
 * @package     ManaPro_FilterPositioning
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/* CSS Document */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }

/* Containers of Layered Navigation */
.col-main .block-layered-nav,
.col-main .block-layered-nav .block-content { background: transparent; border: none; padding: 3px 0; position: relative; width: 99.8%;}
.col-main .block-layered-nav .leftMenu-refineResult-title{display: none;}
.col-main .block-layered-nav .refine-help{display: none;}
.col-main .block-layered-nav .refine-content{display: none !important;}
/* Titles SHOP BY and CURRENTLY SHOPPING BY */
.col-main .block-layered-nav .block-subtitle,
.col-main .block-layered-nav .currently .block-subtitle { cursor: auto; margin: 0; padding: 0 5px 0 0; border: none; background: none; font-weight: bold; text-transform: uppercase; }
.col-main .block-layered-nav dl.m-mobile { display: none; }
.col-main .block-layered-nav dl { float: left; }

/* CURRENTLY SHOPPING BY bar */
//.col-main .block-layered-nav .currently,
//.col-main .block-layered-nav .currently ol { float: left; width: 100%; }
.col-main .block-layered-nav .currently li { float: left; white-space: nowrap; margin-right: 10px; background: transparent; border: none; padding: 3px 0px 3px 10px !important; }
.col-main .currently a.btn-remove {top: 2px;}
.col-main .block-layered-nav #narrow-by-list { clear: both; position: relative; }
.col-main .action-container{display: none;}
/* Actions */
.col-main .block-layered-nav .actions,
.col-main .block-layered-nav .m-horizontal-actions,
.col-main .block-layered-nav .m-subtitle-actions { position: absolute; right: 5px; top:50%; margin: -6px 0 0; }
.col-main .block-layered-nav .actions { background: transparent; border: none; float: left; padding: 6px 10px; top:-20px;display: none; }

/* Top (as Menu) LN =================================================================================================================================== */

/* SHOP BY bar */
.col-main .block-layered-nav.m-topmenu.m-wide dl { height: 32px; }
.col-main .block-layered-nav.m-topmenu.m-wide dl dt { float: left; padding: 7px 20px 7px 10px; cursor: pointer; background: url("../images/manapro_filterpositioning/i-dropdown.gif") 0px 14px no-repeat; margin-left: 5px; font-weight: normal; text-transform: none;}
.col-main .block-layered-nav.m-topmenu.m-wide dl dt.block-subtitle { background-image: none; padding-left: 0; margin-left: 0; }
.col-main .block-layered-nav.m-topmenu.m-wide dl dd { background: white; position: absolute; width: auto; padding: 20px 10px 10px 10px; border-bottom: 5px solid #DEE5E8; display: block; z-index: 9999;
/*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#eaeaea');
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(white));
    background: -moz-linear-gradient(top,  white,  #eaeaea);
*/
    filter: alpha(opacity=90);
  	-moz-opacity: 0.9;
  	opacity: 0.9;

    }
.col-main .block-layered-nav.m-topmenu .m-filter-slider { margin:0 !important; }
/* Javascript operates with these classes */
.col-main .block-layered-nav.m-topmenu dl dt.m-ln {  }
.col-main .block-layered-nav.m-topmenu dl dd.m-ln {  }
.col-main .block-layered-nav.m-topmenu dl dd.m-ln li { white-space: nowrap; }

/* Classes added on Mouse Over */
.col-main .block-layered-nav.m-topmenu dl dt.m-popup-filter { background: #DEE5E8; }
.col-main .block-layered-nav.m-topmenu dl dd.m-popup-filter {  }

/* Top LN - Horizontaly laid filters =================================================================================================================================== */
.col-main .block-layered-nav.m-top dl { width: 19%; }
.col-main .block-layered-nav.m-top.two-filter-columns dl { width: 50%; }
.col-main .block-layered-nav.m-top.three-filter-columns dl { width: 33%; }
.col-main .block-layered-nav.m-top.four-filter-columns dl { width: 23%; }
.col-main .block-layered-nav.m-top dl dd { background: transparent; margin-right: 5px;}

/*Responsive accordion menu for mobile divices========================================================================*/
.col-main .block-layered-nav.one-filter-column dl { width: 100%; }
.col-main .block-layered-nav.one-filter-column dl { padding:0; margin:0; }
.col-main .block-layered-nav.one-filter-column dl.m-mobile { display: block; }
.col-main .block-layered-nav.one-filter-column dl dt,
.col-main .block-layered-nav.one-filter-column .block-subtitle { cursor: pointer; display:block; padding:5px !important; position: relative; margin:0; background: #eee; border-bottom:1px solid #ddd; border-top:1px solid #f9f9f9;}
.col-main .block-layered-nav.one-filter-column dl dt:hover,
.col-main .block-layered-nav.one-filter-column .block-subtitle { background: #ddd;
transition: background 300ms ease-in-out;
-moz-transition: background 300ms ease-in-out;
-webkit-transition: background 300ms ease-in-out;
-o-transition: background 300ms ease-in-out;}
.col-main .block-layered-nav.one-filter-column dl dd { padding:10px 5px; margin:0; background: transparent; }
.col-main .block-layered-nav.one-filter-column .m-filterclear { position: relative; right: 5px; }
.col-main .block-layered-nav.one-filter-column .m-filter-colors { margin:0; }
.col-main .block-layered-nav.one-filter-column .currently { margin:0; }
.col-main .block-layered-nav.one-filter-column .currently ol { float: left; width: auto; }
.col-main .block-layered-nav.one-filter-column .actions { right: 20px; top:0; margin: 0; padding: 5px 10px; z-index:3; }

.col-main .block-layered-nav.one-filter-column .m-expand-collapse { float: left; font-weight: normal; font-size: 11px; text-transform: none; margin-bottom: -5px; display: none; }
.col-main .block-layered-nav.one-filter-column .m-expand-collapse .btn-expand-collapse { margin: 0; display: block; width: 11px; height: 11px; font-size: 0; line-height: 0; text-indent: -999em; overflow: hidden; }
.col-main .block-layered-nav.one-filter-column .m-expanded .m-expand-collapse .btn-expand-collapse { background: url(../images/manapro_filterpositioning/m-expanded.png) 0 0 no-repeat; }
.col-main .block-layered-nav.one-filter-column .m-collapsed .m-expand-collapse .btn-expand-collapse { background: url(../images/manapro_filterpositioning/m-collapsed.png) 0 0 no-repeat; }
.col-main .block-layered-nav.one-filter-column .m-expand-collapse { display: block; }
.col-main .block-layered-nav.one-filter-column .currently + div .block-subtitle,
.col-main .block-layered-nav.one-filter-column .currently + div + div .block-subtitle { display: none; }

.col-main .block-layered-nav.m-wide.m-mobile-only { margin: 0;}
.col-main .block-layered-nav.m-wide.m-mobile-only .m-shop-by { display: none; }

/* Types styling for Top LN only */
.m-standard {} /* One item can be selected at the time */
.m-list {} /* Text, multiple select */
.m-checkboxes {} /* checkboxes - form elements */
.m-css_checkboxes {} /* checkboxes - images */
.m-colors {} /* Colors and Images - horizontal */
.m-colors_vertical {} /* Colors and Images - vertical */
.m-colors_label {} /* Colors and Images with labels */
.m-dropdown {} /* Dropdowns */
.m-radios {} /* Radio buttons */
.m-slider {} /* Slider */