<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="quick_cross"></div>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
    <form action="<?php  echo $this->getBaseUrl()?>checkout/cart/quickAdd" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <?php echo $this->getBlockHtml('formkey') ?>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-shop">
            <div class="md-more-info" ><a href="<?php echo $_product->getProductUrl();?>"><span><?php echo $this->__('View Full Details') ?></span><div class="arrow"></div></a></div>
            <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>
            <?php  if(number_format($_product->getSpecialPrice(),2,'.','')!=0){ ?>
                <p class="quickShopListPrice">
                <?php echo $this->__('List Price:'); ?>
                <span>&euro;<?php  echo number_format($_product->getPrice(),2,'.',''); ?></span>
                </p>
                <p class="quickShopPrice">
                <span>&euro;<?php  echo number_format($_product->getSpecialPrice(),2,'.',''); ?></span>
                </p>
            <?php } else { ?>
                <p class="quickShopPrice">
                    <span style="color: #000;">&euro;<?php  echo number_format($_product->getPrice(),2,'.',''); ?></span>
                </p>
            <?php  } ?>
                <div class="name_quantity">
                    <div class="name">
                        <div class="pro_text" ><input tpye="text" value="<?php echo $_product->getName() ?>" readonly/></div>
                        <div class="dropDownArrowBtn"></div>
                    </div>

                    <script type="text/javascript">
                        jQuery.noConflict();
                        jQuery(document).ready(function(){
                            jQuery('.pro_text').click(function(){
                                jQuery('#drop_down_content').toggle();
                            });
                            jQuery('.dropDownArrowBtn').click(function(){
                                jQuery('#drop_down_content').toggle();
                            });
                            jQuery('#quick_plus').click(function(){
                                var initial=jQuery("#quick-p-qty").val();
                                var latest=parseInt(initial) + 1;
                                jQuery("#quick-p-qty").val(latest);
                                var text_value=jQuery("#quick-p-qty").val();
                                var org_price=jQuery("#quick_amt").attr('price');
                                var total_price=parseFloat(org_price) * parseInt(text_value);
                                jQuery("#quick_qty").html(text_value);
                                jQuery("#quick_amt").html(total_price.toFixed(2));
                                  
                            });
                            
                            jQuery('#quick-p-qty').change(function(){
                                var text_value=jQuery("#quick-p-qty").val();
                                var org_price=jQuery("#quick_amt").attr('price');
                                var total_price=parseFloat(org_price) * parseInt(text_value);
                                jQuery("#quick_qty").html(text_value);
                                jQuery("#quick_amt").html(total_price.toFixed(2));   
                            });
                             jQuery('#quick_minus').click(function(){
                                var text_value=jQuery("#quick-p-qty").val();
                                 if(text_value>1)
                                {
                                jQuery("#quick_qty").html(parseInt(text_value)-1);
                                }
                                if(text_value<2)
                                {  }
                                else
                                {
                                    var org_price=jQuery("#quick_amt").attr('price');
                                    var cur_price=jQuery("#quick_amt").html();
                                    var total_price=parseFloat(cur_price)-parseFloat(org_price);
                                    jQuery("#quick_amt").html(total_price.toFixed(2));
                                }
                                if(text_value>1)
                                {
                                    jQuery("#quick-p-qty").val(parseInt(text_value)-1);
                                }
                            });
                            jQuery('#quick_cross').click(function(){
                                jQuery('#fancybox-overlay').hide();
                                jQuery('#fancybox-wrap').hide();
                            });
                        });
                    </script>
                    <div class="quantity">
                        <div class="product-qty">
                            <div class="qty_tag"><?php echo $this->__('Qty:'); ?></div>
                            <div class="minus" id="quick_minus"></div>
                            <input type="text" class="p-qty" id="quick-p-qty" name="qty" value="1">
                            <div class="plus" id="quick_plus" ></div>
                        </div>
                    </div>
                     <div class="drop_down_content" id="drop_down_content">
                        <?php echo $_product->getName(); ?>
                        <?php if(number_format($_product->getSpecialPrice(),2,'.','')!=0){ ?>
                            <span>,&euro;<?php  echo number_format($_product->getSpecialPrice(),2,'.',''); ?></span>
                        <?php } else { ?>
                            <span>,&euro;<?php  echo number_format($_product->getPrice(),2,'.',''); ?></span>
                        <?php } ?>
                    </div>
                </div>
                <div class="free_ship_quick"></div>
        </div>

        <div class="product-img-box">
            <?php echo $this->getChildHtml('media') ?>
        </div>

        <div class="clearer"></div>
        <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
    <div class="quick_add_cart">
        <div class="quick_add_data">
            <div class="total_quant">
                <div class="total">
                    <p><?php echo $this->__("Total :"); ?></p>
                    <?php if(number_format($_product->getSpecialPrice(),2,'.','')!=0){ ?>
                        <span>&euro;</span><span price="<?php echo number_format($_product->getSpecialPrice(),2,'.',''); ?>" id="quick_amt"><?php echo number_format($_product->getSpecialPrice(),2,'.',''); ?></span>
                    <?php } else { ?>
                        <span>&euro;</span><span price="<?php echo number_format($_product->getPrice(),2,'.',''); ?>" id="quick_amt"><?php echo number_format($_product->getPrice(),2,'.',''); ?></span>
                    <?php } ?>
                </div>
                <div class="quant">
                    <p><?php echo $this->__("Quantity :"); ?></p>
                    <span id="quick_qty">1</span>
                </div>
            </div>
            <div class="wish_add-cart">
                <a href="<?php echo $this->getBaseUrl()?>wishlist/index/add/product/<?php echo $_product->getId();?>/form_key/<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>/"><div class="wish"></div></a>
                <div class="add-cart" onclick="productAddToCartForm.submit(this)"></div>
            </div>
        </div>
    </div>
   </div>
    </form>
    
</div>


