@font-face {
    font-family: 'KhandMedium';
    src: url('khand-medium.eot');
    src: url('khand-medium.eot') format('embedded-opentype'),
         url('khand-medium.woff2') format('woff2'),
         url('khand-medium.woff') format('woff'),
         url('khand-medium.ttf') format('truetype'),
         url('khand-medium.svg#KhandMedium') format('svg');
}
