/**
 * @category    Mana
 * @package     ManaPro_FilterCheckboxes
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked { background: transparent url(../images/manapro_filtercheckboxes/checkbox_unchecked.png) left center no-repeat; color: #6b6b6b;background-position: left center; }
ol.m-filter-css-checkboxes li a.m-checkbox-checked { background: transparent url(../images/manapro_filtercheckboxes/checkbox_checked.png) left center no-repeat; color: #000; }
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked:hover { background: url(../images/manapro_filtercheckboxes/checkbox_unchecked_hover.png) no-repeat scroll left center transparent; color: #fff; }
ol.m-filter-css-checkboxes li a.m-checkbox-checked:hover { background: url(../images/manapro_filtercheckboxes/checkbox_checked_hover.png) no-repeat scroll left center transparent; color: #fff; }
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked,
ol.m-filter-css-checkboxes li a.m-checkbox-checked { font-family: khand-medium;font-size: 16px;padding-left: 20px;text-decoration: none;}
ol.m-filter-css-checkboxes li span {font-family: khand-medium;position: relative;top: -7px;}
.m-filter-checkboxes li input { margin-right: 5px; position: relative; bottom: 2px; }


/* AME */
ol.m-filter-css-checkboxes li:hover { background-color: #5ac246;color: #fff;}
ol.m-filter-css-checkboxes li:hover .m-checkbox-unchecked{background: url("../images/manapro_filtercheckboxes/checkbox_unchecked_hover.png") no-repeat scroll left center transparent;color: #fff; }
ol.m-filter-css-checkboxes li { color: #5ac246;font-size: 10px;}

.content.content-7.mCustomScrollbar {margin: 0 10px 10px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.mCS_no_scrollbar {border: medium none !important;}
