/**
 * @category    Mana
 * @package     Mana_Core
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/*#m-wait {
    position:absolute;
    color:#d85909;
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    opacity:0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 
    z-index:20000;
    }*/
    #m-wait {
    position: absolute;
    top: 25%;
}
#m-wait .loader {
    position:fixed;
    top:45%;
    left:50%;
    width:120px;
    margin-left: -120px;
    padding:15px 60px;
    background:#fff4e9;
    border:2px solid #f1af73;
    color:#d85909;
    font-weight:bold;
    text-align:center;
    z-index:20100;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -ms-box-sizing: content-box;
    }

#m-wait .loader {  }
.m-popup {
    position: absolute;
    background: white;
    z-index: 20100;
}
.m-popup-overlay {
    position: absolute;
    background: black;
    filter: alpha(opacity = 0); /* percent */
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 10000;
}

.m-overlay {
    position: absolute;
    background: white;
    filter: alpha(opacity=0); /* percent */
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 10000;
}
a.m-disabled { }
label span.m-disabled { }
//.m-wait-overlay{opacity: 0.75; width: 49%; top: 0px; height: 1048px; position: fixed; right: 19%; background-color: rgb(255, 255, 255); z-index: -1;}
//.m-wait-overlay {background-color: #fff;height: 1500px;left: 512px;opacity: 0.75;position: absolute;right: 19%;top: -1487px;width: 773px;}
.m-wait-overlay {
    background-color: #fff;
    height: 1000px;
    left: 512px;
    opacity: 0.75;
    position: absolute;
    right: 19%;
    top: 400px;
    width: 773px;
}