<?php
/**
 *
<p><img src="<?php echo $this->getBaseUrl(); ?>media/homepage_banner.png" alt="" /></p>
<p>{{block type="core/template" template="ame/amecat.phtml"}}</p>
 
 */
?>

<?php //AME Block (main homepage banner) -- make block? ?>
<div class="home_page_banner">
    <p><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/homepage_banner.png" alt="" /></p>
</div>



<?php if (Mage::helper('superslideshow')->getCfg('general/enabled')): ?>
<div class="merken-rotatie-box-container">
        <div class="merken-rotatie-box">
                <div class="inner-schaduw-box">
                        <div class="box-links">
                                <div class="box-rechts clearfix">
                                        <div class="rotatie-box relative">
                                                <?php $cfg = $this->getSlideshowConfig(); //Read slideshow config ?>
                                                <div class="the-slideshow slideshow-wrapper">    
                                                                <div class="slideshow">
                                                                        <div class="slide">
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>difrax" title="Difrax"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_01.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>weleda" title="Weleda"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_02.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>galenco" title="Galenco"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_03.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>darphin" title="Darphin"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_04.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>vichy" title="Vichy"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_05.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>mustela" title="Mustela"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_06.jpg"></a>
                                                                        </div>
                                                                        <div class="slide">
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>eucerin" title="Eucerin"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_07.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>korres" title="Korres"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_08.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>nestle" title="Nestlé"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_09.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>nuxe" title="Nuxe"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_10.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>oral-b" title="Oral-B"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_11.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>braun" title="Braun"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_12.jpg"></a>
                                                                        </div>
                                                                        <div class="slide">
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>uriage" title="Uriage"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_13.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>davitamon" title="Davitamon"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_14.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>sensodyne" title="Sensodyne"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_15.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>a.vogel" title="A.Vogel"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_16.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>a-derma" title="A-Derma"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_17.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>durex" title="Durex"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_18.jpg"></a>
                                                                        </div>
                                                                </div>
                                                        <a href="#" id="home-slides-prev" class="backward browse-button"></a>
                                                        <a href="#" id="home-slides-next" class="forward browse-button"></a>
                                                </div>
                                        </div>
                                        <script type="text/javascript">
                                        //<![CDATA[
                                        jQuery(function() {
                                                jQuery(".slideshow").cycle({
                                                        <?php
                                                        //Print slideshow configuration
                                                        foreach ($this->getSlideshowConfig() as $cfg)
                                                                echo "{$cfg['label']}: {$cfg['value']}, ";
                                                        ?>
                                                        //pager: '#home-slides-pager',
                                                        prev: '#home-slides-prev',
                                                        next: '#home-slides-next'
                                                });
                                        });
                                        //]]>
                                        </script>					
                                </div>
                        </div>
                </div>
        </div>
</div>
<?php endif; ?>

