<?php
/**
 *
 * @category MultiSafepay
 * @package  MultiSafepay_Msp
 * @license  http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php /** @var $this MultiSafepay_Msp_Block_PaymentFee_Checkout_Fee */ ?>
<?php if ($this->getPaymentFee()): ?>
    <tr>
        <td style="<?php echo $this->getStyle() ?>" class="a-right" colspan="<?php echo $this->getColspan(); ?>">
            <?php echo $this->getTotal()->getTitle() ?>
        </td>
        <td style="<?php echo $this->getStyle() ?>" class="a-right">
           <?php
			if(Mage::helper("msp")->getPadIncExcTax())
			{
				echo Mage::helper("msp")->getCheckoutFee();
			}else{
				 echo $this->helper('checkout')->formatPrice($this->getPaymentFee());
			}
 		?>
        </td>
    </tr>
<?php endif; ?>