<fieldset class="form-list">
    <ul id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none">
        <li>
		  <?php if($this->getMethodCode()=='msp_banktransfer'){?>
			<input name='payment[birthday]' 			value="" 	id="birthday"/>				<label for="birthday" 				style="width:200px!important;">Geboortedatum (dd-mm-yyyy):</label><br />
			<input name='payment[accountnumber]' 		value="" 	id="accountnumber"/>	<label for="accountnumber" 		style="width:200px!important;">Rekeningnummer:</label><br />
		  <?php }?>
        </li>
    </ul>
</fieldset>