<?php 
$root_category=Mage::getModel('catalog/category')->load(2);
$sub_categories=$root_category->getChildren();

$childs=explode(',',$sub_categories);
unset($childs[1]);   //remove 'eerste hulp & thuiszorg' from list (notice the '-2')
unset($childs[2]);   //remove 'HEAL SHOPS' from list (notice the '-2')
unset($childs[10]);
$sc_count=count(explode(',',$sub_categories))-3; 
$c_count=8;  
?>
<ul id="quickNav" class="right">
        <li class="utilityNavBar clearfix">
                <div class="dropDownSelect left" author="outClick">
                        <div class="dropDownSelectContent" id="showlist-ame-3" value="Maak een keuze"><?php echo $this->__('Maak een keuze') ?></div>
                        <div class="dropDownArrowBtn" id="showlist-ame-4"></div>
                        <div class="clearFloatNoHeight"></div>

                        <div class="dropDownContent-2" style="display: none;">
                                <div class="dropDownContentBg-2" style="width:250px;">
                                        <ul style="overflow-y:scroll;">
                                                <li style="display:none;"><a href="#" value="Maak een keuze"><?php echo $this->__('Maak een keuze'); ?></a></li>
                                                <li><a href="<?php echo Mage::getBaseUrl()?>merken"><strong><?php echo $this->__('Bekijk Alle Merken'); ?></strong></a></li>
                                                <?php //AME Block ?>
                                                <?php echo $this->getLayout()->createBlock('catalog/product_merken')->setTemplate('catalog/product/merken.phtml')->toHtml(); ?>


                                        </ul>
                                </div>
                        </div>
                </div>
                <input type="hidden" id="sortExpression">
        </li>
</ul>
<div class="home_categories">
    <ul>
        <?php $i=0; foreach($childs as $category) { ?>
                    <?php $sub_children_data=Mage::getModel('catalog/category')->load($category);?>
                            <li>
                                    <div class="fcategory-details">
                                            <!--Category Image========================= -->
                                            <a href="<?php echo $sub_children_data->getUrl(); ?>"><div class="fcategory-image"><img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$sub_children_data->getThumbnail();?>"></div></a>
                                            <div class="cat_icon">
                                                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>media/ame/cat_icon/home_page/<?php echo  $sub_children_data->getUrlKey()?>.gif">
                                            </div>
                                            <!--Category Name============================ -->
                                            <div class="fcategory-name"><h1><a href="<?php echo $sub_children_data->getUrl(); ?>"><?php echo $sub_children_data->getName()."<br>";?></a></h1></div>
                                            <!--Sub Categories=========================== -->
                                            <?php $sub_sub_categories= $sub_children_data->getChildren();?>
                                            <?php $sub_childs= explode(',',$sub_sub_categories); ?>
                                            <div class="cat_view_more_container"><div class="cat_view_more"><a href="<?php echo $sub_children_data->getUrl();?>"><?php echo $this->__(">"); ?></a></div></div>
                                    </div>
                            </li> 
        <?php }?>
    </ul>
</div>

<?php $simbol= Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();?>
<script src="<?php echo $this->getSkinUrl(); ?>/js/cart_page/jquery.tinycarousel.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>
<link href="<?php echo $this->getSkinUrl(); ?>/css/cart_page/tinycarousel.css" rel="stylesheet" />
<script type="text/javascript">
        jQuery(document).ready(function()
        {

               jQuery("#slider1").tinycarousel({
                axis : "x"
                });
        });
</script>

<script type="text/javascript">
/*Quick View==============================================================*/
jQuery.noConflict();
jQuery(function($) {
    var myhref,qsbtt;
    var opt = {
        itemClass : ['.overview li.item'], //selector for each items in catalog product list,use to insert quickshop image
        aClass : 'a.product-image', //selector for each a tag in product items,give us href for one product
        imgClass: '.product-image img' //class for quickshop href
    };

    // base function

    //get IE version
    function ieVersion(){
        var rv = -1; // Return value assumes failure.
        if (navigator.appName == 'Microsoft Internet Explorer'){
            var ua = navigator.userAgent;
            var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat( RegExp.$1 );
        }
        return rv;
    }

    //read href attr in a tag
    function readHref(){
        var mypath = arguments[0];
        var patt = /\/[^\/]{0,}$/ig;
        if(mypath[mypath.length-1]=="/"){
            mypath = mypath.substring(0,mypath.length-1);
            return (mypath.match(patt)+"/");
        }
        return mypath.match(patt);
    }

    //string trim
    function strTrim(){
        return arguments[0].replace(/^\s+|\s+$/g,"");
    }

    function _qsJnit(){
        var selectorObj = arguments[0];
        var listprod = $$(selectorObj.itemClass);
        var mypath = 'quickview/index/view';
        if (EM.Quickview.BASE_URL.indexOf('index.php') == -1){
            mypath = 'index.php/' + mypath;
        }
        var baseUrl = EM.Quickview.BASE_URL + mypath;

        var _qsHref = "<a id=\"md_quickview_handler\" href=\"#\" style=\"visibility:hidden;position:absolute;top:0;left:0\"><img style=\"display:none;\" alt=\"quickview\" src=\""+EM.Quickview.QS_IMG+"\" /></a>";
        $(document.body).append(_qsHref);
        var qsHandlerImg = $('#md_quickview_handler img');

        $.each(listprod, function(index, value) {
            var reloadurl = baseUrl;

            //get reload url
            myhref = $(value).children(selectorObj.aClass);
            if (myhref.length == 0) return;
            var prodHref = readHref(myhref.attr('href'))[0];
            prodHref[0] == "\/" ? prodHref = prodHref.substring(1,prodHref.length) : prodHref;
            
            prodHref=strTrim(prodHref);

            reloadurl = baseUrl+"/path/"+prodHref;
            version = ieVersion();
            if(version < 8.0 && version > -1){
                reloadurl = baseUrl+"/path"+prodHref;
            }
            //end reload url

            $(selectorObj.imgClass, this).bind('mouseover', function() {
                if (this.className == 'i_new') return;
                var o = $(this).offset();
                $('#md_quickview_handler').attr('href',reloadurl).show()
                    .css({
                        'top': o.top+($(this).height() - qsHandlerImg.height())/2+'px',
                        'left': o.left+($(this).width() - qsHandlerImg.width())/2+'px',
                        'visibility': 'visible'
                    });
            });
            $(value).bind('mouseout', function() {
                $('#md_quickview_handler').hide();
            });
        });

        //fix bug image disapper when hover
        $('#md_quickview_handler')
            .bind('mouseover', function() {
                $(this).show();
            })
            .bind('click', function() {
                $(this).hide();
            });
        //insert quickview popup

        $('#md_quickview_handler').fancybox({
            'type'              : 'ajax',
            'titleShow'         : false,
            'autoScale'         : false,
            'transitionIn'      : 'none',
            'transitionOut'     : 'none',
            'scrolling'         : 'no',
            'padding'           :0,
            'margin'            :0,
            'overlayColor'      : EM.Quickview.OVERLAYCOLOR,
            'autoScale'         : false,
            'autoDimensions'    : false,
            'width'             : EM.Quickview.QS_FRM_WIDTH,
            'height'            : 'auto',
            'onComplete'        : function() {
                $('#fancybox-content').height('auto');
            }
        });
    }

    //end base function

    if (typeof jqSmartCatalog != 'undefined') {
        jqSmartCatalog(document).bind('smart-pagination-ajax-after', function() {
            _qsJnit(opt);
        });
    }

    _qsJnit(opt);
});

    function show_add_cart(id)
    {
        jQuery("#quick_cart_con_"+id).show();
    }
    function hide_add_cart(id)
    {
        jQuery("#quick_cart_con_"+id).hide();
    }
    setInterval(function(){ 
        jQuery(".next").click();
     },5000);
</script>


