<?php 
$root_category=Mage::getModel('catalog/category')->load(2);
$sub_categories=$root_category->getChildren();

$childs=explode(',',$sub_categories);
unset($childs[1]);   //remove 'eerste hulp & thuiszorg' from list (notice the '-2')
unset($childs[2]);   //remove 'HEAL SHOPS' from list (notice the '-2')

$sc_count=count(explode(',',$sub_categories))-2; 
$c_count=$root_category->getChildrenCount()-2;  
?>
<div class="home_categories">
    <?php $i=0; foreach($childs as $category) { ?>
        <?php if($i++%4==0): ?><?php $li_s=1;?>
            <ul><?php $ul++; ?>
        <?php endif; ?>
                <?php $sub_children_data=Mage::getModel('catalog/category')->load($category);?>
                        <li>
                                <div class="fcategory-details">

                                        <!--Category Image========================= -->
                                        <a href="<?php echo $sub_children_data->getUrl(); ?>"><div class="fcategory-image"><img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$sub_children_data->getThumbnail();?>"></div></a>
                                        <div class="cat_icon">
                                            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>media/ame/cat_icon/home_page/<?php echo  $sub_children_data->getUrlKey()?>.gif">
                                        </div>
                                        <!--Category Name============================ -->
                                        <div class="fcategory-name"><h1><a href="<?php echo $sub_children_data->getUrl(); ?>"><?php echo $sub_children_data->getName()."<br>";?></a></h1></div>
                                        <!--Sub Categories=========================== -->
                                        <?php $sub_sub_categories= $sub_children_data->getChildren();?>
                                        <?php $sub_childs= explode(',',$sub_sub_categories); ?>
                                        <div class="sub-c-container">
                                            <ul>
                                                    <?php $j=1 ?>
                                                    <?php foreach ($sub_childs as $sub_sub_category){ if($j++<=4): ?>
                                                            <?php $sub_sub_child_data=Mage::getModel('catalog/category')->load($sub_sub_category); ?>
                                                                <?php if ($sub_sub_child_data->getName()!=NULL): ?>
                                                                    <li>
                                                                        <a href="<?php echo $sub_sub_child_data->getUrl(); ?>"><?php echo $sub_sub_child_data->getName()?><span> »</span></a>
                                                                    </li> 
                                                                <?php endif; ?>
                                                    <?php endif; } ?>
                                            </ul>
                                        </div>
                                        <div class="cat_view_more_container"><div class="cat_view_more"><a href="<?php echo $sub_children_data->getUrl();?>"><?php echo $this->__("View More"); ?></a></div></div>
                                </div>
                        </li> 
                        <?php  if($li_s++<=3): ?>
                        <div class="li-seperator"></div>
                        <?php endif; ?>
            <?php if($i==$c_count || $i%4==0): ?>
                </ul>
             <?php if($i<$sc_count): ?>
            <div class="ul_seperator"></div>
            <?php endif; ?>
            <?php endif; ?>
    <?php }?>
</div>
