<?php
/**
 *
<p><img src="<?php echo $this->getBaseUrl(); ?>media/homepage_banner.png" alt="" /></p>
<p>{{block type="core/template" template="ame/amecat.phtml"}}</p>
 
 */
?>

<?php //AME Block (main homepage banner) -- make block? ?>
<div class="home_page_banner">
    <p><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/homepage_banner.png" alt="" /></p>
</div>



<?php /*if (Mage::helper('superslideshow')->getCfg('general/enabled')): ?>
<div class="merken-rotatie-box-container">
        <div class="merken-rotatie-box">
                <div class="inner-schaduw-box">
                        <div class="box-links">
                                <div class="box-rechts clearfix">
                                        <div class="rotatie-box relative">
                                                <?php $cfg = $this->getSlideshowConfig(); //Read slideshow config ?>
                                                <div class="the-slideshow slideshow-wrapper">    
                                                                <div class="slideshow">
                                                                        <div class="slide">
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>difrax" title="Difrax"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_1.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>weleda" title="Weleda"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_2.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>avène" title="Avène"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_3.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>nuxe" title="Nuxe"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_4.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>vichy" title="Vichy"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_5.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>mustela" title="Mustela"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_6.jpg"></a>
                                                                        </div>
                                                                        <div class="slide">
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>difrax" title="Difrax"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_7.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>weleda" title="Weleda"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_8.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>avène" title="Avène"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_9.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>nuxe" title="Nuxe"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_10.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>vichy" title="Vichy"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_11.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>mustela" title="Mustela"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_12.jpg"></a>
                                                                        </div>
                                                                        <div class="slide">
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>difrax" title="Difrax"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_1.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>weleda" title="Weleda"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_2.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>avène" title="Avène"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_3.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>nuxe" title="Nuxe"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_13.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>vichy" title="Vichy"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_14.jpg"></a>
                                                                                <a href="<?php echo $this->getBaseUrl(); ?>mustela" title="Mustela"><img src="<?php echo $this->getBaseUrl(); ?>media/ame/homepage/brands/brandlogo_15.jpg"></a>
                                                                        </div>
                                                                </div>
                                                        <a href="#" id="home-slides-prev" class="backward browse-button"></a>
                                                        <a href="#" id="home-slides-next" class="forward browse-button"></a>
                                                </div>
                                        </div>
                                        <script type="text/javascript">
                                        //<![CDATA[
                                        jQuery(function() {
                                                jQuery(".slideshow").cycle({
                                                        <?php
                                                        //Print slideshow configuration
                                                        foreach ($this->getSlideshowConfig() as $cfg)
                                                                echo "{$cfg['label']}: {$cfg['value']}, ";
                                                        ?>
                                                        //pager: '#home-slides-pager',
                                                        prev: '#home-slides-prev',
                                                        next: '#home-slides-next'
                                                });
                                        });
                                        //]]>
                                        </script>					
                                </div>
                        </div>
                </div>
        </div>
</div>
<?php endif; */?>

